.content-cart{
    display: grid;
    grid-template-rows: 5.7% auto;
}
.content-cart-list{
    display: flex;
    gap: 1em;
    max-width: 990px;
    width: 100%;
}
.content-carrito-lista{
    padding: 0 .8em 0 .8em;
    border-radius: 5px;
    width: 100%;
}
.lista-cart{
    display: flex;
    flex-direction: column;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--divisor);
    box-shadow: -1px 8px 10px -1px rgba(0,0,0,.12);
    border-radius: 20px;
    border: 1px solid #e5edef;
    background: #fff;
}
.content-cart-product-infor_ttrq{
    display: flex;
    justify-content: space-between;
}
.content-img_e_info_cart{
    display: flex;
}
.content-img-cart{
    width: 90px;
    height: 90px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 20px;
}
.content-img-cart > div{
    width: 100%;
    height: 100%;
}
.content-info-cart{
    width: auto;
}
.content-name-cart{
    font-size: 1.1em;
    text-decoration: none;
    font-weight: lighter;
    color: #333;
}
.content-detail-cart{
    display: flex;
    font-size: .7em;
    margin: .4em 0 1em 0;
}
/* MÁS INFORMACIÓN DEL PRODUCTO*/
.title-info-cart{
    font-weight: bold;
    margin-right: 10px;
}
.title-info-cart > span{
    font-weight: lighter;
}
.content-quantity-product-cart{
    display: flex;
    flex-direction: row;
    width:25%;
    align-items: center;
}
.inc-arrow,
.dec-arrow{ 
    background: #ddd;
    border-radius: 50%;
    padding: .3em .6em;    
    font-size: 1.05em;
}
.inc-arrow:hover{ 
    cursor:pointer;
    opacity:.7;
    color: #000;
}
.inc-arrow:active,
.dec-arrow:active{
    transform:scale(.90);
}
.dec-arrow{
    margin-right: .5em;
    background: var(--fondo);
    color: var(--divisor);
}
.inc-arrow{
    margin-left: .5em;
}
.content-price-cart{
    grid-area: price-cart;
    text-align: right;
    font-weight: bold;
}
.content-delete-cart{
    grid-area: delete-cart;
    text-align: right;
}
.delete-cart{
    text-decoration: none;
}
.content-total-cart{
    box-sizing: border-box;
    border-radius: 5px;
}
.content-total-cart > .secc-cart-client-total{
    background:#fff;
    padding: 1em;
    width: 290px;
    box-shadow: -1px 8px 10px -1px rgba(0,0,0,.12);
    border-radius: 20px;
}
.secc-cart-client-total > .title-total-cart{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: .5em;
}
.secc-cart-client-total > .content-titles-price-cart,
.secc-cart-client-total > .content-title-send-cart{
    font-size: .9em;
}
.secc-cart-client-total > .content-titles-price-cart{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}
.secc-cart-client-total > .content-title-send-cart{
    display: flex;
    justify-content: space-between;
}
.secc-cart-client-total > .divisor-total-cart{
    border-top: 1px solid var(--divisor);
    margin: 1em 0;
}
.secc-cart-client-total > .content-total-price-cart{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
}
.secc-cart-client-total > .btn-comprar-cart{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #fff;
    background:var(--estado_nopagado);
    padding: .9em 0 .5em 0;
    border-radius: 20px;
}
.secc-cart-client-total > .btn-comprar-cart:hover{
    opacity: .7;
}
.secc-cart-client-total > .btn-comprar-cart:active{
    transform: scale(.95);
}