/*=================================
=            NUEVO CSS            =
=================================*/
.sidebar-nav{
  display: block;
  box-sizing: border-box;
  position: fixed;
  background-color: #fff;
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: -100%;
  width: 100%;
  transition: ease .3s;
}
.sidebar-nav.active{
  left: 0;
  width: 100%;
  box-shadow: 1px 0 80px 780px rgba(0,0,0,.6);
  z-index: 999;
  overflow-y: auto;
}
.user-image > .user-img-content > .name-content-user-v > p:first-child{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0 !important;
}
.user-image{
  padding: 1rem 1rem .5rem 1rem;
  box-sizing: border-box;
  width: 100%;
}
.user-image > .user-img-content > .img-photo-content-user-v{
  border-radius: 10px;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 5px 10px 3px rgba(0,0,0,.15);
  overflow: hidden;
  background: rgba(0,0,0,.02);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .5rem;
}
.container-memb-rest_cli{
  background: #fff;
  border-radius: 50%;
  top: 3.8rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  box-shadow: 0 3px 10px 1px rgba(0,0,0,.2), 0 0 0 2px #fff inset;
  transition: all ease .3s;
}
.user-image > .user-img-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.user-image > .user-img-content > .name-content-user-v{
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  max-width: 200px;
}
/*====================================
=            ANTIGUO CSS            =
====================================*/
/* FLOTANTE DE LA MEMBRESÃA*/
.container-memb-rest_cli:hover{
  transform: scale(1.1);
}
.container-memb-rest_cli:active{
  transform: scale(.95);
}
.container-memb-rest_cli > form{
  width: 100%;
  height: 100%;
}
.container-memb-rest_cli > form > button{
  text-decoration: none;
  border: none;
  color: #000;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
.container-memb-rest_cli > form > button > .content-memb-rest_cli{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.container-memb-rest_cli > form > button > .content-memb-rest_cli > div{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  overflow: hidden;
}

/*FOTO DEL CLIENTE Y NOMBRE DE LA TIENDA O EMPRESA*/
/* FOTO DE LA TIENDA O EL CLIENTE*/
.user-image > .user-img-content > .img-photo-content-user-v > div{
  width: 100%;
  height: 100%;
}
.user-image > .user-img-content > .name-content-user-v > p:nth-child(2){
  font-size: 17px;   
  margin: 0;
  padding: 0;
}
.user-image > .user-img-content > .name-content-user-v > p:nth-child(2) > span{
  color: red;
  font-weight: bold;
}






@media (min-width: 300px){

}

@media (min-width: 320px){
  
}

@media (min-width: 360px){
  
}

@media (min-width: 480px){
 .sidebar-nav.active{
    left: 0;
    width: 360px;
    box-shadow: 1px 0 80px 1500px rgba(0,0,0,.6);
    z-index: 999;
    overflow-y: auto;
  } 
}

@media (min-width: 600px){
  .user-image > .user-img-content{
    display: grid;
    grid-template-columns: 70px auto;
    grid-column-gap: 1rem;
    justify-content: flex-start;
  }
  .user-image > .user-img-content > .name-content-user-v{
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
}

@media (min-width: 768px){
  
}

@media (min-width: 1024px){
  
}

@media (min-width: 1280px){
  .sidebar-nav{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    left: 0;
  }
  .user-image{
    box-sizing: border-box;
    width: max-content;
    padding: 1rem .5rem .5rem .5rem; 
  }
  .user-image > .user-img-content > .name-content-user-v > p:first-child{
    font-size: 20px;
  }
  .user-image > .user-img-content{
    display: grid;
    grid-template-columns: 80px auto;
    grid-gap: 1.2rem;
  }
  .user-image > .user-img-content > .img-photo-content-user-v{
    border-radius: 10px;
    box-sizing: border-box;
    width: 80px;
    margin-right: 18px;
    height: 80px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 5px 10px 3px rgba(0,0,0,.15);
    overflow: hidden;
    background: rgba(0,0,0,.02);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-memb-rest_cli{
    background: #fff;
    border-radius: 50%;
    top: 3.8rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    box-shadow: 0 3px 10px 1px rgba(0,0,0,.2), 0 0 0 2px #fff inset;
    transition: all ease .3s;
  }
  .user-image > .user-img-content{
    display: grid;
    grid-template-columns: 80px auto;
    grid-gap: 1rem;
  }
  .user-image > .user-img-content > .name-content-user-v{
    margin-bottom: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 200px;
    max-width: 200px;
  }
}

@media (min-width: 1400px){
  
}