/* ESTILOS PARA LA PÁGINA DE CONFIRMACIÓN */
.content-verify_m-success_ttrq{
    width: 100%;
    min-height: 100vh;
}
.content-top_v-m-s_ttrq{
    background: #7AA248;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem 5rem 1rem 5rem;
    flex-direction: column;
    align-items: center;
}
.content-icon-v-m-s_ttrq{
    width: 150px;
    height: 150px;
}
.content-icon-v-m-s_ttrq > div{
    width: 100%;
    height: 100%;
    transition: all .3s;
}
.content-icon-v-m-s_ttrq > div:hover{
    transform: translateY(10px);
}
.content-icon-v-m-s_ttrq > h3{
    margin: 0 !important;
    font-size: 2.3rem !important;
}
.content-bottom_v-m-s_ttrq{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 2rem auto 1rem auto;
    align-items: center;
    flex-direction: column;
}
.content-bottom_v-m-s_ttrq > a{
    border: none;
    color: #000;
    font-size: 1.4rem;
    padding: .5rem 5.8rem;
    margin: 1em 0;
    box-shadow: 0 0 0 2.7px royalblue inset;
    outline: none;
    text-decoration: none;
    transition: all .4s;
}
.content-bottom_v-m-s_ttrq > a:hover{
    box-shadow: 0 0 0 100px royalblue inset,0 0 16px 4px rgba(0,0,0,.2);
    background: royalblue;
    color: #fff;
}
.footer-v-m-s_ttrq{
    display: flex !important;
    align-self: self-end;
    width: 100%;
    text-align: center;
}