/*=================================
=            NUEVO CSS            =
=================================*/
.content-view-order-str_ttrq > .content-list-info-v-cart_ttrq{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.content-4-item-into-l-if{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.content-4-item-into-l-if > h2{
  font-size: 1.2rem;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--boton-saldo);
}
/*=================================
=            NUEVO CSS            =
=================================*/
/*===================================
=            ANTIGUO CSS            =
===================================*/
.title-dashboard_view-orders{
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 0 1.5rem 0 0;
}
.content-view-order-str_ttrq{
    background: #fff;
    min-height: 180px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 15px 20px 0 rgba(0,0,0,.2);
}
.content-1-item-into-l-if,
.content-2-item-into-l-if,
.content-3-item-into-l-if,
.content-4-item-into-l-if{
    line-height: 1.5rem;
    width: 100%;
}
.content-1-item-into-l-if p,
.content-2-item-into-l-if p,
.content-3-item-into-l-if p,
.content-4-item-into-l-if h2{
    margin-bottom: 0 !important;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.content-1-item-into-l-if > p > span:first-child{
    font-weight: bold;
    margin-right: 0.5rem;
}
.content-2-item-into-l-if > p > span:first-child{
    font-weight: bold;
    margin-right: 0.5rem;
}
.content-3-item-into-l-if > p > span:first-child{
    font-weight: bold;
    margin-right: 0.5rem;
}
.content-4-item-into-l-if > h2 > span:first-child{
    margin-right: 1rem;
}
.cont-tablelist-vieworders{
  background-color: #fff;
  overflow-x: auto;
  box-shadow: 5px 12px 20px 0 rgba(0,0,0,.2);
  border-radius: 0 0 20px 20px;
}
.view-orders-table{
    background: #fff;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    border-collapse: collapse;
    border-radius: 20px;
    font-size: .9em;
    border-top: 1px solid #ddd;
}
.view-orders-table > thead > tr > th{
    padding: .9em 1em;
}
.view-orders-table > thead > tr > th:first-child{
    width: 20px;
}
.view-orders-table > thead > tr > th:nth-child(3),
.view-orders-table > thead > tr > th:nth-child(4),
.view-orders-table > thead > tr > th:nth-child(5),
.view-orders-table > thead > tr > th:nth-child(6),
.view-orders-table > thead > tr > th:nth-child(7){
    text-align: center;
}
.view-orders-table > tbody > tr > td:nth-child(3),
.view-orders-table > tbody > tr > td:nth-child(4),
.view-orders-table > tbody > tr > td:nth-child(5),
.view-orders-table > tbody > tr > td:nth-child(6),
.view-orders-table > tbody > tr > td:nth-child(7){
    text-align: center;    
}
.view-orders-table > tbody > tr > td{
    padding:1.2em 1em;
    border-top: 1px solid var(--divisor);
}
.view-orders-table > tbody > tr > td:first-child{
    text-align: center;
}
.view-orders-table > tbody > tr:hover > td{
    background: var(--fondo);
}
.view-orders-table > tbody > tr > td:nth-child(1){
    color: red;
}
.view-orders-table > tbody > tr > td:nth-child(2),
.view-orders-table > tbody > tr > td:nth-child(3),
.view-orders-table > tbody > tr > td:last-child{
  min-width: 160px;
}
.view-orders-table > tbody > tr > td:nth-child(5),
.view-orders-table > tbody > tr > td:nth-child(6){
    text-align: center;
}

/*===========================================================
=            MEDIA QUERIES INTO THIS STYLESSHEET            =
===========================================================*/
@media (min-width: 300px){

}

@media (min-width: 320px){
  
}

@media (min-width: 360px){
  
}

@media (min-width: 480px){
  
}

@media (min-width: 600px){
  .content-view-order-str_ttrq > .content-list-info-v-cart_ttrq{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .content-4-item-into-l-if{
    grid-column: span 2;
  }

  .content-4-item-into-l-if > h2{
    justify-content: flex-end;
  }
}

@media (min-width: 768px){
  
}

@media (min-width: 1024px){
  
}

@media (min-width: 1280px){
  .content-view-order-str_ttrq > .content-list-info-v-cart_ttrq{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  } 
  .content-4-item-into-l-if{
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right;
  }
  .content-4-item-into-l-if > h2{
    font-size: 1.2rem;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1400px){
  
}