/* IMPORTAR LAS VARABLES Y MIXINS A UTILIZAR EN EL TEMA */
@import 'variables';
@import 'mixins';

:root,
*,
*::before,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family-1;
}
a{
	text-decoration: none !important;
}
div{
	&[aria-expanded="true"],
	&[aria-visibility="show"]{
		display: none;
		pointer-events: none;
		opacity: 0;
	}
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
/* CLASS UTILITIES */
.box{
	@include max-width($max-width);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 1rem;
}
.box-wuot-pdd{
	@include max-width($max-width);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.box-redx{
	@include max-width($max-width-redx);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 1rem;
}
.box-f{
	@include max-width($max-width-footer);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 1rem;
}
/* HEADER - PÁGINAS DESCRIPTIVAS */
.page_texto_b1{
	position: relative;
	height: 70px;
	box-sizing: border-box;
	background: $theme-clr-primary;
	box-shadow: 0 0 20px 1px rgba(0,0,0,.4);
}
/* BOTÓN - IR HACIA ARRBA */
#toTopgobtn{
  position: fixed;
  right: 0;
  opacity: 0;
  visibility: hidden;
  bottom: 25px;
  margin: 0 25px 0 0;
  z-index: 999;
  transition: 0.35s;
  transform: scale(0.6);
  width: 46px;
  height: 46px;
  background-color: #fff;
  opacity: 1;
  transition: all 0.25s;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.3);
  padding: 1.5rem 0 !important;
	&:hover{
	  background-color: $theme-clr-primary;
	  color: #fff;
	}
	&:hover:after{
	  color: #fff;
	} 
	&:after{
	  font-family: "themify";
	  content: "\e648";
	  position: relative;
	  display: block;
	  top: 50%;
	  transform: translateY(-50%);
	  color: rgba(0,0,0,.4);
	  font-weight: bold;
	}
	&.show{
	  opacity: 1;
	  visibility: visible;
	  transform: scale(1);
	}
}