/* VARIABLES GLOBALES PARA EL TEMA */
	/* FUENTES PRINCIPALES */	
	$total-font-family									: sans-serif !important;
	// $total-font-family									: 'Poppins', sans-serif;
	
	/* ANCHOS Y ALTOS DE PANTALLA */
	$min-headertop											: 4.5rem;
	$max-width													: 1400px;

	/* COLORS - THEME */
	$theme-clr-primary									: #003857;
	$theme-clr-titles										: #B58440;
	$theme-clr-titles-hover							: #FFF;
	$theme-clr-btns											: #B58440;
	$theme-clr-btns-border							: #B80F0F;
	$theme-clr-btns-txt									: #fff;