/* VARIABLES GLOBALES PARA EL TEMA */
/* FUENTES PRINCIPALES */	
// $font-family-0											: sans-serif !important;
$font-family-1											: "Quicksand", sans-serif;
$font-family-2											: 'Raleway', sans-serif;
$font-family-3											: "Montserrat", sans-serif;
$font-family-4											: "Sen", sans-serif;
$font-family-5											: "Oxygen", sans-serif;
$font-family-6											: "Spartan", sans-serif;

/* ANCHOS Y ALTOS DE PANTALLA */
$max-width													: 1400px;
$max-width-redx											: 1152px;
$max-width-footer										: 1320px;

/* COLORS - THEME */
$theme-clr-primary									: #003857;
$theme-clr-btns											: #B80F0F;
$theme-clr-btns-border							: #B80F0F;
$theme-clr-btns-hover								: #FF5151;
$theme-clr-btns-txt									: #fff;
$theme-clr-paragraph								: #808080;
// $theme-clr-login-background					: #DFE9F2;
$theme-clr-login-background					: #FFFFFF;
$theme-clr-btn-register							: #8FA5B5;
$theme-clr-txt-o										: #636694;