/* IMPORTAR LAS VARABLES Y MIXINS A UTILIZAR EN EL TEMA */
@import 'variables';
@import 'mixins';

:root,
*,
*::before,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family-1;
}
a{
	text-decoration: none !important;
}
div{
	&[aria-expanded="true"],
	&[aria-visibility="show"]{
		display: none;
		pointer-events: none;
		opacity: 0;
	}
}
ul, li{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
/* CLASS UTILITIES */
.box{
	@include max-width($max-width);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 1rem;
}
.box-wuot-pdd{
	@include max-width($max-width);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.box-redx{
	@include max-width($max-width-redx);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 1rem;
}
.box-f{
	@include max-width($max-width-footer);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 1rem;
}
.box-small{
	max-width: $max-width-m;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.one-hidden > option:first-child{
	display: none !important;
}
.img-backdrop-dark{
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
}
// JUSTIFY-CONTENTS - FLEX
.flx-justify-center{display: flex !important;justify-content: center !important;}
.flx-justify-start{display: flex !important;justify-content: flex-start !important;}
.flx-justify-end{display: flex !important;justify-content: flex-end !important;}
/* MENSAJE DE ÉXITO O LOADER DE ACCESO */
#msgAlertLoginSuccess{
	opacity: .8;
	@include loaderPoints($theme-clr-btns, #fff);
}
/* MENSAJE DE ERROR O ALERTA */
#msgAlertLoginErr{
	@include error-message(#fff, red);
}
/* TAMAÑOS MÍNIMOS EN GRID-CONTAINER - FIT */