/* IMPORTAR LAS VARABLES Y MIXINS A UTILIZAR EN EL TEMA */
@import 'variables';
@import 'mixins';

:root,
*,
*::before,
*::before{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji", $font-family-1 !important;
}
body{
	overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.5;
}
a{
	text-decoration: none !important;
}
div{
	&[aria-expanded="true"],
	&[aria-visibility="show"]{
		display: none;
		pointer-events: none;
		opacity: 0;
	}
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
	-moz-appearance:textfield;
	-webkit-appearance: none;
	appearance: textfield;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
/* CLASS UTILITIES */
.box{
	@include max-width($max-width);
	margin: 0 auto;
	width: 100%;
	padding: 1rem;
}