/* VARIABLES GLOBALES PARA EL TEMA */
/* FUENTES PRINCIPALES */	
$font-family-1											: 'Felix Titling', sans-serif;

/* ANCHOS Y ALTOS DE PANTALLA */
$max-width													: 1400px;
$max-width-redx											: 1152px;
$max-width-footer										: 1320px;

/* COLORS - THEME */
$theme-clr-primary									: #003857;
$theme-clr-btns											: #B80F0F;
$theme-clr-btns-border							: #B80F0F;
$theme-clr-btns-hover								: #FF5151;
$theme-clr-btns-txt									: #fff;
$theme-clr-paragraph								: #444444;
$theme-clr-login-background					: #FFFFFF;
$theme-clr-btn-register							: #687279;
$theme-clr-txt-o										: #636694;
/* STYLES INTO SHOP */
$shop_card-border-radius-1					: 6px;
$shop_card-box-shadow-1							: 0px 2px 5px 1px rgba(0,0,0,.1);
$shop_card-clr-border-1							: thin solid #e6e6e6;
$shop_card-header-clr-1							: #F8F8F8;
/* VARIABLES CUSTOMS */
$shop_btn-clr-1											: #E62E04;
$shop_btn-update-clr-1							: #027CFD;
$shop_btn-delete-clr-1							: #D93747;
$shop_btn-membership-clr-1					: #F04587;