$min-height-header : 70px;
$max-height-banner-mobile: 810px;
$max-height-banner-tablet: 590px;
$max-height-banner-desktop: 665px;
/* HOME - NAVIGATION AND BANNER  */
.c-bannerH{
	position: relative;
	width: 100%;
	height: auto;
	color: #fff;
	z-index: 99;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0;
	box-sizing: border-box;
	padding: 0;
	.overlay{
    display: none;
		position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    &.open{
    	display: block;
    	z-index: 1029;
    }
    @media (min-width: 991px){
    	display: none;
    	&.open{
    		display: none;
    	}
    }
	}
	/* HOME - NAVIGATION */
	&__nav{
		background: $theme-clr-primary;
		color: #fff;
		position: fixed;
		top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: $min-height-header;
    max-height: $min-height-header;
    height: $min-height-header;
		@media (min-width: 480px){
			padding: 0.8rem 1rem;
		}
		@media (min-width: 991px){
			padding: 0;
		}
		&__clinks{
		  display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -ms-flex-align: center;
	    align-items: center;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
    	padding-right: .5rem;
    	padding-left: .5rem;
    	/* NAVIGATION - LOGO */
    	&__cIconLogo{
    		padding: 0;
    		margin: 0;
    		@media (min-width: 1220px){
    			padding: 1rem;
    		}
    		img{
    			max-width: 115px;
    			width: 90%;
    			@media (min-width: 991px){
    				max-width: 130px;
    			}
    		}
    	}
    	/* NAVIGATION - SIDEBARLEFT */
    	&__cSideLeft{
    		-webkit-transform: translateX(-100%);
		    transform: translateX(-100%);
		    position: fixed;
		    top: 0px;
		    bottom: 0;
		    margin: auto;
		    left: 0;
		    -webkit-transition: all ease 0.25s;
		    transition: all ease 0.25s;
    		background: $theme-clr-primary;
    		top: 10px;
    		width: 100%;
    		&.open{
    			-webkit-transform: translateX(0%);
			    transform: translateX(0%);
			    width: 100%;
    		}
    		@media (min-width: 300px){
    			top: 8px;
    			&.open{
    				width: 80%;
    			}
    		}
    		@media (min-width: 991px){
    			width: auto;
    			position: relative;
    			top: auto;
    			left: auto;
    			right: auto;
    			bottom: auto;
    			margin: 0;
    			display: -ms-flexbox;
			    display: flex;
			    -ms-flex-preferred-size: auto;
			    flex-basis: auto;
    			-webkit-transform: translateX(0);
		    	transform: translateX(0);
		    	&.open{
    				width: auto;
    			}
    		}
    		&__m{
    			width: 100%;
			    list-style: none;
			    padding: 0;
			    margin: 0;
			    overflow-y: auto;
			    max-height: unset;
			    &__link{
			      flex: auto;
				    text-align: center;
				    color: #fff;
				    transition: .2s ease;
				    font-weight: bold;
				    font-size: 0.84rem;
				    display: block;
				    padding: 1.2rem 0;
				    border-bottom: thin solid grey;
				    border-radius: 0;
				    margin: 0;
				    border-right: unset;
				    &:link,
				    &:visited,
				    &:focus,
				    &:active{
				    	color: #fff;
				    }
				    &.active{
				    	background-color: darken($theme-clr-primary, 10%);
				    }
				    &:hover{
				    	color: #fff;
				    	background-color: darken($theme-clr-primary, 10%);
				    }
				    @media (min-width: 991px){
				    	// margin: .5rem 0rem .5rem 0rem;
				    	// padding: .1rem 0 .1rem 0;
				    	margin: 0;
				    	padding: 1.557rem 0 1.56rem 0;
				    	border-top: none;
				    	border-left: none;
				    	border-right: thin solid grey;
				    	border-bottom: none;
				    	&:last-child{
				    		border-top: none;
					    	border-left: none;
					    	border-right: none;
					    	border-bottom: none;
				    	}
				    }
				    li{
				    	flex: auto;
						  margin: 0;
						  text-align: center;
				    }
			    }
    		}
    	}
    	/* NAVIGATION - ÍCONOS DE LOGUEO */
    	&__cIconsLogg{
    		display: flex;
    		align-items: center;
    		justify-content: flex-start;
    		flex-flow: row nowrap;
    		@media (min-width: 1220px){
    			padding: 0 0 0 .5rem;
    		}
    		a{
	        padding: .75rem 1.1rem;
			    border-radius: 6px;
			    text-decoration: none;
			    font-weight: 400;
			    font-size: .65rem;
			    margin-left: 0;
			    transition: ease-in-out .2s;
			    &.ico-user-valid{
			    	padding: .4rem 1rem;
					  display: flex;
					  align-items: center;
					  justify-content: center;
			    }
			    &:first-child{
			    	background: transparent;
				    border: thin solid $theme-clr-btns-border;
				    color: $theme-clr-btns-txt;
				    font-weight: bold;
				    &:hover{
				    	background-color: $theme-clr-btns-border;
				    	color: $theme-clr-btns-txt;
				    }
			    }
			    &:nth-child(2){
		  	    background-color: $theme-clr-btns-border;
		  	    border: thin solid $theme-clr-btns-border;
				    color: $theme-clr-btns-txt;
				    display: none;
				    &:hover{
				    	background-color: darken($theme-clr-btns-border, 20%);
				    }
			    }
			    @media (min-width: 991px){
			    	font-size: .7rem;
			    	margin-left: 0.5rem;
			    	&:first-child{
			    		margin-top: 0;
			    		margin-right: 0;
			    		margin-left: 0;
			    		margin-bottom: 0;
			    	}
			    }
			    @media (min-width: 1220px){
			    	min-width: 112px;
			    	max-width: 116px;
			    	&:nth-child(2){
			    		display: inline-block;
			    	}
			    }
    		}
    		&.valid-user{
    			a{
    				padding: .5rem 1rem;
    				transition: ease-in-out .2s;
    				svg{
    					max-width: 24px;
    					width: 24px;
						  height: 24px;
						  fill: #fff;
						  margin-left: .5rem;  
						  position: relative;
						  top: 2px;
    				}
    				&:hover{
    					background-color: $theme-clr-btns-border;
				    	color: $theme-clr-btns-txt;
    				}
    			}
    		}
    		@media (min-width: 991px){
    			&.valid-user{
    				span{
    					font-size: .9rem;
    					font-weight: 500;
    				}
    				a{
    					padding: .2rem 1.2rem;
    					svg{
    						max-width: 35px;
	    					width: 35px;
							  height: 35px;
    					}
    				}
    			}
    		}
    	}
		}
	}
	/* HOME - HEROIMAGE */
	&__heroI{
		margin-top: $min-height-header;
		width: 100%;
		box-sizing: border-box;
		min-height: 500px;
    max-height: $max-height-banner-mobile;
    height: auto;
    position: relative;
    @media (min-width: 768px){
    	max-height: $max-height-banner-tablet;
    }
    @media (min-width: 1024px){
    	max-height: $max-height-banner-desktop;
    }
		&__c{
			&__m{
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: auto;
				margin-right: auto;
				&__i{
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					/* CONTENIDO DE TEXTOS */
					&__cont{
						max-width: 1152px;
						width: 80%;
						margin: 2rem 0 0 0;
						z-index: 99;
						position: absolute;
						top: 0;
				    display: flex;
				    flex-flow: column nowrap;
				    align-items: center;
				    justify-content: center;
						@media (min-width: 1024px){
							margin: 4rem 0 0 0;
						}
						@media (min-width: 1220px){
							margin: 5rem 0 0 0;
						}
						&__cT{
					    max-width: 680px;
					    width: 100%;
					    margin-left: auto;
					    margin-right: auto;
					    display: flex;
					    align-items: center;
					    justify-content: center;
					    &__title{
					    	text-align: justify;
					    	text-align-last: center;
			    	    color: #fff;
				    	  font-weight: 500;
				    	  word-break: break-word;
				    	  font-size: 1.4rem;
				    	  margin-bottom: 3rem;
				    	  @media (min-width: 768px){
				    	  	font-size: 1.7rem;
				    	  	margin-bottom: 4rem;
				    	  }
				    	  @media (min-width: 1024px){
					    		font-size: 2rem;
					    		margin-bottom: 7rem;
				    	  }
				    	  span{
				    	  	text-align: justify;
				    	  	text-align-last: justify;
				    	  	display: flex;
									&:nth-child(2){
										display: flex;
										align-items: center;
										justify-content: center;
										width: 100%;
										letter-spacing: 0;
										white-space: normal;
										margin-left: 0;
									}
									@media (min-width: 1024px){
										&:nth-child(2){										
											display: flex;
											align-items: center;
											justify-content: center;
											width: 100%;
											letter-spacing: .95rem;
											white-space: normal;
											margin-left: .36rem;
										}
									}
				    	 	}
					    }
						}
						/* VENTAJAS */
						&__cB{
							display: flex;
							flex-flow: row wrap;
					    justify-content: center;
					    align-items: center;
							@media (min-width: 768px){
								align-items: baseline;
								justify-content: space-between;
							}
							&__cdesc{
								position: relative;
								width: 95%;
								display: flex;
								flex-direction: column;
								align-items: center;
								margin-bottom: 3rem;
								text-align-last: center;
								@media (min-width: 768px){
									width: 35%;
									margin-bottom: 0;
								}
								@media (min-width: 1024px){
									width: 40%;
									min-height: 250px;
								}
								&__title{
									font-weight: bold;
									color: #fff;
									font-size: 1.5rem;
									margin-bottom: 1rem;
									@media (min-width: 768px){
										font-size: 1.75rem;
									}
									@media (min-width: 1024px){
										font-size: 1.85rem;
									}
								}
								&__desc{
									font-size: 1.05rem;
									font-weight: 600;
									line-height: 1.4;
									height: auto;
									margin-bottom: 2rem;
									text-align: justify;
									text-align-last: left;
									@media (min-width: 768px){
										font-size: 1.1rem;
									}
									@media (min-width: 1024px){
										font-size: 1.25rem;
										font-weight: 500;
									}
								}
								&__link{
									background-color: $theme-clr-btns-border;
									color: $theme-clr-btns-txt;
									padding: 0.7rem 2.5rem;
									text-align: center;
									display: flex;
									font-weight: bold;
									font-size: .9rem;
									transition: .2s ease-in-out;
									justify-content: center;
									border-radius: 6px;
									box-shadow: 0px 2px 5px 1px rgba(0,0,0,.1);
									@media (min-width: 1024px){
										position: absolute;
										bottom: 0;
									}
									&:hover{
										background-color: $theme-clr-btns-hover;
										color: $theme-clr-btns-txt;
									}
								}
							}
						}
					}
					/* CONTENIDO DE IMAGEN DE FONDO */
					&__cBckgImg{
						z-index: 1;
						width: 100%;
						img{
							width: 100%;
							max-height: $max-height-banner-mobile;
							height: $max-height-banner-mobile;
							object-fit: cover;
							object-position: center;
							background-repeat: no-repeat;
						}
						@media (min-width: 768px){
				    	img{
				    		max-height: $max-height-banner-tablet;
				    		height: $max-height-banner-tablet;
				    	}
				    }
				    @media (min-width: 1024px){
				    	img{
				    		max-height: $max-height-banner-desktop;
				    		height: $max-height-banner-desktop;
				    	}
				    }
					}
				}
			}
		}
	}
}
/* HOME - INFORMACIÓN CON SISTEMA DE TABS */
.c-infTbs{
	min-height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  &__c{
  	background-color: #fff;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    &__item{
    	width: 100%;
    	position: absolute;
	    background-color: #fff;
	    display: none;
	    opacity: 0;
	    visibility: hidden;
	    pointer-events: none;
	    user-select: none;
	    &.active{
	    	display: block;
	    	opacity: 1;
	    	visibility: visible;
	    	pointer-events: auto;
	    	user-select: auto;
	    }
	    /* CONTENIDO */
    	&__cont{
    		align-items: center;
		    justify-content: center;
		    flex-flow: column nowrap;
		    background-color: #fff;
		    min-height: 100vh;
		    /* CONTENIDO TAB - CONTENEDORES */
		    &__itm{
		    	padding-top: 50px;
			    border-bottom: thin solid rgba(0,0,0,0.1);
			    margin: auto;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    flex-flow: column wrap;
			    @media (min-width: 768px){
			    	flex-flow: row nowrap;
			    }
			    &:last-child{
			    	border-bottom: none;
			    }
			    &__c{
			    	width: 100%;
				    display: flex;
				    align-items: center;
				    justify-content: space-between;
				    flex-flow: column wrap;
			    	text-align: center;
			    	margin: 1rem 0 2rem 0;
				    &.c-align-l{
				    	flex-flow: column wrap;
				    }
				    @media (min-width: 768px){
				    	&.c-align-l{
					    	flex-flow: row wrap;
					    }
					    &.c-align-r{
					    	flex-flow: row-reverse wrap;
					    }	
				    }
				    @media (min-width: 991px){
				    	margin: 2rem 0;
				    }
				    &__cIcon{
					    display: table;
					    align-items: center;
					    justify-content: center;
					    vertical-align: middle;
					    float: none;
					    margin-bottom: 1rem;
					    width: 45%;
					    @media (min-width: 768px){
				    		width: 40%;
				    		margin-bottom: 2rem;
					    }
					    @media (min-width: 991px){
				    		width: 50%;
					    }
				    	img{
				    		max-width: 310px;
				    		width: 90%;
				    	}
				    }
				    &__cDesc{
  						text-align: center;
  						margin-top: 1rem;
  						&__title{
  							text-transform: uppercase;
						    font-size: 1.6rem;
						    font-weight: 500;
						    margin-bottom: 1.5rem;
						    span{
						    	&:first-child{
						    		font-weight: 700;
						    	}
						    }
  						}
  						&__desc{
  							font-size: 1rem;
  							color: $theme-clr-paragraph;
  							margin-bottom: 2.5rem;
  							text-align: justify;
  						}
  						&__link{
  							font-size: .9rem;
						    background-color: $theme-clr-btns;
						    color: $theme-clr-btns-txt;
						    font-weight: 800;
						    padding: .75rem 3rem;
						    transition: ease-in-out .2s;
  							display: table;
  							margin: 0 auto;
						    border-radius: 6px;
  							box-shadow: 0px 2px 5px 1px rgba(0,0,0,.1);
  							&:hover{
  								color: $theme-clr-btns-txt;
  								background-color: $theme-clr-btns-hover;
  							}
  						}
  						@media (min-width: 768px){
				    		width: 50%;
				    		margin-top: 0;
				    		&__title{
				    			font-size: 1.7rem;
				    		}
				    		&__desc{
				    			font-size: 1.1rem;
				    		}
				    		&__link{
				    			font-size: 1rem;
				    		}
  						}
  						@media (min-width: 768px){
  							&__title{
  								font-size: 1.8rem;
  							}
  						}
				    }
			    }
		    }
		    /* CONTENIDO TAB - SECTIONS */
		    &__sect{
		    	padding-top: 50px;
			    margin: auto;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    flex-flow: column wrap;
			    @media (min-width: 768px){
			    	flex-flow: row nowrap;
			    }
			    &:last-child{
			    	border-bottom: none;
			    }
			    &__c{
			    	font-family: $font-family-2;
			    	h1{
			        color: steelblue;
					    text-align: center;
					    margin: 0 0 1.2rem 0;
					    font-size: 1.35rem;
					    @media (min-width: 768px){
					    	font-size: 1.85rem;
					    }
					    @media (min-width: 991px){
					    	font-size: 2.15rem;
					    }
					    @media (min-width: 1220px){
					    	font-size: 2.45rem;
					    }
			    	}
			    	p{
			    		text-align: justify;
					    font-size: .85rem;
			    		@media (min-width: 768px){
					    	font-size: 1.05rem;
					    }
					    @media (min-width: 991px){
					    	font-size: 1.2rem;
					    }
			    	}
			    	a{
			    		text-decoration: underline !important;
			    	}
			    	&__cImgB{
		    			text-align: center;
					    display: flex;
					    align-items: center;
					    justify-content: center;
					    margin: 2.1rem 0;
			    		img{
			    			max-width: 240px;
			    			width: 90%;
			    		}
			    	}
			    	&__cSteps{
			    		display: flex;
					    align-items: center;
					    justify-content: center;
					    flex-flow: column nowrap;
					    &__cont{
					    	h1{
					    		text-align: center;
								  padding: .5rem 0 1.5rem 0;
								  color: $theme-clr-btns;
								  font-weight: bold;
					    	}
					    	&__stps{
					    		width: 100%;
					    		&__m{
					    			padding: 0;
									  margin: 0;
									  list-style: none;
									  display: flex;
									  align-items: stretch;
									  justify-content: center;
									  flex-flow: row wrap;
									  &__i{
									  	width: calc(100% - 16px);
										  box-shadow: 0 0 0 1px #ddd;
										  margin: 0 .5rem 2.1rem .5rem;
										  border-radius: .5rem;
										  display: flex;
										  align-items: center;
										  justify-content: flex-start;
										  flex-flow: column nowrap;
										  @media (min-width: 768px){
										  	width: calc(45% - 16px);
										  }
										  @media (min-width: 991px){
										  	width: calc(100% * 1/3 - 16px);
										  }
										  @media (min-width: 1024px){
										  	width: calc(100% * 1/4 - 16px);
										  }
										  &__cIcon{
										  	width: 100%;
											  height: 170px;
											  border-radius: .5rem .5rem 0 0;
											  overflow: hidden;
											  display: flex;
											  align-items: center;
											  justify-content: center;
											  text-align: center;
											  img{
											  	max-width: 263px;
											  	width: 95%;
												  height: 100%;
												  object-position: center;
												  object-fit: fill;
												  padding: 1rem;
											  }
										  }
										  &__cDesc{
										  	padding: 1.2rem;
											  font-size: 1.2rem;
											  min-height: auto;
											  height: auto;
											  p{
											  	span{
											  		color: $theme-clr-btns;
  													font-weight: bold;
											  	}
											  	a{
											  		text-decoration: underline !important;
											  	}
											  	strong{
											  		font-weight: bold;
											  	}
											  }
										  }
									  }
					    		}
					    	}
					    }
			    	}
			    	&__cQstns{
			    		&__m{
				    		display: block;
				    		list-style: none;
				    		padding: 0;
				    		margin: 0;
				    		&__i{
				    			margin-bottom: 4rem;
				    			h1{
				    				color: #555;
				    				text-align: left;
				    				font-size: 1.3rem;
				    				font-weight: bold;
				    				@media (min-width: 768px){
				    					font-size: 1.5rem;
				    				}
				    				@media (min-width: 1024px){
				    					font-size: 1.7rem;
				    				}
				    			}
				    			&__cDesc{
				    				p{
				    					a{
				    						text-decoration: underline !important;
				    					}
				    				}
				    				ul{
				    					li{
				    						margin-bottom: 1rem;
				    					}
				    				}
				    			}
				    		}
			    		}
			    	}
			    }
			  }
    	}
    	/* FOOTER */
    	&__foot{
    		padding: 30px 0;
    		background: $theme-clr-primary;
    		align-self: flex-end;
    		justify-self: flex-end;
    		width: 100%;
    		&__c{
    			&__cB{
    				display: flex;
    				justify-content: space-between;
    				align-items: center;
    				flex-flow: column wrap;
    				@media (min-width: 768px){
    					flex-flow: row nowrap;
					    justify-content: space-between;
					    padding: 0 .5rem;
    				}
    				&__cL{
    					line-height: 3rem;
					    padding: 0;
					    font-weight: bold;
					    &__cT{
					    	margin-bottom: 1rem;
					    	a{
					    		font-family: $font-family-1;
					    		font-size: 1rem;
					    		font-weight: bold;
					    		color: $theme-clr-btns-txt;
					    		border-bottom: 1px solid #fff;
					    		display: block;
					    		width: 80%;
					    		padding-bottom: 0.5rem;
					    		margin: 0 auto;
					    		text-align: center;
					    	}
					    	@media (min-width: 768px){
					    		a{				    			
						    		margin: 0;
	    							text-align: left;
					    		}
					    	}
					    }
					    &__cB{
					    	p{
					    		font-size: 15px;
					    		font-family: $font-family-1;
					    		color: $theme-clr-btns-txt;
					    		text-align: left;
					    	}
					    }
    				}
    				&__cR{
    					display: grid;
							grid-template-columns: 1fr;
							grid-template-rows: auto;
							grid-row-gap: 1rem;
							align-items: flex-start;
							justify-content: flex-start;
							&__cTitle{
								margin: 0 auto;
								color: #fff;
								text-align: center;
								text-transform: uppercase;
								font-weight: bold;
							  font-size: .9rem;
							  color: #fff;	
							  @media (min-width: 600px){
							  	text-align: left;margin: 0;
							  }
							  @media (min-width: 1220px){
							  	text-align: center;
							  }
							  p{
							  	margin: 0;
									font-size: 1.05rem;
							  }
							}
							&__cBtns{
								display: grid;
								grid-template-columns: 1fr;
								grid-template-rows: auto;
								grid-row-gap: 1rem;
								@media (min-width: 1024px){
									grid-template-columns: 1fr 1fr;
									grid-column-gap: 1rem;
								}
								&__link{
									display: flex;
									gap: .5rem;
								  justify-content: space-between;
								  align-items: center;
								  font-size: 1.1em;
								  color: #fff;
								  border-radius: 50px;
								  position: relative;
								  width: 100%;
								  transition: ease-in-out .2s;
								  &__cIcon{
								  	max-width: 65px;
								  	max-height: 65px;
								  	width: auto;
										height: auto;
										border-radius: .5rem;
										overflow: hidden;
										border: thin solid rgba(255,255,255, .5);
										img{
											max-width: 65px;
											width: 100%;
											height: 100%;
											object-fit: cover;
											object-position: center;
										}
								  }
								  span{
								  	text-align: center;
										margin-right: auto;
										font-weight: bold;
										transition: ease-in-out .2s;
								  }
							    &:visited,
							    &:focus,
							    &:active{
							    	color: #fff;
								  	&__cIcon{
								  		box-shadow: 0 0 10px #fff;
								  	}
								  	span{
								  		text-shadow: 0 0 15px #fff;
								  	}
							    }
								  &:hover{
								  	color: #fff;
								  	&__cIcon{
								  		box-shadow: 0 0 10px #fff;
								  	}
								  	span{
								  		text-shadow: 0 0 15px #fff;
								  	}
								  }
								}
							}
							@media (min-width: 600px){
								width: 50%;
							}
							@media (min-width: 1220px){
								width: auto;
								grid-template-columns: 1fr;
								grid-template-rows: auto 1fr;
							}
    				}
    			}
    		}
    	}
    }
  }
}
/* HOME - PÁGINAS DE MÁS INFORMACIÓN */
.c-sectMain{
	/* CONTENIDO INICIAL - GRID */
	&__cgri{
		@media (min-width: 1024px){
			display: grid;
			grid-template-columns: 30% auto;
			grid-column-gap: 1.5rem;
		}
		&__title{
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: $theme-clr-btns;
			font-weight: bold;
			font-size: 1.45rem;
			margin-bottom: 1rem;
			@media (min-width: 768px){
				font-size: 1.5rem;
			}
			@media (min-width: 1024px){
				font-size: 2rem;
				margin: 0;
				text-align: right;
			}
		}
		&__cSteps{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			@media (min-width: 768px){
				flex-direction: row;
				align-items: stretch;
				justify-content: space-around;
			}
			@media (min-width: 1024px){
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				gap: 1.5rem;
			}
			&__itm{
				display: flex;
				width: calc(100% * 1 - 15px);
				flex-direction: column;
				box-shadow: 0 0 0 1px #ddd;
				margin-bottom: 1.5rem;
				@media (min-width: 768px){
					width: calc(100% * 1/2 - 30px);
				}
				@media (min-width: 1024px){
					display: grid;
					grid-template-columns: 65% auto;
					grid-column-gap: 1rem;
					grid-template-rows: 1fr;
					width: 100%;
					align-items: center;
					box-shadow: unset;
					margin: 0;
				}
				p{
					font-size: 0.95rem;
					text-align: justify;
					order: 1;
					margin: 0;
					padding: 1rem 1rem 1rem 1rem;
					border-top: 1px solid #ddd;
					color: $theme-clr-paragraph;
					font-weight: 500;
					@media (min-width: 768px){
						font-size: 1.2rem;
						border: none;
					}
					@media (min-width: 1024px){
						margin-right: 1rem;
						font-size: 1.25rem;
						font-weight: 500;
						order: initial;
						padding: 0;
					}
					strong{
						font-weight: bold;
						color: #000;
					}
				}
				img{
					width: 100%;
					height: 150px;
					object-fit: cover;
					object-position: center;
					@media (min-width: 768px){
						box-shadow: 0 0 0 1px #ddd;
					}
				}
			}
		}
	}
	/* CONTENIDO INICIAL - FLEX AND GRID | MOBILE Y DESKTOP */
	&__cMobDesk{
		&__cMob{
			opacity: 1;
			pointer-events: auto;
			visibility: visible;
			user-select: auto;
			height: 500px;
			display: flex;
			flex-direction: column;
			height: auto;
			gap:.5em;
			@media (min-width: 1024px){
				display: none;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				user-select: none;
			}
			&__title{
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				color: $theme-clr-btns;
				font-weight: bold;
				font-size: 1.35rem;
				@media (min-width: 768px){
					font-size: 1.5rem;
				}
			}
			&__subtitle{
				display: block;
				text-align: justify;
				color: #000;
				font-weight: 500;
				font-size: 1.25rem;
				@media (min-width: 768px){
					font-weight: 600;
					font-size: 1.3rem;
				}
			}
			&__cSteps{
				&__i{
					display: flex;
					width: calc(100% * 1 - 15px);
					flex-direction: column;
					box-shadow: 0 0 0 1px #ddd;
					margin-bottom: 1.5rem;
					@media (min-width: 768px){
						display: grid;
						grid-template-columns:65% auto;
						grid-column-gap: 1rem;
						grid-template-rows: 1fr;
						width:100%;
						align-items: center;
						box-shadow: unset;
					}
					p{
						font-size: 0.95rem;
						text-align: justify;
						order: 1;
						margin: 0;
						padding: 1rem 1rem 1rem 1rem;
						border-top: thin solid #ddd;
						color: $theme-clr-paragraph;
						font-weight: 500;
						@media (min-width: 768px){
							font-size: 1.2rem;
							order: initial;
							border: none;
							padding: 0;
						}
						strong{
							font-weight: bold;
							color: #000;
						}
					}
					img{
						width: 100%;
						height: 150px;
						object-fit: cover;
						object-position: center;
						@media (min-width: 768px){
							box-shadow: 0 0 0 1px #ddd;
						}
					}
				}
			}
		}
		&__cDesk{
			display: none;
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
			user-select: none;
			@media (min-width: 1024px){
				display: flex;
				opacity: 1;
				pointer-events: auto;
				visibility: visible;
				user-select: auto;
				justify-content: space-between;
				align-items: center;
				gap: 1rem;
				height: 500px;
			}
			&__i{
				&:first-child{
					padding: 0 1.5rem;
					h1, h2, h3, h4, h5, h6, p{
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: justify;
						color: $theme-clr-btns;
						font-weight: bold;
						margin-bottom: 0;
						white-space: break-spaces;
						max-width: 300px;
						font-size: 2rem;
					}
				}
				&:nth-child(2){
					margin-right: 1rem;
					h1,h2,h3{
						text-align: justify;
						font-size: 1.45rem;
						margin-bottom: 2rem;
						font-weight: 600;
						text-align-last: justify;
					}
					ul{
						li{
							margin-bottom: 2rem;
							p{
								font-size: 1.25rem;
								margin: 0;
								font-weight: 500;
								color: $theme-clr-paragraph;
								text-align: justify;
								strong{
									font-weight: bold;
									color: #000;
								}
							}
						}
					}
				}
				&:nth-child(3){
					align-self: flex-end;
					padding-bottom: 1.25rem;
					ul{
						li{
							margin-bottom: 1rem;
							img{
								max-width: 13rem;
								box-shadow: 0 0 0 1px #ddd;
							}
						}
					}
				}
			}
		}
	}
	/* CONTENIDO INICIAL - NORMAL */
	&__c{
		text-align: center;
		&__title{
			font-size: 1.75rem;
			font-weight: 500;
			color: #2c2e2f;
			@media (min-width: 768px){
				margin-top: 45px;
				font-size: 1.95rem;
			}
			@media (min-width: 1220px){
				font-size: 2.2rem;
			}
		}
		&__cCards{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: row wrap;
			gap: 1rem;
			@media (min-width: 768px){
				flex-flow: row nowrap;
			}
			&__i{
				max-width: 485px;
				width: 100%;
				border:1px solid #e6e6e6;
				margin: 20px 0 25px 0;
				&:hover{
					background: #dddd;
					box-shadow: 0 3px $theme-clr-btns;
				}
				&__cIcon{
					width: 100%;
					height: 190px;
					@media (min-width: 768px){
						height: 150px;
					}
					@media (min-width: 1024px){
						height: 200px;
					}
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
					}
				}
				&__cDesc{
					padding: 1rem;
					border-top: 1px solid #e6e6e6;
					h1,h2,h3{
						font-size: 1.45rem;
						font-weight: 400;
						color: #2c2e2f;
						@media (min-width: 768px){
							font-size: 1.5rem;
							font-weight: 600;
						}
						@media (min-width: 1024px){
							font-size: 1.7rem;
						}
					}
					p{
						font-size: 1.05rem;
						color: #2c2e2f;
						@media (min-width: 1024px){
							font-size: 1.1rem;
						}
					}
					a{
						display: inline-block;
						background-color: $theme-clr-btns;
						color: #fff;
						font-weight: 700;
						padding: 0.75rem 2rem;
						border-radius: 1.5rem;
						font-size: 0.9rem;
						transition: ease-in-out .2s;
						&:hover{
							background-color: $theme-clr-btns-hover;
							color: #fff;
						}
						@media (min-width: 768px){
							padding: 0.75rem 1rem;
							font-size: .8rem;
						}
						@media (min-width: 1024px){
							font-size: .9rem;
							padding: 0.75rem 2rem;
						}
					}
				}
			}
		}
		&__cflx{
			&__i{
				margin: 2rem 0;
				@media (min-width: 768px){
					display: flex;
					flex: 0 0 100%;
					gap: 1rem;
					align-items: center;
					flex-flow: row wrap;
				}
				&__title{
					color: $theme-clr-btns;
					font-weight: 600;
					margin-bottom: 1rem;
					@media (min-width: 768px){
						order: unset;
						flex: 25%;
						text-align: center;
						margin-right: .5rem;
					}
					@media (min-width: 1024px){
						text-align: right;
						flex: 18%;
					}
				}
				&__cDesc{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-flow: column wrap;
					@media (min-width: 768px){
						display: flex;
						flex: 0 0 100%;
						gap: 1rem;
						flex-direction: row;
						align-items: center;
					}
					@media (min-width: 1024px){
						flex: 60%;
					}
					p{
						text-align: justify;
						font-size: 1.05rem;
						order: 1;
						color: $theme-clr-paragraph;
						margin: 0;
						@media (min-width: 768px){
							order: unset;
							flex: 50%;
							font-size: 1.1rem;
							flex: 65%;
						}
						@media (min-width: 1024px){
							font-size: 1.25rem;
						}
					}
					&__cIcon{
						order: 0;
						width: 80%;
						margin-left: auto;
						margin-right: auto;
						@media (min-width: 768px){
							order: unset;
							flex: 30%;
						}
						img{
							width: 85%;
							margin-left: auto;
							margin-right: auto;
							@media (min-width: 768px){
								width: 70%;
							}
							@media (min-width: 1024px){
								position: relative;
								top: -4px;
							}
						}
					}
					&:nth-child(2){
						img{
							width: 70%;
							@media (min-width: 1024px){
								width: 60%;
							}
						}	
					}
				}
			}
		}
	}
	/* CONTENIDO INICIAL - LOGIN */
	&__cLogg{
		max-width: 432px;
		width: auto;
		padding: 1.5rem;
		margin-left: auto;
		margin-right: auto;
		border-radius: 8px;
		box-shadow: 0px 2px 5px 1px rgba(0,0,0,.1);
		background-color: $theme-clr-login-background;
		@media (min-width: 768px){
			padding: 2rem;
			// margin-top: 20px;
		}
		@media (min-width: 991px){
			// margin-top: 50px;
			padding: 2.5rem 2.5rem;
		}
		&__cLogo{
			max-width: 190px;
			width: auto;
			height: 70px;
			margin: 0 auto 1rem auto;
			@media (min-width: 991px){
				margin: 0 auto 2rem auto;
			}
			&--link{
				text-decoration: none;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}
		&__cFrm{
			&__cCtrls{
				width: 100%;
				position: relative;
				display: flex;
				align-items: center;
				margin-bottom: 1rem;
				background-color: #fff;
				padding-left: 0.7rem;
				border-radius: .8rem;
				background-color: #dfe9f2;
    		border: thin solid #8C9196;
    		border-radius: 4px;
				&__cIcon{
					max-width: 24px;
					max-height: 24px;
					width: 24px;
					height: 24px;
					img{
						width: 100%;
						height: 100%;
						object-fit: contain;
						object-position: center;
					}
				}
				&__ipt{
					width: 100%;
					line-height: 3.3rem;
					border: none;
					outline: none;
					padding-top: 0;
					padding-bottom: 0;
					padding-left: .6rem;
					padding-right: 0.65rem;
					margin-left: 0.6rem;
					border-radius: 0 .6rem .6rem 0;
					// background-color: #dfe9f2;
    			border-left: thin solid #9999997d;
					@media (min-width: 768px){
						font-size: 0.9rem;
					}
					@media (min-width: 1024px){
						min-height: 46px;
						height: 46px;
					}
				}
			}
			&__linkrecovery{
				position: relative;
				top: -3px;
				margin-bottom: .4rem;
				font-size: .9rem;
				font-weight: 400;
				color: $theme-clr-primary;
				@media (min-width: 768px){
					top: 0;
					margin-bottom: 0.5rem;
					font-size: 1rem;
				}
				&:active{
					color: $theme-clr-primary;
				}
				&:hover{
					text-decoration: underline !important;
				}
			}
			button[type=submit]{
				display: flex;
				width: 100%;
			  align-items: center;
			  justify-content: center;
			  background-color: $theme-clr-btns;
			  color: #fff;
			  min-height: 40px;
			  border-radius: 4px;
		    font-weight: 800;
		    border: none;
		    outline: none;
		    box-sizing: border-box;
		    text-decoration: none;
		    transition: ease-in-out .1s;
		    font-size: .9rem;
		    padding: 0.68rem;
		    cursor: pointer;
	    	pointer-events: auto;
	    	user-select: auto;
	    	margin-top: 0.65rem;
		    &:active{
		    	text-decoration: underline !important;
		    }
		    &:hover{
		    	background-color: $theme-clr-btns-hover;
		    }
		    &.active{
		    	background-color: $theme-clr-btns-hover;
		    	cursor: not-allowed;
		    	pointer-events: none;
		    	user-select: none;	
		    }
		    span{
		    	&:last-child{
		    		display: flex;
		    		span{
		    			margin-left: 0.5rem;
						  border: 4px solid rgba(0,0,0,.1);
						  width: 20px;
						  height: 20px;
						  transition: .3s ease-in-out;
						  border-radius: 50%;
						  border-left-color: #fff;
						  animation-name: girar;
						  animation-duration: .2s;
						  animation-timing-function: linear;
						  animation-iteration-count: infinite;
		    		}
		    	}
		    }
		    @keyframes girar {
				 	0%{
				    transform: rotate(0deg);
				  }
				  100%{
				    transform: rotate(360deg);  
				  }
				}
			}
		}
		&__cReg{
			text-align: center;
			&__hr{
				border-top: thin solid $theme-clr-primary;
				position: relative;
				margin-top: 1.9rem;
				margin-bottom: 0;
				margin-left: auto;
				margin-right: auto;
				span{
					background-color: $theme-clr-login-background;
					position: relative;
					padding: 0 .5em;
					top: -.7em;
					font-size: 1rem;
					font-weight: lighter;
					color: $theme-clr-txt-o;
				}
			}
			&__link{
				background-color: $theme-clr-btn-register;
			  color: #fff;
			  padding: .68rem;
			  min-height: 40px;
			  width: 100%;
			  display: block;
			  box-sizing: border-box;
			  font-weight: 800;
		    font-size: .9rem;
		    transition: ease-in-out .2s;  
		    border-radius: 4px;
		    &:hover{
		    	opacity: 0.7;
		    }
		    &.disabledlogin{
		    	cursor: not-allowed;
		    	opacity: 0.5;
		    	pointer-events: none;
		    }
		    @media (min-width: 1024px){
		    	font-size: 1rem;
		    }
			}
		}
		/* DESHABILITAR TODOS LOS CONTROLES */
		&.disabled{
			user-select: none;
	    cursor: not-allowed;
	    pointer-events: none;
	    form, div{
	    	opacity: 0.5;
	    }
	    button, input, select, a{
	    	user-select: none;
		    cursor: not-allowed;
		    pointer-events: none;
		    opacity: 0.5;
		    appearance: none;
	    }
		}
	}
	/* CONTENIDO INICIAL - REGISTRO */
	&__cAcco{
		max-width: 580px;
		margin: 0 auto;
		&__cTitle{
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 0.5rem;
			h1,h2,h3,h4,h5,h6,p, small{
				font-weight: bold;
				color: $theme-clr-primary;
				margin: 0;
			}
			small{
				float: right;
				text-align: right;
			}
		}
		&__cFrm{
			background-color: $theme-clr-login-background;
			border-radius: 6px;
			padding: 1.5rem;
			box-shadow: 0px 2px 5px 1px rgba(0,0,0,.1);
			@media (min-width: 768px){
				padding: 2.5rem 2.5rem;
			}
			&__cCtrls{
				width: 100%;
				position: relative;
				display: flex;
				align-items: center;
				margin-bottom: 0.625rem;
				background-color: #fff;
				flex: 100%;
				// padding-left: 0.7rem;
				border-radius: .8rem;
				border: thin solid #8c9196;
    		border-radius: 4px;
				input, &__ipt{
					width: 100%;
					line-height: 3.3rem;
					border: none;
					outline: none;
					padding-top: 0;
					padding-bottom: 0;
					padding-left: .6rem;
					padding-right: 0.65rem;
					border-radius: 0 4px 4px 0;
					// background-color: #dfe9f2;
					@media (min-width: 768px){
						font-size: 0.9rem;
					}
					@media (min-width: 1024px){
						min-height: 46px;
						height: 46px;
					}
					&[type="number"],
					&[type="number"]::-webkit-inner-spin-button,
					&[type="number"]::-webkit-outer-spin-button{
						-moz-appearance:textfield;
						-webkit-appearance: none;
					}
				}
				select{
					width: 100%;
					line-height: 2.875rem;
					border: none;
					outline: none;
					padding-top: 0;
					padding-bottom: 0;
					padding-left: .6rem;
					padding-right: 0.65rem;
					border-radius: 0 .6rem .6rem 0;
					min-height: 45.99px;
					max-height: 45.99px;
  				height: auto;
  				// background-color: #dfe9f2;
  				&.one-hidd{
  					option{
  						&:first-child{
  							display: none;
  						}
  					}
  				}
				}
			}
			&__cGrpCtrls{
				width: 100%;
				position: relative;
				display: flex;
				align-items: center;
				margin-bottom: 0.625rem;
				border-radius: .8rem;
				flex: 100%;
				&__cCtrl{
					width: 100%;
					position: relative;
					display: flex;
					align-items: center;
					// margin-bottom: 0.625rem;
					background-color: #fff;
					// padding-left: 0.7rem;
					border-radius: .8rem;
					&.w-5{
						flex: 50%;
						margin-left: 0.5rem;
						&:first-child{
							margin-left: 0;
							margin-right: 0;
							margin-top: 0;
						}
					}
					input, &__ipt{
						width: 100%;
						line-height: 3.3rem;
						border: none;
						outline: none;
						padding-top: 0;
						padding-bottom: 0;
						padding-left: .6rem;
						padding-right: 0.65rem;
						border-radius: 0 .6rem .6rem 0;
						border: thin solid #8c9196;
    				border-radius: 4px;
						// background-color: #dfe9f2;
						@media (min-width: 768px){
							font-size: 0.9rem;
						}
						@media (min-width: 1024px){
							min-height: 46px;
							height: 46px;
						}
						&[type="number"],
						&[type="number"]::-webkit-inner-spin-button,
						&[type="number"]::-webkit-outer-spin-button{
							-moz-appearance:textfield;
							-webkit-appearance: none;
						}
					}
					select{
						width: 100%;
						line-height: 2.875rem;
						border: none;
						outline: none;
						padding-top: 0;
						padding-bottom: 0;
						padding-left: .6rem;
						padding-right: 0.65rem;
						border-radius: 0 .6rem .6rem 0;
						min-height: 45.99px;
						max-height: 45.99px;
    				height: auto;
    				border: thin solid #8c9196;
    				border-radius: 4px;
    				// background-color: #dfe9f2;
    				&.one-hidd{
	  					option{
	  						&:first-child{
	  							display: none;
	  						}
	  					}
	  				}
					}
				}
			}
			&__cChckCtrl{
				position: relative;
				left: 20px;
				&__c{
					display: block;
				  position: relative;
				  padding-left: 12px;
				  margin-bottom: 12px;
				  cursor: pointer;
				  -webkit-user-select: none;
				  -moz-user-select: none;
				  -ms-user-select: none;
				  user-select: none;
					&__ipt{
						position: absolute;
					  opacity: 0;
					  cursor: pointer;
					  height: 0;
					  width: 0;
					  display: none;
					}
					&__chck{
						position: absolute;
					  top: 2px;
					  left: -15px;
					  height: 18px;
					  width: 18px;
					  background-color: #fff;
					  border-radius: 5px;
					  border: thin solid $theme-clr-txt-o;
					  &:after{
					  	content: "";
						  position: absolute;
						  display: none;
						  left: 5px;
						  top: 3px;
						  width: 5px;
						  height: 10px;
						  border: solid white;
						  border-width: 0 3px 3px 0;
						  -webkit-transform: rotate(45deg);
						  -ms-transform: rotate(45deg);transform: rotate(45deg);
						  @media (min-width: 1200px){
						  	left: 5px;
						  	top: 1px;
						  }
					  }
					}
					input:checked ~ span{
						background-color: $theme-clr-primary;
					}
					input:checked ~ span:after{
						display: block;
					}
				}
			}
			&__cBtns{
				text-align: center;
				button[type="submit"],input[type="submit"]{
					cursor: pointer;
					display: block;
					border: none;
					outline: none;
					text-decoration: none;
					width: 100%;
					text-align: center;
					background-color: $theme-clr-btns;
					color: $theme-clr-btns-txt;
					border-radius: 4px;
					min-height: 40px;
					padding: 0.68rem;
					font-weight: 800;
					&:active{
						background-color: $theme-clr-btns-hover;
						color: $theme-clr-btns-txt;
					}
					&:hover{
						background-color: $theme-clr-btns-hover;
						color: $theme-clr-btns-txt;
					}
				}
				&__cLinks{
					padding: .8rem 0;
					p{
						margin: 0;
					}
					a{
						margin-left: 0.5rem;
						font-weight: bold;
						color: $theme-clr-primary;
						&:active{
							color: $theme-clr-primary;
						}
						&:hover{
							text-decoration: underline !important;
						}
					}
				}
			}
		}
	}
}
/* LINK DE SLIDEUP */
.c-blck-linkSlideUp{
	display: block;
	height: 50px;
	color: #07437c;
	text-align: center;
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 800;
	margin-bottom: 0;
	@media (min-width: 768px){
		line-height: 50px;
		font-size: 1.25rem;
	}
}
/* TABLA DE PRECIOS - SLIDEUP */
.c-tblpriceSlideUp{
	margin: auto;
	padding: 0;
	height: 100%;
	display: none;
	&__c{
		&__title{
			color: $theme-clr-btns;
			text-align: center;
			margin-bottom: 0;
			display: block;
			font-weight: bold;
			padding-bottom: 1.5rem;
			font-size: 1.3rem;
			@media (min-width: 768px){
				font-size: 1.5rem;
			}
		}
		&__m{
			list-style: none;
	    display: flex;
	    justify-content: center;
	    padding: 0;
	    flex-wrap: wrap;
	    margin-left: auto;
			margin-right: auto;
			width: 90%;
			@media (min-width: 768px){
				width: 90%;
			}
			&__i{
				border: 1px solid #ddd;
				display: flex;
		    flex-direction: column;
		    box-shadow: 0 4px 5px #ddd;
		    border-radius: 5px;
		    width: calc(100% * 1/1);
		    margin: 0 0 2rem 0;
		    @media (min-width: 768px){
		    	width: calc(100% * 1/2 - 32px);
		    	margin: 0 1rem 2rem 1rem;
		    }
		    @media (min-width: 1024px){
		    	width: calc(100% * 1/3 - 32px);
		    }
		    &:hover{
		    	background: rgba(0,0,0,.05);
		    }
		    &__cIcon{
		    	width: auto;
    	    height: 160px;
    	    display: flex;
		    	align-items: center;
		    	justify-content: center;
		    	text-align: center;
		    	margin: 1rem 0;
		    	img{
		    		max-width: 270px;
		    		width: auto;
		    		height: 100%;
		    		object-fit: contain;
		    		object-position: center;
		    	}
		    }
		    &__cDesc{
		    	padding: 0.5rem .7rem 1rem 0.7rem;
		    	height: 100%;
		    	@media (min-width: 1024px){
		    		padding: 0.5rem 1.5rem 1rem 1.5rem;
		    	}
		    	h1,h2,h3,h4{
		    		padding: 0;
	    			margin-bottom: 1rem;
	    			color: #356772;
	    			font-size: 1.25rem;
		    		text-align: center;
		    		font-weight: bold;
		    		@media (min-width: 1024px){
		    			font-size: 1.45rem;
		    		}
		    	}
		    	&__cont{
		    		margin-bottom: 0;
	    			font-size: 15px;
	    			line-height: 1.8em;
	    			ul{
	    				padding-inline-start: 20px;
	    				list-style-type: disc;
	    			}
		    	}
		    	&__link{
		    		display: flex;
		    		color: #B5A687;
	    			font-size: 15px;
	    			font-weight: 600;
	    			text-align: center;
	    			justify-content: center;
		    		padding: 0 0 1rem 0;
		    		&:hover{
		    			color: #716855;
		    		}
		    		@media (min-width: 1024px){
		    			justify-content: flex-end;
		    			padding: 0 2rem 1rem 0;
		    		}
		    	}
		    }
			}
		}
	}
}