$min-height-header : 65px;
$max-height-banner-mobile: 810px;
$max-height-banner-tablet: 590px;
$max-height-banner-desktop: 665px;
/* HOME - NAVIGATION AND BANNER  */
.c-bannerH{
	position: relative;
	width: 100%;
	height: auto;
	color: #fff;
	z-index: 99;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0;
	box-sizing: border-box;
	padding: 0;
	.overlay{
    display: none;
		position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    &.open{
    	display: block;
    	z-index: 1029;
    }
    @media (min-width: 991px){
    	display: none;
    	&.open{
    		display: none;
    	}
    }
	}
	/* HOME - NAVIGATION */
	&__nav{
		background: $theme-clr-primary;
		color: #fff;
		position: fixed;
		top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: $min-height-header;
    max-height: $min-height-header;
    height: $min-height-header;
		@media (min-width: 480px){
			padding: 0.8rem 1rem;
		}
		&__clinks{
		  display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -ms-flex-align: center;
	    align-items: center;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
    	padding-right: .5rem;
    	padding-left: .5rem;
    	@media (min-width: 991px){
				padding-left: 0;
				padding-right: 0;
			}
    	/* NAVIGATION - LOGO */
    	&__cIconLogo{
    		padding: 0 !important;
    		margin: 0 !important;
    		img{
    			max-width: 115px;
    			width: 90%;
    			@media (min-width: 991px){
    				max-width: 130px;
    			}
    		}
    	}
    	/* NAVIGATION - SIDEBARLEFT */
    	&__cSideLeft{
    		-webkit-transform: translateX(-100%);
		    transform: translateX(-100%);
		    position: fixed;
		    top: 0px;
		    bottom: 0;
		    margin: auto;
		    left: 0;
		    -webkit-transition: all ease 0.25s;
		    transition: all ease 0.25s;
    		background: $theme-clr-primary;
    		top: 10px;
    		width: 100%;
    		&.open{
    			-webkit-transform: translateX(0%);
			    transform: translateX(0%);
			    width: 100%;
    		}
    		@media (min-width: 300px){
    			top: 8px;
    			&.open{
    				width: 80%;
    			}
    		}
    		@media (min-width: 991px){
    			width: auto;
    			position: relative;
    			top: auto;
    			left: auto;
    			right: auto;
    			bottom: auto;
    			margin: 0;
    			display: -ms-flexbox !important;
			    display: flex !important;
			    -ms-flex-preferred-size: auto;
			    flex-basis: auto;
    			-webkit-transform: translateX(0) !important;
		    	transform: translateX(0) !important;
		    	&.open{
    				width: auto;
    			}
    		}
    		&__m{
    			width: 100%;
			    list-style: none;
			    padding: 0;
			    margin: 0;
			    overflow-y: auto;
			    max-height: unset !important;
			    &__link{
			      flex: auto;
				    text-align: center;
				    color: #fff;
				    transition: .2s ease;
				    font-weight: bold;
				    font-size: 0.84rem;
				    display: block;
				    padding: 1.2rem 0;
				    border-bottom: thin solid grey;
				    border-radius: 0;
				    margin: 0;
				    border-right: unset;
				    &.active{
				    	color: rgba(255,255,255,.5);
				    }
				    &:hover{
				    	color: rgba(255,255,255,.5);
				    }
				    @media (min-width: 991px){
				    	margin: .5rem 0rem .5rem 0rem;
				    	padding: .1rem 0 .1rem 0;
				    	border-top: none;
				    	border-left: none;
				    	border-right: thin solid grey;
				    	border-bottom: none;
				    	&:last-child{
				    		border-top: none;
					    	border-left: none;
					    	border-right: none;
					    	border-bottom: none;
				    	}
				    }
			    }
    		}
    	}
    	/* NAVIGATION - ÍCONOS DE LOGUEO */
    	&__cIconsLogg{
    		display: flex;
    		align-items: center;
    		justify-content: flex-start;
    		flex-flow: row nowrap;
    		a{  			
	        padding: .75rem 1.1rem;
			    border-radius: 20px;
			    text-decoration: none;
			    font-weight: 400;
			    font-size: .65rem;
			    margin-left: 0;
			    transition: ease-in-out .2s;
			    &.ico-user-valid{
			    	padding: .4rem 1rem;
					  display: flex;
					  align-items: center;
					  justify-content: center;
			    }
			    &:first-child{
			    	background: transparent;
				    border: thin solid $theme-clr-btns-border;
				    color: $theme-clr-btns-txt;
				    font-weight: bold;
				    &:hover{
				    	background-color: $theme-clr-btns-border;
				    	color: $theme-clr-btns-txt;
				    }
			    }
			    &:nth-child(2){
		  	    background-color: #fff;
				    color: #000;
				    display: none;
				    padding: 0.7rem 1.8rem;
				    &:hover{
				    	background-color: darken(#fff, 20%);
				    }
			    }
			    @media (min-width: 991px){
			    	font-size: .7rem;
			    	margin-left: 0.5rem;
			    	&:first-child{
			    		margin-top: 0;
			    		margin-right: 0;
			    		margin-left: 0;
			    		margin-bottom: 0;
			    	}
			    }
			    @media (min-width: 1220px){
			    	&:nth-child(2){
			    		display: inline-block;
			    	}
			    }
    		}
    		&.valid-user{
    			a{
    				padding: .5rem 1rem;
    				transition: ease-in-out .2s;
    				svg{
    					max-width: 24px;
    					width: 24px;
						  height: 24px;
						  fill: #fff;
						  margin-left: .5rem;  
						  position: relative;
						  top: 2px;
    				}
    				&:hover{
    					background-color: $theme-clr-btns-border;
				    	color: $theme-clr-btns-txt;
    				}
    			}
    		}
    		@media (min-width: 991px){
    			&.valid-user{
    				span{
    					font-size: .9rem;
    					font-weight: 500;
    				}
    				a{
    					padding: .2rem 1.2rem;
    					svg{
    						max-width: 35px;
	    					width: 35px;
							  height: 35px;
    					}
    				}
    			}
    		}
    	}
		}
	}
	/* HOME - HEROIMAGE */
	&__heroI{
		margin-top: $min-height-header;
		width: 100%;
		box-sizing: border-box;
		min-height: 500px;
    max-height: $max-height-banner-mobile;
    height: auto;
    position: relative;
    @media (min-width: 768px){
    	max-height: $max-height-banner-tablet;
    }
    @media (min-width: 1024px){
    	max-height: $max-height-banner-desktop;
    }
		&__c{
			&__m{
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: auto;
				margin-right: auto;
				&__i{
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					/* CONTENIDO DE TEXTOS */
					&__cont{
						max-width: 1152px;
						width: 80%;
						margin: 2rem 0 0 0;
						z-index: 99;
						position: absolute;
						top: 0;
				    display: flex;
				    flex-flow: column nowrap;
				    align-items: center;
				    justify-content: center;
						@media (min-width: 1024px){
							margin: 4rem 0 0 0;
						}
						@media (min-width: 1220px){
							margin: 5rem 0 0 0;
						}
						&__cT{
					    max-width: 680px;
					    width: 100%;
					    margin-left: auto;
					    margin-right: auto;
					    display: flex;
					    align-items: center;
					    justify-content: center;
					    &__title{
					    	text-align: justify;
					    	text-align-last: center;
			    	    color: #fff;
				    	  font-weight: 500;
				    	  word-break: break-word;
				    	  font-size: 1.4rem;
				    	  margin-bottom: 3rem;
				    	  @media (min-width: 768px){
				    	  	font-size: 1.7rem;
				    	  	margin-bottom: 4rem;
				    	  }
				    	  @media (min-width: 1024px){
					    		font-size: 2rem;
					    		margin-bottom: 7rem;
				    	  }
				    	  span{
				    	  	text-align: justify;
				    	  	text-align-last: justify;
				    	  	display: flex;
									&:nth-child(2){
										display: flex;
										align-items: center;
										justify-content: center;
										width: 100%;
										letter-spacing: 0;
										white-space: normal;
										margin-left: 0;
									}
									@media (min-width: 1024px){
										&:nth-child(2){										
											display: flex;
											align-items: center;
											justify-content: center;
											width: 100%;
											letter-spacing: .95rem;
											white-space: normal;
											margin-left: .36rem;
										}
									}
				    	 	}
					    }
						}
						/* VENTAJAS */
						&__cB{
							display: flex;
							flex-flow: row wrap;
					    justify-content: center;
					    align-items: center;
							@media (min-width: 768px){
								align-items: baseline;
								justify-content: space-between;
							}
							&__cdesc{
								position: relative;
								width: 95%;
								display: flex;
								flex-direction: column;
								align-items: center;
								margin-bottom: 3rem;
								text-align-last: center;
								@media (min-width: 768px){
									width: 35%;
									margin-bottom: 0;
								}
								@media (min-width: 1024px){
									width: 40%;
									min-height: 250px;
								}
								&__title{
									font-weight: bold;
									color: #fff;
									font-size: 1.5rem;
									margin-bottom: 1rem;
									@media (min-width: 768px){
										font-size: 1.75rem;
									}
									@media (min-width: 1024px){
										font-size: 1.85rem;
									}
								}
								&__desc{
									font-size: 1.05rem;
									font-weight: 600;
									line-height: 1.4;
									height: auto;
									margin-bottom: 2rem !important;
									text-align: justify;
									text-align-last: left;
									@media (min-width: 768px){
										font-size: 1.1rem;
									}
									@media (min-width: 1024px){
										font-size: 1.25rem;
										font-weight: 500;
									}
								}
								&__link{
									background-color: $theme-clr-btns-border;
									color: $theme-clr-btns-txt;
									border-radius: 1.5em;
									padding: 0.7rem 2.5rem;
									text-align: center !important;
									display: flex;
									font-weight: bold;
									font-size: .9rem;
									transition: .2s ease-in-out;
									justify-content: center;
									@media (min-width: 1024px){
										position: absolute;
										bottom: 0;
									}
									&:hover{
										background-color: $theme-clr-btns-hover;
										color: $theme-clr-btns-txt;
									}
								}
							}
						}
					}
					/* CONTENIDO DE IMAGEN DE FONDO */
					&__cBckgImg{
						z-index: 1;
						width: 100%;
						img{
							width: 100%;
							max-height: $max-height-banner-mobile;
							height: $max-height-banner-mobile;
							object-fit: cover;
							object-position: center;
							background-repeat: no-repeat;
						}
						@media (min-width: 768px){
				    	img{
				    		max-height: $max-height-banner-tablet;
				    		height: $max-height-banner-tablet;
				    	}
				    }
				    @media (min-width: 1024px){
				    	img{
				    		max-height: $max-height-banner-desktop;
				    		height: $max-height-banner-desktop;
				    	}
				    }
					}
				}
			}
		}
	}
}
/* HOME - INFORMACIÓN CON SISTEMA DE TABS */
.c-infTbs{
	min-height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  &__c{
  	background-color: #fff;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    &__item{
    	width: 100%;
    	position: absolute;
	    background-color: #fff;
	    display: none;
	    opacity: 0;
	    visibility: hidden;
	    pointer-events: none;
	    user-select: none;
	    &.active{
	    	display: block;
	    	opacity: 1;
	    	visibility: visible;
	    	pointer-events: auto;
	    	user-select: auto;
	    }
    	&__cont{
    		align-items: center;
		    justify-content: center;
		    flex-flow: column nowrap;
		    background-color: #fff;
		    min-height: 100vh;
		    &__itm{
		    	padding-top: 50px;
			    border-bottom: thin solid rgba(0,0,0,0.1);
			    margin: auto;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    flex-flow: column wrap;
			    @media (min-width: 768px){
			    	flex-flow: row nowrap;
			    }
			    &:last-child{
			    	border-bottom: none;
			    }
			    &__c{
			    	width: 100%;
				    display: flex;
				    align-items: center;
				    justify-content: space-between;
				    flex-flow: column wrap;
			    	text-align: center;
			    	margin: 1rem 0 2rem 0;
				    &.c-align-l{
				    	flex-flow: column wrap;
				    }
				    @media (min-width: 768px){
				    	&.c-align-l{
					    	flex-flow: row wrap;
					    }
					    &.c-align-r{
					    	flex-flow: row-reverse wrap;
					    }	
				    }
				    @media (min-width: 991px){
				    	margin: 2rem 0;
				    }
				    &__cIcon{
					    display: table;
					    align-items: center;
					    justify-content: center;
					    vertical-align: middle;
					    float: none;
					    margin-bottom: 1rem;
					    width: 45%;
					    @media (min-width: 768px){
				    		width: 40%;
				    		margin-bottom: 2rem;
					    }
					    @media (min-width: 991px){
				    		width: 50%;
					    }
				    	img{
				    		max-width: 310px;
				    		width: 90%;
				    	}
				    }
				    &__cDesc{
  						text-align: center;
  						margin-top: 1rem;
  						&__title{
  							text-transform: uppercase;
						    font-size: 1.6rem;
						    font-weight: 500;
						    margin-bottom: 1.5rem;
						    span{
						    	&:first-child{
						    		font-weight: 700;
						    	}
						    }
  						}
  						&__desc{
  							font-size: 1rem;
  							color: $theme-clr-paragraph;
  							margin-bottom: 2.5rem;
  							text-align: justify;
  						}
  						&__link{
  							font-size: .9rem;
						    background-color: $theme-clr-btns;
						    color: $theme-clr-btns-txt;
						    font-weight: 800;
						    padding: .75rem 3rem;
						    border-radius: 1.5rem;
						    transition: ease-in-out .2s;
  							display: table;
  							margin: 0 auto;
  							&:hover{
  								color: $theme-clr-btns-txt;
  								background-color: $theme-clr-btns-hover;
  							}
  						}
  						@media (min-width: 768px){
				    		width: 50%;
				    		margin-top: 0;
				    		&__title{
				    			font-size: 1.7rem;
				    		}
				    		&__desc{
				    			font-size: 1.1rem;
				    		}
				    		&__link{
				    			font-size: 1rem;
				    		}
  						}
				    }
			    }
		    }
		    &__sect{
		    	padding-top: 50px;
			    margin: auto;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    flex-flow: column wrap;
			    @media (min-width: 768px){
			    	flex-flow: row nowrap;
			    }
			    &:last-child{
			    	border-bottom: none;
			    }
			    &__c{
			    	font-family: $font-family-2;
			    	h1{
			        color: steelblue;
					    text-align: center;
					    margin: 0 0 1.2rem 0;
					    font-size: 1.35rem;
					    @media (min-width: 768px){
					    	font-size: 1.85rem;
					    }
					    @media (min-width: 991px){
					    	font-size: 2.15rem;
					    }
					    @media (min-width: 1220px){
					    	font-size: 2.45rem;
					    }
			    	}
			    	p{
			    		text-align: justify;
					    font-size: .85rem;
			    		@media (min-width: 768px){
					    	font-size: 1.05rem;
					    }
					    @media (min-width: 991px){
					    	font-size: 1.2rem;
					    }
			    	}
			    	a{
			    		text-decoration: underline !important;
			    	}
			    	&__cImgB{
		    			text-align: center;
					    display: flex;
					    align-items: center;
					    justify-content: center;
					    margin: 2.1rem 0;
			    		img{
			    			max-width: 240px;
			    			width: 90%;
			    		}
			    	}
			    }
			  }
    	}
    }
  }
}