/* DASHBOARD - MAIN CONTAINER */
/* CONTENEDOR PRINCIPAL DEL DASHBOARD */
#dash-contT{
	display: flex;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
	@media (min-width: 960px){
		display: flex;
		align-items: flex-start;
		&.hiddenLeft{
			grid-template-columns: 1fr;
		}
	}
}
/* BOTÓN DE HAMBURGUESA - MOBILE */
#icon-togglemenuMobile{
	position: relative;
	@include nav-burger-design(24px, 23px, #fff, flex-end);
	@media (min-width: 960px){
		margin-right: 1rem;
	}
}
/* BOTÓN DE CIERRE - MOBILE */
#closebtnToggSideNav_icon{
	display: table;
  width: 22px;
  height: 22px;
  position: absolute;
  right: .5rem;
  top: .5rem;
  cursor: pointer;
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  user-select: auto;
  svg{
  	fill: #fff;
  }
  @media(min-width: 960px){
  	display: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    user-select: none;
  }
}
/* CONTENEDOR DEL HEADER Y EL CONTENIDO */
#main-dashCamel{
	padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all .4s ease-in-out;
	@media (min-width: 960px){
		overflow-y: auto;
		width: 100%;
		margin-left: 285px;
		&.active{
			margin-left: 0;
		}
	}
}
/* DASHBOARD - HEADER-TOP */
.h-dashCamel{
	&--c{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: .5rem 1rem;
		background-color: $theme-clr-bg-header;
		@media (min-width: 1200px){
			padding: 0 1rem;
		}
		/* TÍTULO DE ADMINISTRADOR CAMEL */
		&--cTitle{
			display: none;
			color: #fff;
			@media (min-width: 960px){
				display: block;
				margin-right: auto;
			}
			h2{
				font-weight: 600;
				margin-bottom: 0;
				font-size: 1.25rem !important;
			}
		}
		/* RELOJ DEL SISTEMA */
		&--cClock{
			display: none;
			margin-right: 0.8rem;
			position: relative;
			top: 1px;
			@media (min-width: 1200px){
				display: block;
			}
			&--timeclock{
				color: #fff;
				font-weight: 600;
			}
		}
		/* BOTÓN DE IR AL SITIO WEB */
		&--cCBtnWebPage{
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    text-align: center;
	    margin: 0 auto;
	    @media (min-width: 960px){
	    	margin-left: unset;
	    	margin-right: 0.6rem;
	    }
			&--link{
				cursor: pointer;
		    background-color: $theme-clr-bg-dashboard;
		    padding: 0.35rem 2rem;
		    border-radius: 5px;
		    &:hover{
		    	background-color: darken($theme-clr-bg-dashboard, 10%);
		    }
				svg{
					fill: #fff;
				}
			}
		}
		/* OPCIONES DE USUARIO - MOBILE */
		&--cUserMobile{
			display: block;
			pointer-events: auto;
			@media (min-width: 960px){
				margin-left: unset;
			}
			@media (min-width: 1200px){
				display: none;
				pointer-events: none;
			}
			&--linkcont{
				cursor: pointer;
				display: flex;
				align-items: center;
				color: #fff;
				img{
					width: 35px;
					height: 34px;
					border-radius: 50%;
					box-shadow: 0 0 0 1px #D0D0D0;
					@media (min-width: 960px){
						margin-right: 0.5rem;
					}
				}
				span{
					display: none;
					@media (min-width: 960px){
						display: block;
					}
				}
			}
			&--m{
				display: none;
				position: absolute;
				background-color: $theme-clr-bg-dashboard;
				position: absolute;
		    top: 3.5rem;
		    right: 1rem;
		    border-radius: .3rem;
		    overflow: hidden;
		    z-index: 9999;
				&.show{
					display: block;
				}
				@media (min-width: 1024px){
					&:hover{
						display: block;
					}
				}
				&--link{
					display: block;
					color: #fff;
					padding: 0.5rem 1rem;
					&:hover{
						color: #fff;
						opacity: 0.6;
					}
				}
			}
		}
		/* OPCIONES DE USUARIO - DESKTOP */
		&--cUserDesktop{
			margin-left: auto;
			display: none;
			pointer-events: none;
			@media (min-width: 960px){
				margin-left: unset;
			}
			@media (min-width: 1200px){
				padding: 0.5rem 0;
				display: block;
				pointer-events: auto;
			}
			/* MOSTRAR LAS OPCIONES */
			&:hover &--m{
				display: block;
			}
			&--linkcont{
				cursor: pointer;
				display: flex;
				align-items: center;
				color: #fff;
				img{
					display: table;
					width: 35px;
					height: 34px;
					border-radius: 50%;
					box-shadow: 0 0 0 1px #D0D0D0;
					@media (min-width: 960px){
						margin-right: 0.5rem;
					}
				}
				span{
					display: none;
					@media (min-width: 960px){
						display: block;
					}
				}
			}
			&--m{
				display: none;
				position: absolute;
				background-color: $theme-clr-bg-dashboard;
				position: absolute;
		    top: 3.1rem;
		    right: .75rem;
		    border-radius: 5px;
		    overflow: hidden;
		    z-index: 9999;
				@media (min-width: 1024px){
					width: 200px;
    			min-height: 75px;
					&:hover{
						display: block;
					}
				}
				&--item{
					line-height: 2;
				}
				&--link{
					display: block;
					color: #fff;
					padding: 0.5rem 1rem;
					font-size: 0.8rem;
					&:hover{
						color: #fff;
						background-color: darken($theme-clr-bg-dashboard, 10%);
					}
					@media (min-width: 1024px){
						font-size: 0.95rem;
						font-weight: 500;
						padding: 0.5rem 1rem;
					}
				}
			}
		}
	}
}
/* DASHBOARD - SIDEBARLEFT */
.cSideBarLeft{
	background-color: rgba(0,0,0,.55);
  left: 0;
  top: 0;
  position: fixed;
  width: auto;
  height: auto;
  transition: .4s ease;
  z-index: 999 !important;
  display: flex;
  flex-flow: nowrap row;
  align-items: flex-start;
  justify-content: flex-start;
  &.active{
  	width: 100%;
  	height: 100%;
  	.cSideBarLeft--sidenav{
  		left: 0;
  	}
  }
  @media(min-width: 960px){
  	&.active{		
	  	width: 0;
	  	height: 0;
	  	.cSideBarLeft--sidenav{
	  		left: -285px;
	  	}
  	}
  }
	&--sidenav{
		background-color: $theme-clr-bg-dashboard;
		position: fixed;
		top: 0;
		left: -285px;
		max-width: 285px;
	  width: 95%;
		min-height: 100vh;
		height: 100vh;
		z-index: 9999999;
		overflow-x: hidden;
		overflow-y: auto;
		transition: all .4s ease-in-out;
		@media (min-width: 960px){
			left: 0;
			&.active{
				left: -285px;
			}
		}
		/* ANCHO DE LA BARRA DE SCROLL */
		&::-webkit-scrollbar {width: 7px;}
		/* Estilos barra (thumb) de scroll */
		&::-webkit-scrollbar-thumb {background: transparent;}
		&::-webkit-scrollbar-thumb:active {background-color: #999999;}
		&::-webkit-scrollbar-thumb:hover {background: #b3b3b3;box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);}
		/* Estilos track de scroll */
		&::-webkit-scrollbar-track {background: #e1e1e1;border-radius: 4px;}
		&::-webkit-scrollbar-track:hover, &::-webkit-scrollbar-track:active {background: #d4d4d4;}
		/* scrollling */
		/* ANCHO DEL SCROLLING */
		&::-webkit-scrollbar {width: 7px;}
		&::-webkit-scrollbar-thumb {background: #cccc;border-radius: 4px;}
		&::-webkit-scrollbar-thumb:active {background: #999999;}
		&::-webkit-scrollbar-thumb:hover {background: #b3b3b3;box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);}
		/* FONDO DEL SCROLL */
		&::-webkit-scrollbar-track {background: $theme-clr-bg-dashboard;}
		&::-webkit-scrollbar-track:active, &::-webkit-scrollbar-track:hover {background: $theme-clr-bg-dashboard;}
		&--c{
			background-color: $theme-clr-bg-dashboard;
			animation-name: showSidebarLeft;
			animation-duration: .3s;
			animation-timing-function: ease-in-out;
			@keyframes showSidebarLeft{
				0%{
					transform: translateX(-100%);
				}
				100%{
					transform: translateX(0);
				}
			}
			&.show{
				transform: translateX(0);
				pointer-events: auto;
				opacity: 1;
				overflow-y: auto;
			}
			@media (min-width: 960px){
				width: 100%;
				background-color: transparent;
				height: 100%;
				transform: translateX(0);
				pointer-events: auto;
				opacity: 1;
				animation-name: unset;
				animation-duration: unset;
				animation-timing-function: unset;
				transition: .3s linear;
			}
			&--cLogo{
				padding: 0.5rem 1rem 0.5rem 1rem;
				max-width: 115px;
				width: 90%;
				margin-right: auto;
				&--img{
			    width: 100%;
			    height: auto;
					object-fit: contain;
					object-position: center;
				}
			}
			&--cUserInfo{
				text-align: center;
				margin-bottom: 1rem;
				&--cAvatar{
					max-width: 125px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 1rem;
					@media (min-width: 960px){
						max-width: 180px;
					}
					&--img{
						min-width: 85px;
						min-height: 85px;
						max-width: 85px;
						max-height: 85px;
						width: 85px;
						height: 85px;
						border-radius: 50%;
						box-shadow: 0 0 0 1px #D0D0D0;
						object-fit: contain;
						object-position: center;
					}
				}
				&--cInfo{
					color: #fff;
					&--title{
						margin-bottom: 0.25rem;
					}
					&--desc{
						font-size: 0.8rem;
						margin: 0;
						@media (min-width: 1024px){
							font-size: 0.9rem;
						}
					}
				}
			}
			&--cList{
				overflow-x: hidden;
				overflow-y: scroll;
				@media (min-width: 991px){
					padding-bottom: 1.85rem;
					overflow-x: hidden;
					overflow-y: hidden;
				}
				/* PRIMER LISTA DE OPCIONES */
				&--m{
					&--item{
						position: relative;
						&.grp-items{
							&:after{
								content: "";
								cursor: pointer;
						    position: absolute;
						    top: 15px;
						    right: 15px;
						    width: 0;
						    height: 0;
						    border-width: 8px;
						    border-style: solid;
						    border-color: #fff rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
						    display: block;
						    transition: all ease-in-out .5s;
							}
							&.active{
								&:after{
									content: "";
									top: 10px;
									transform: rotate(180deg);							    
							    /*
							    position: absolute;
							    top: 15px;
							    right: 15px;
							    width: 0;
							    height: 0;
							    border-width: 8px;
							    border-style: solid;
							    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #fff rgba(0,0,0,0);
							    display: block;
							    */
								}	
							}
						}
					}
					&--link{
						color: #fff;
						display: block;
						padding: 0.65rem 0.5rem 0.65rem 1.5rem;
	    			font-size: .8rem;
						&:hover{
							color: #fff;
							background-color: darken($theme-clr-bg-dashboard, 10%);
							box-shadow: 4px 0 0 0 $theme-clr-bg-sidebar-shadow inset;
						}
						&.active{
							background-color: darken($theme-clr-bg-dashboard, 10%);
							box-shadow: 4px 0 0 0 $theme-clr-bg-sidebar-shadow inset;
							// color: $theme-clr-bg-header;
						}
	    			@media (min-width: 768px){
							font-size: .95rem;
						}
						@media (min-width: 1024px){
							font-size: .8rem;
						}
						@media (min-width: 1024px){
							&:hover{
								color: #fff;
								background-color: darken($theme-clr-bg-dashboard, 10%);
								box-shadow: 6px 0 0 0 $theme-clr-bg-sidebar-shadow inset;
							}
							&.active{
								background-color: darken($theme-clr-bg-dashboard, 10%);
								box-shadow: 6px 0 0 0 $theme-clr-bg-sidebar-shadow inset;
								// color: $theme-clr-bg-header;
							}
						}
						svg{
							vertical-align: middle;
							color: #fff;
							width: 22px;
							height: 22px;
							margin-right: 0.5rem;
							fill: #fff;
						}
						span{
							vertical-align: middle;
						}						
					}
				}
				/* PRIMER LISTA DE OPCIONES */
				&--subm{
					display: none;
					background-color: darken($theme-clr-bg-dashboard, 10%);
					&.open{
						display: block;
					}
					&--item{
						position: relative;
					}
					&--link{
						color: #fff;
						display: block;
						padding: 0.65rem 0.5rem 0.65rem 2.5rem;
	    			font-size: .8rem;
	    			@media (min-width: 768px){
							font-size: .95rem;
						}
						&:hover{
							color: #fff;
							background-color: darken($theme-clr-bg-dashboard, 25%);
							box-shadow: 4px 0 0 0 $theme-clr-bg-sidebar-shadow inset;
						}
						&.active{
							background-color: darken($theme-clr-bg-dashboard, 25%);
							box-shadow: 4px 0 0 0 $theme-clr-bg-sidebar-shadow inset;
							color: $theme-clr-bg-header;
						}
						svg{
							vertical-align: middle;
							color: #fff;
							width: 22px;
							height: 22px;
							margin-right: 0.5rem;
							fill: #fff;
						}
						span{
							vertical-align: middle;
						}
					}
				}
				/* SEGUNDO LISTADO DE OPCIONES */
				&--mOthers{
					border-top: thin solid #9999;
					padding-top: 1rem;
					margin-bottom: 4rem;
					@media (min-width: 991px){
						margin-bottom: 0;
					}
					&--item{
					}
					&--link{
						color: #fff;
						display: block;
						padding: 0.65rem 0.5rem 0.65rem 1.5rem;
	    			font-size: .8rem;
						@media (min-width: 768px){
							padding: .7rem 0.5rem .7rem 1.5rem;
							font-size: .95rem;
						}
						&:hover{
							color: #fff;
							background-color: darken($theme-clr-bg-dashboard, 10%);
							box-shadow: 4px 0 0 0 $theme-clr-bg-sidebar-shadow-2 inset;
						}
						&.active{
							background-color: darken($theme-clr-bg-dashboard, 10%);
							box-shadow: 4px 0 0 0 $theme-clr-bg-sidebar-shadow-2 inset;
							color: orange;
						}
						svg{
							vertical-align: middle;
							color: #fff;
							width: 22px;
							height: 22px;
							margin-right: 0.5rem;
						}
						span{
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}
/* DASHBOARD - CONTENIDO */
.cContainInfo{
	&__c{
		padding: .5rem .5rem .5rem .5rem;
		@media (min-width: 1024px){
			padding: .5rem .5rem .5rem 1.5rem;
		}
		&__cTitle{
			display: flex;
	    align-items: center;
	    justify-content: space-between;
	    padding-top: .5rem;
	    padding-bottom: .5rem;
	    padding-left: 0;
	    padding-right: 0;
	    flex-wrap: wrap;
	    box-shadow: 0 -2px 0 0px #1797be inset;
    	margin-bottom: 1rem;
    	padding-top: .85rem;
    	padding-bottom: .85rem;
    	&--title{
    		font-weight: 600;
		    font-size: 1.5rem !important;
		    word-break: break-word;
		    color: #909fa7;
		    margin: 0;
    	}
		}
		&__cBody{
			/* GRUPO DE BOTONES DE ACCIONES DENTRO DEL PANEL */
			&__cGroupBtnResume{
				display: flex;
		    flex-flow: wrap row;
		    flex: 0 0 100%;
		    align-items: center;
		    justify-content: flex-start;
		    margin-bottom: 1rem;

		    @include grid-fit(287px);

				&__btn{
					@include btns_group_dashboard(map-keys($button-colors)...);
		    	@media (min-width: 768px){
		    		flex: auto;
		    		flex-flow: nowrap row;
		    		margin-left: .65rem;
		    		min-height: 6rem;
		    		margin-bottom: 0;
		    	}

		    	&__cIcon{
		    		display: inline-block;
				    text-align: left;
				    color: #fff;
				    font-size: .9rem;
		    		svg{
		    	    vertical-align: middle;
					    width: 22px;
					    height: 22px;
					    margin-right: .5rem;
					    fill: #fff;
		    		}
		    	}
		    	&__cText{
		    		color: #fff;
		    		font-weight: 600;
		    	}
				}
			}
		}
	}
}






/* CONTENIDO CUSTOM DE INICIOS DEL DESARROLLO DEL PROYECTO */
/* add-items-alls.css */
.fila-contenedor-add-items_all{
  display: flex;
  justify-content: center;
}
.content-add-items_all{
  display: flex;
  flex-direction: column;
  width: 60% !important;
}
/* TITULO DE FORMULARIOS + BOTON DE AGREGADO*/
#button-add-left-header{
	background: #93c54b;
  color: #fff;
  font-size: 1.1em;
  padding: .65em;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
}
/* MEDIA QUERIES PARA EL BOTÓN DE AGREGADO DE DATOS */
@media (max-width: 720px){
  #content-btn-add{
    direction: rtl;
    width: 10%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 70px;
  }
  #button-add-left-header{
    background: #93c54b;
    color: #fff;
    font-size:1.1em;
    padding: .65em;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    visibility: hidden;
  }
  #button-add-left-header > #icon-btn-add{
    background: #93c54b;
    color: #fff;
    font-size:1.1em;
    padding: .65em;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    visibility: visible;
    margin-right: 0;
  }
}
@media (max-width: 627px){
  #content-title-manage > h2{
    margin-top: 1em;
  }
}
@media (max-width: 528px){
  #content-title-manage > h2{
    margin-top: 1em;
  }
}
@media (max-width: 403px){
  #content-title-manage > h2{
    margin-top: .9em;
    font-size: 1.8em;
  }
}
/* BOTÓN LISTAS ANGOSTAS */
@media (max-width: 720px){
  #content-btn-add_strech{
    direction: rtl;
    width: 15%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 70px;
  }
  #button-add-left-header{
    background: #93c54b;
    color: #fff;
    font-size:1.1em;
    padding: .65em;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    visibility: hidden;
  }
  #button-add-left-header > #icon-btn-add{
    background: #93c54b;
    color: #fff;
    font-size:1.1em;
    padding: .65em;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    visibility: visible;
    margin-right: 0;
  }
}
@media (max-width: 627px){
  #content-title-manage > h2{
    margin-top: 1em;
  }
}
@media (max-width: 528px){
  #content-title-manage > h2{
    margin-top: 1em;
  }
}
@media (max-width: 403px){
  #content-title-manage > h2{
    margin-top: .9em;
    font-size: 1.8em;
  }
}
#button-add-left-header:hover{
	background: #7BA43E;
}
#button-add-left-header:active{
	transform: scale(.95);
}
#button-add-left-header > #icon-btn-add{
	margin-right: .5em;
}
#content-title-add{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#button-list-left-header{
  background: #428BCA;
  color: #fff;
  font-size: 1.1em;
  padding: .65em;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
}
#button-list-left-header:hover{
  background: #3672A6;
}
#button-list-left-header:active{
  transform: scale(.95);
}
#button-list-left-header #icon-btn-list{
  margin-right: .5em;
}
/* OCULTAR LA PRIMERA OPCIÓN DENTRO DEL SELECT */
.select-onehidden option:first-child{
  display: none;
}
/* MEDIA QUERIES */
@media screen and(max-width: 814px){
  #fila-contenedor-add-product{
    display: block;
  }
  #content-add-items_all{
    display: block;
  }
  .primer-content-form{
    display: block;
  }    
}
/* dashboard.css */
#fila-contenedor-principal-dashboard {
  display: flex;
  justify-content: center;
}
#contenedor-principal-dashboard {
  width: 90%;
}
/* log-in_admin.css */
#body-login{
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100vh;	
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F5F5F5;
  flex-direction: column;
}
#container-login{
  width: 70%;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  box-sizing: border-box;
  min-width: 200px;
  margin: 0 auto;
}
#content-login{
	background: #eaeced;	
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 0 0 7px #fff,	0 0 0 8px #ccc;
	display: flex;
	flex-direction: column;
	padding: 42px;
}
#content-header-login{
	display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 90px;
  padding: 0 30px;
  margin-bottom: 10px;
}
#content-header-login > .logo-admin-ttrk-login {
	width: 100%;
  height: 100%;
}
#divisor-login{
	border-top:1px solid #ddd; 
}
#content-body-login{
	height: 100%;
	box-sizing: border-box;
}
#content-body-login > form{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
#content-body-login > form > .form-group-login:first-child > h1{
	color: #000;
	margin:1.5em 0;
	font-weight: lighter;
  font-size: 1.2rem;
}
#content-body-login > form > .form-group-login{
  font-size: 1rem;
}
#content-body-login > form > .form-group-login > .content-user-icon-caja > input{
	width: 100%;
  margin: .5em 0;
  line-height: 1.3em;
  padding: .5em .5em .5em 4.5em;
  outline: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#content-body-login > form > .form-group-login:nth-child(2) > .content-user-icon-caja > i{
	position: absolute;
  margin: 10px .3px;
  padding: .6em 1.4em;
  color: rgba(0,0,0,0.7);
  border-right: 1px solid rgba(0,0,0,0.2);
}
/* GRUPO DE LA CONTRASEÑA DEL ADMINISTRADOR */
#content-body-login > form > .form-group-login > .content-key-icon-caja > input{
	width: 100%;
  margin: .5em 0;
  line-height: 1.3em;
  padding: .5em .5em .5em 4.5em;
  outline: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#content-body-login > form > .form-group-login:nth-child(3) > .content-key-icon-caja > i{
  position: absolute;
  margin: 7.5px .3px;
  padding: .6em 1.3em;
  color: rgba(0,0,0,0.7);
  border-right: 1px solid rgba(0,0,0,0.2);
}
/* GRUPO DEL BOTÓN DE ACCESO */
#content-body-login > form > .form-group-login > button{
	width: 45%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #07437c;
  display: grid;
  grid-template-columns: 20% auto;
  grid-auto-rows: 1;
  padding: .4em 0;
  transition: ease .6s;
  outline: none;
  font-size: 1em;
  transition: 0s;
  color: #fff;
}
#content-body-login > form > .form-group-login > button:hover{
	background: #5981A7;	
	box-shadow: 0 0 9px #fff;
}
#content-body-login > form > .form-group-login > button:active{
	background: #07437c;
	transform: scale(.95);
}
#content-body-login > form > .form-group-login > button > i{
	border-right: 1px solid #ccc;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 .7em;
}
#content-body-login > form > .form-group-login:last-child{
	margin: 1em 0;
	display: flex;
	justify-content: flex-end;
}
/* AJUSTES DE PANTALLA */
@media (min-width: 768px){
	#container-login{
    width: 350px;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
	}
}
@media (min-width: 576px){
	#container-login{
    width: 380px;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
	}
	
}
@media (max-width: 386px){
	#container-login{
    width: 80%;	
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
	}

	#content-body-login > form > .form-group-login > button{
	width: 60%;
	}
}
/* ALERTAR DEL LOGIN */
.smsadmin-erroralert{
  width: 394px !important;
  margin-bottom: 1.6rem !important;
  text-align: left!important;
}
/* manages-items.css */
/* ESCONDER TEXTO POR DEFECTO DATATABLES - */
#list_user_change > tr.odd,
#list_reports_monthly > tr.odd{
  display: none;
}
table.table-bordered.dataTable #list_user_change td:nth-of-type(even),
table.table-bordered.dataTable #list_reports_monthly td:nth-of-type(even){
  display: none !important;
}
table.table-bordered.dataTable .list_user_change_th tr th:last-child{
  display: none;
}
#list_user_change > tr td > a,
#list_reports_monthly > tr td > a{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#list_user_change > tr td > a i,
#list_reports_monthly > tr td a i{
  margin-left: 0.5rem;  
  font-size: 1.2rem;  
}

/* MENSAJE CUANDO NO HAY REGISTROS */
.sms-any-data-registers{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.sms-any-data-registers > h1{
  color: rgba(0,0,0,.3) !important;
  font-size: 1.5rem !important;  
}
.sms-any-data-registers > i{
  font-size: 3.5rem;
  color: rgba(0,0,0,.3) !important;
}
/* SELECTS DE FILTRO POR AÑOS */
.selad-opts-user-store{
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  justify-content: center;
}
.selad-opts-user-store select{
  width: 20%; 
}
.selad-opts-user-store select option{
  font-size: 1.24rem;
}
.tadm-table-list-years{
  position: relative;
}
.seladm-opts-user-client{
  display: flex;
  padding: 0 0 0.5rem 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 35%;
  width: 25%; 
}
.seladm-opts-user-client select{
  width: 50%;  
}
.seladm-opts-user-client select option{
  font-size: 1.24rem;
}
/************************************/
/* TÍTULO DE MANAGER-USER */
#content-title-manage{
	display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#content-title-list-user{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
#button-back-dash-left-header{
  background: #428BCA;
  color: #fff;
  font-size: 1.1em;
  padding: .65em;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
}
#button-back-dash-left-header > #icon-btn-back-dash{
  margin-left: .5em;   
}
#button-back-dash-left-header:hover{
  background: #3672A6;
}
#content-title-manage-admin{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
/*-------- TITULO DE FORMULARIOS(CONFIGURACIÓN DEL PERFIL) - ADMIN -----*/
#titulo-page-content{
  color:#6B6B6B;
}
#titulo-form-config{
  font-size: 1.25em;color: #000;
  color: rgba(0,0,0,0.3);
}
#boton-guardado-perfil-1{
  display: flex;
  justify-content: flex-end;
}
#boton-guardado-perfil-2{
  display: flex;
  justify-content: flex-end;
}
/* FORM FOR ADD & UPDATE PRODUCTS */
.cero-content-form,
.primer-content-form,
.segundo-content-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*** CERO FORM-CONTROL  --- OCULTO O INVISIBLE***/
.cero-content-form{
  display: none;
}
.primer-content-form .form-group:nth-child(1) {
  width: 45%;
}
.primer-content-form .form-group:nth-child(2) {
  width: 45%;
}
.segundo-content-form .form-group:nth-child(1) {
  width: 45%;
}
.segundo-content-form .form-group:nth-child(2) {
  width: 45%;
}
.tercer-content-form .form-group:nth-child(1) {
  width: 100%;
}

/* TABLA USUARIOS */
#zctb_wrapper{
  position: relative;
}
#zctb_wrapper > .dataTables_length{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
}
#zctb_wrapper > .dataTables_filter{
  
}

/* TABLA BANNER PRINCIPAL */
.tbody-pri-banner-table tr td:first-child{
  width: 500px;
  padding: 0;
  text-align: center;
  height: auto; 
}
.tbody-pri-banner-table tr td:last-child{
  width: 70px;
  text-align: center;
  height: auto;
  vertical-align: middle;
}
.tbody-pri-banner-table tr td:last-child > a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.3rem .5rem;
}
.tbody-pri-banner-table tr td:last-child > a > i{
  font-size: 1.9rem;
}
/* TABLA BANNERs CAROUSEL */
.tbody-second-banners-table tr td:nth-child(2){
  padding: 0;
  text-align: center;
}
.tbody-second-banners-table tr td:nth-child(2) > a > img{
  width: 100px;
  height: 60px;
}
.tbody-second-banners-table tr td:last-child > a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: .9rem .5rem .8rem .5rem;
}
.tbody-second-banners-table tr td:last-child > a > i{
  font-size: 1.6rem;
}
/* TABLA BANNERs PUBLICIDAD */
.tbody-banner-publicity-table tr td:nth-child(3){
  text-align: center;
  width: 155px;
  height: 80px;
  margin: 0 !important;
  padding: 0 0 0 0 !important;
  vertical-align: middle;
}
.tbody-banner-publicity-table tr td:last-child{
  vertical-align: middle;
  text-align: center;
}
.tbody-banner-publicity-table tr td:last-child > a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: .9rem .5rem .8rem .5rem;
}
.tbody-banner-publicity-table tr td:last-child > a > i{
  font-size: 1.6rem;
}
/* TABLA PRODUCTOS DEL ADMINISTRADOR */
.tbody-products-admin-table tr td{
  vertical-align: middle !important;
}
.tbody-products-admin-table tr td:nth-child(9){
  padding: 0;
  text-align: center;
  width: 10%;
}
.tbody-products-admin-table tr td:nth-child(9) > a{
  width: 50px;
  height: 50px;
}
.tbody-products-admin-table tr td:nth-child(9) > a > img{
  padding: 0;
  width: 100%;
}
.tbody-products-admin-table tr td:nth-child(10) > a{
  font-size: 1.3rem;
  padding: .7rem .6rem .4rem .7rem;
}
.tbody-products-admin-table tr td:last-child > a{
  font-size: 1.3rem;
  padding: .6rem .7rem .4em .7rem;
}
/* TABLA RECARGAS DEL ADMINISTRADOR */
.tbody-recharges-admin-table tr td{
  text-align: center;
  vertical-align: middle !important;
}
.tbody-recharges-admin-table tr td:first-child{
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  width: 10%;
  background: #fff;
}
.tbody-recharges-admin-table tr td:first-child > a > img{
  width: 100%;
}
.tbody-recharges-admin-table tr td:nth-child(5) > a > i{
  font-size: 1.3rem;
  padding: .7rem .4rem .4rem .5rem;
}
.tbody-recharges-admin-table tr td:last-child > a > i{
  font-size: 1.3rem;
  padding: .6rem .5rem .4em .5rem;
}
/* TABLA CATEGORÍAS DEL ADMINISTRADOR */
.tbody-categories-admin-table tr td{
  text-align: center;
  vertical-align: middle !important;
}
.tbody-categories-admin-table tr td:nth-child(3){
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 20%;
}
.tbody-categories-admin-table tr td:nth-child(3) > a > img{
  width: 100%;
}
.tbody-categories-admin-table tr td:nth-child(4) > a > i{
  font-size: 1.3rem;
  padding: .7rem .4rem .4rem .5rem; 
}
.tbody-categories-admin-table tr td:nth-child(5) > a > i{
  font-size: 1.3rem;
  padding: .6rem .5rem .4em .5rem; 
}
/* USUARIO SIN TIENDA */
.tb-list-user-anystore tr td:last-child > a i{
  margin-left: .5rem;
  vertical-align: inherit;
}
.tb-list-user-anystore tr td:last-child > button i{
  margin-left: .5rem;
  vertical-align: inherit;
}
.tbl-mng-all-pages div#zctb_paginate > a.paginate_button.previous,
.tbl-mng-all-pages div#zctb_paginate > a.paginate_button.next{
  border: 1px solid #ddd;
  background: #dddd;
  color: #000;
  padding: .5rem 1rem;
  border-radius: .3rem;
  box-shadow: 0 0px 1px 1px rgba(255,255,255,.9) inset, 0 8px 30px 1px rgba(255,255,255,.4) inset, 0 -11px 15px 1px rgba(0,0,0,.09) inset;
  text-decoration: none;
  cursor: pointer;
  margin: 0 .2rem;
}
.tbl-mng-all-pages div#zctb_paginate > span > .paginate_button{
  border: 1px solid #ddd;
  background: #dddd;
  color: #000;
  padding: .5rem 1rem;
  border-radius: .3rem;
  box-shadow: 0 0px 1px 1px rgba(255,255,255,.9) inset, 0 8px 30px 1px rgba(255,255,255,.4) inset, 0 -11px 15px 1px rgba(0,0,0,.09) inset;
  text-decoration: none;
  margin: 0 .2rem; 
  cursor: pointer;
}
.tbl-mng-all-pages div#zctb_paginate > span > .paginate_button.current{
  box-shadow: 0 0 100px 1px rgba(0,0,0,.15) inset !important; 
}
/* GENREADOR DE CÓDIGOS QR */
.cont-title-genqrcode{

}
.cont-title-genqrcode h5{
  text-align: center !important;
  width: 100% !important;
}
.cont-qrgeneratecli{
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
}
.cont-qrgeneratecli .cont-qrcode-client{
  margin-bottom: 1rem;
  max-width: 350px;
  margin: 0 auto;
}
.cont-qrgeneratecli .cont-download-qrcodecli > a{
  font-size: 1.35rem;
  width: 80%;
  font-weight: lighter;
  padding: .7rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.cont-qrgeneratecli .cont-download-qrcodecli > a i{
  font-size: 1.7rem;
  margin-left: .7rem;
}
/* sidebar.css */
.siderbar-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  border:1px solid #3e454c;
}
.content-header-sidebar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
/* MEDIA QUERIES PARA EL HEADER DEL DASHBOARD */
@media (max-width: 991px){
  .content-header-sidebar{
    display: flex;
    width: 100%;
    height: 62px;
  }
}
@media (max-width: 768px){
  .content-header-sidebar{
    display: flex;
    width: 100%;
    height: 66px;
  }
}    
@media (max-width: 767px){
  .content-header-sidebar{
    display: flex;
    width: 100%;
    height: 65px;
  }
}
@media (max-width: 720px){
  .sidebar-header{
    height: 66px !important;
  }
  .content-header-sidebar{
    display: flex;
    width: 100%;
    height: 66px;
  }    
  /**** CONTENIDO IR A SITIO ********/    
  .content-header-sidebar > .cont-total-opts-header > .content-ir-a-sitio{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: .5em;
    height: fit-content;
  }
  .content-header-sidebar > .cont-total-opts-header > .content-ir-a-sitio > a{
    color: #fff;
    padding: .5em 2em;
    border: 1px solid #C8D2DE;
    text-decoration: none;
    transition: ease .4s;
    visibility: hidden;
  }
  .content-header-sidebar > .cont-total-opts-header > .content-ir-a-sitio > a > i{
    color: #fff;
    padding: .5em 2em;
    border: 1px solid #C8D2DE;
    text-decoration: none;
    transition: ease .4s;
    visibility: visible;
  }
  .content-header-sidebar > .content-logo-sidebar-header {
    display: flex;
    align-items: center;
    padding-left: 1.5em;
    height: fit-content;
  }
  .brand .menu-btn {
    float: right;
    background: #232d3b;
    text-align: center;
    cursor: pointer;
    color: #fff;
    padding: 20px 20px;
    height: fit-content;
  }
}
@media (max-width: 627px){
  .content-header-sidebar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 528px){
  .content-header-sidebar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }    
  .content-header-sidebar > .cont-total-opts-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .content-header-sidebar > .cont-total-opts-header > .content-ir-a-sitio{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 2em;
    height: 100%;
  }
  .content-header-sidebar > .cont-total-opts-header > .content-ir-a-sitio > a{
    color: #fff;
    padding: 0 !important;
    border: 1px solid #C8D2DE;
    text-decoration: none;
    transition: ease .4s;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .content-header-sidebar > .cont-total-opts-header > .content-ir-a-sitio{
    padding: 0 !important;
  }
  .page-title{
    font-size: 1.6rem;
  }
}
@media (max-width: 403px){
  .content-header-sidebar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }    
}
.content-header-sidebar > .cont-total-opts-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
/* LOGO DE LA MARCA */
.content-header-sidebar > .content-logo-sidebar-header{
  display: flex;
  align-items: center;
  padding-left: 1.5em;
}
.content-header-sidebar > .content-logo-sidebar-header > a{
  padding: 0 30px 0 0;
  height: 50px;
  width: 160px;
}
.content-header-sidebar > .content-logo-sidebar-header > a > img{
  width: 100%;
  height: 100%;   
}
/**** CONTENIDO IR A SITIO */
.content-header-sidebar > .cont-total-opts-header > .content-ir-a-sitio{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 2em;
}
.content-header-sidebar > .cont-total-opts-header > .content-ir-a-sitio > a{
  color: #fff;
  padding: .5em 2em;
  border: 1px solid #C8D2DE;
  text-decoration: none;
  transition: ease .4s;
}
.content-header-sidebar > .cont-total-opts-header > .content-ir-a-sitio > a > i{
  margin-right: .5em;
}
.content-header-sidebar > .cont-total-opts-header > .content-ir-a-sitio > a:hover{
  background: #E6E6E6;
  color: rgba(0,0,0,0.6);
}
.content-header-sidebar > .cont-total-opts-header > .content-ir-a-sitio > a:active{
  transform: scale(.95);
}
/***** CONTENIDO OPCIONES DEL USUARIO */
.content-header-sidebar > .cont-total-opts-header > .content-user-options{
  height: 60px !important;
}
.content-header-sidebar > .cont-total-opts-header > .content-user-options > ul > li{
  font-size: .9em;   
}
.content-header-sidebar > .cont-total-opts-header > .content-user-options > ul > li > a > i{
  margin-right: .5em;
}
.content-header-sidebar > .cont-total-opts-header > .content-user-options > ul > li > ul > li > a > i{
  margin-right: .5em;
}
.content-header-sidebar > .cont-total-opts-header > .content-user-options > ul > li > ul > li > a:hover{
  background-color: #3E4347;
  color:#f0f0f0;
}
/*------ SIDERBAR LEFT - ADMIN ------*/
.siderbar-left-admin{
  width: 180px;
}
/* PRIMERAS LISTAS */
.ts-sidebar-menu > li > a:first-child{
  border-top: 1px solid #454545;   
}
.ts-sidebar-menu > li > a:last-child{
  border-bottom: 1px solid #454545;   
}
.sidebar-left-menu > li > a
{
  border-top: 1px solid #454545;   
  font-size: .96em;
}
.sidebar-left-menu > li > a:hover 
{
  background-color: #3E4347;
  color:#DEDEDE;
  -webkit-transition: all .5s;
  -moz-animation: all .5s;
  -o-transition: all .5s;
}
.sidebar-left-menu > li > a > i{
  color: #fff;
  font-size: 15px;
}
.sidebar-left-menu > li > ul > li > a{
  font-size: .96em;   
}
.sidebar-left-menu > li > ul > li > a:hover{
  background-color: #3E4347;
  color:#DEDEDE;   
}
/* SEGUNDAS LISTAS */
.ts-sidebar-menu > li > ul > li > a:hover > i{
  font-size: 15px;   
  color: #fff;
}
.ts-sidebar-menu a:hover{
  color: #fff;
}
/* update-items.css */
/* BOTÓN DE GUARDADO - ACTUALIZAR HEADER DEL HOME */
#content-title-updates{
	display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#button-back-left-list-titles{
	background: #428BCA;
  color: #fff;
  font-size: 1.1em;
  padding: .65em;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
}
#button-back-left-list-titles:hover{
	background: #3672A6;
}
#button-back-left-list-titles:active{
	transform: scale(.95);
}
#button-back-left-list-titles > #icon-btn-list{
	margin-right: .5em;
}
#save_header-title{
	display: flex;
	justify-content: flex-end;
}
/* IMÁGEN DEL PRODUCTO */
.img-prod-div > .content-img-prod-updt{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-prod-div > .content-img-prod-updt > img{
  border: 1px solid #ddd;
  margin: 1em;
  max-width: 440px;
  height: auto !important;
}
/* customs.css */
/* ERRORWRAP */
.errorWrap {
  padding: 10px;
  margin: 0 0 20px 0;
  background: #dd3d36;
  color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}
.succWrap {
  padding: 10px;
  margin: 0 0 20px 0;
  background: #5cb85c;
  color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}