.contenido-histo {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.historial-text {
  text-align: center;
  display: contents;
}

.historial-text > h2 {
  margin-bottom: 0.7em;
  color: #999999;
}

.historial-text > h4 {
  width: 60%;
  color: #999999;
}
.container-history-shopping-ttrk{
	min-height: 100vh;
}