/* GUÍA DE USUARIO EN EL SITIO WEB */
/***************** GRUÍA DEL COMPRADOR ******************/
.content-tutorial-webapp-client{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-tutorial-webapp-client .contain-webcli-tutorial h1,
.content-tutorial-webapp-client .contain-appcli-tutorial h1{
  text-align: center;
  padding: .5rem 0 1.5rem 0;
  color: var(--secondary-clr);
  font-weight: bold;
}
.content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web,
.content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app{
  width: 100%;
}
.content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul,
.content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li,
.content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul li{
  width: calc(100% * 1/4 - 16px);
  box-shadow: 0 0 0 1px #ddd;
  margin: 0 .5rem 2.1rem .5rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li .cont-img-ref,
.content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul li .cont-img-ref{
  width: 100%;
  height: 170px;
  border-radius: .5rem .5rem 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} 
.content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li .cont-img-ref img,
.content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul li .cont-img-ref img{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: fill;
  padding: 1rem;
}
.content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li .cont-step,
.content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul li .cont-step{
  padding: 1.2rem;
  font-size: 1.2rem;
  height: auto;
  min-height: auto;
}
.content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li .cont-step p span,
.content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul li .cont-step p span{
  color: var(--secondary-clr);
  font-weight: bold;
}
.content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li .cont-step p a{
  text-decoration: underline;
}
/***************** GRUÍA DEL VENDEDOR ******************/
.content-tutorial-webapp-seller{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-tutorial-webapp-seller .contain-websell-tutorial h1,
.content-tutorial-webapp-seller .contain-appsell-tutorial h1{
  text-align: center;
  padding: .5rem 0 1.5rem 0;
  color: var(--secondary-clr);
  font-weight: bold;
}
.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web,
.content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app{
  width: 100%;
}
.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul,
.content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li,
.content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li{
  width: calc(100% * 1/4 - 16px);
  box-shadow: 0 0 0 1px #ddd;
  margin: 0 .5rem 2.1rem .5rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li .cont-img-ref,
.content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li .cont-img-ref{
  width: 100%;
  height: 170px;
  border-radius: .5rem .5rem 0 0;
  overflow: hidden;
} 
.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li .cont-img-ref img,
.content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li .cont-img-ref img{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: fill;
  padding: 1rem;
}
.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li .cont-step,
.content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li .cont-step{
  padding: 1.2rem;
  font-size: 1.2rem;
  height: auto;
  min-height: auto;
}
.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li .cont-step p span,
.content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li .cont-step p span{
  color: var(--secondary-clr);
  font-weight: bold;
}
.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li .cont-step p strong,
.content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li .cont-step p strong{
  font-weight: bold !important;
}
.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li .cont-step p a{
  text-decoration: underline;
}
.content-options-trk-tabs.valid-user a:first-child{
  padding: .5rem 1rem !important;
}
.content-options-trk-tabs.valid-user a:first-child svg{
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: .5rem;  
  position: relative;
  top: 2px;
}
.content-options-trk-tabs a{
  padding: .75rem 1.1rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: .75rem;
  margin-left: 5px;
  transition: 0s;
}
.content-options-trk-tabs a:first-child{
  background: transparent;
  border: 1px solid var(--secondary-clr);
  color: var(--tertiary-clr);
  font-weight: bold;
}
.content-options-trk-tabs a:nth-child(2){
  background: #fff;
  color: #000;
  display: none !important;
  padding: 0.7rem 1.8rem !important;
}
.content-options-trk-tabs a:first-child:hover{
  background: var(--secondary-clr);
}
.content-options-trk-tabs a.ico-user-valid{
  padding: .4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-tabs-principal-home a li{
  flex: auto;
  margin: 0;
  text-align: center;
}
@media (min-width:  1152px){
  .content-options-trk-tabs a:nth-child(2){
    display: block !important;
  }
}