/* HEADER DE LOS ENLACES DE LOS TEXTOS DE PRESENTACIÓN */
.b-two-t-m-xd{overflow: auto;}
/************************** PRIMER - MAYORES DETALLES **************************/
.cont__txtone{margin: auto;min-height: 100vh;max-width: var(--max-width-home);width: 95%;margin-top: 2.8rem;}
.content-info-txt-b-one{width: 100%;margin: auto;}
.cont__txtone--cont{max-width: 1024px;width: 95%;margin-left: auto;margin-right: auto;text-align: center;}
.cont__txtone--cont--title{margin-top: 45px;font-size: 1.75rem;font-weight: 500;color: #2c2e2f;}
.cont__txtone--cont--cards{display: block;}
.cont__txtone--cont--cards--item{width: 100%;border:1px solid #e6e6e6;margin: 20px 0 25px 0;}
.cont__txtone--cont--cards--item:hover{background: #dddd;	box-shadow: 0 3px var(--secondary-clr);}
.cont__txtone--cont--cards--item--cImg{width: 100%;height: 190px;}
.cont__txtone--cont--cards--item--cImg--img{width: 100%;height: 100% !important;object-fit: cover;object-position: center;}
.cont__txtone--cont--cards--item--cInfo{padding: 1rem;border-top: 1px solid #e6e6e6;}
.cont__txtone--cont--cards--item--cInfo--type{font-size: 1.45rem;font-weight: 400;color: #2c2e2f;}
.cont__txtone--cont--cards--item--cInfo--desc{font-size: 1.05rem;color: #2c2e2f;}
.cont__txtone--cont--cards--item--cInfo--link{display: inline-block;background: var(--secondary-clr);color: #fff;font-weight: 700;padding: 0.75rem 2rem;border-radius: 1.5rem;font-size: 0.9rem;}
.cont__txtone--cont--cards--item--cInfo--link:hover{background: var(--hov-secondary-clr);color: #fff;}
.cont__txtone--cont--CItems--item{margin: 2rem 0;}
.cont__txtone--cont--CItems--item--textimg{display: flex;flex-direction: column;}
.cont__txtone--cont--CItems--item--title{color: var(--secondary-clr);font-weight: 600;margin-bottom: 1rem;}
.cont__txtone--cont--CItems--item--textimg--desc{text-align: justify;font-size: 1.05rem;order: 1;color: var(--color-paragraph-texts);margin: 0;}
.cont__txtone--cont--CItems--item--textimg--cImg{order: 0;width: 80%;margin-left: auto;margin-right: auto;}
.cont__txtone--cont--CItems--item--textimg--cImg--img{width: 85%;margin-left: auto;margin-right: auto;}
.cont__txtone--cont--CItems--item:nth-child(2) .cont__txtone--cont--CItems--item--textimg--cImg--img{width: 70%;}
/************************** MEDIA QUERIES - ANTIGUO CSS **************************/
@media (max-width: 425px){#form-register-info-personal{padding: 0 !important;}}
@media (min-width: 480px){
  .cont__txtone--cont--cards--item--cInfo--type{font-size: 1.5rem;font-weight: 600;}
	.cont__txtone--cont--cards{display: flex;align-items: stretch;justify-content: space-between;gap: 1rem;}
  .cont__txtone--cont--cards--item--cImg{height: 130px;}
  .cont__txtone--cont--cards--item--cInfo--link{padding: 0.75rem 1rem;font-size: .8rem;}
	.cont__txtone--cont--CItems--item--title{order: unset;}
	.cont__txtone--cont--CItems--item--textimg{display: flex;flex: 0 0 100%;gap: 1rem;flex-direction: row;align-items: center;}
	.cont__txtone--cont--CItems--item--textimg--desc{order: unset;flex: 50%;}
	.cont__txtone--cont--CItems--item--textimg--cImg{order: unset;flex: 30%;}
	.cont__txtone--cont--CItems--item--textimg--cImg--img{width: 70%;}
}
@media (min-width: 768px){
	.cont__txtone--cont--cards{display: grid;grid-template-columns: 1fr 1fr;grid-column-gap: 2rem;grid-template-rows: 1fr;}  
	.cont__txtone--cont--CItems--item--textimg--desc{font-size: 1.1rem;flex: 65%;}
	.cont__txtone--cont--CItems--item{display: flex;flex: 0 0 100%;gap: 1rem;align-items: center;}
	.cont__txtone--cont--CItems--item--title{flex: 25%;text-align: right;margin-right: .5rem;}
	.cont__txtone--cont--CItems--item--textimg{flex: 70%;}
	.cont__txtone--cont--cards--item--cImg{height: 150px;}
}
@media (min-width: 1024px){
	.cont__txtone--cont--cards{grid-column-gap: 3rem;}
	.cont__txtone--cont--title{font-size: 2rem;}
	.cont__txtone--cont--cards--item--cInfo--type{font-size: 1.7rem;}
	.cont__txtone--cont--cards--item--cInfo--desc{font-size: 1.1rem;}
	.cont__txtone--cont--CItems--item--textimg{flex: 60%;}
	.cont__txtone--cont--CItems--item--textimg--cImg--img{position: relative;top: -4px;}
	.cont__txtone--cont--CItems--item:nth-child(2) .cont__txtone--cont--CItems--item--textimg--cImg--img{width: 60%;}
	.cont__txtone--cont--CItems--item--textimg--desc{font-size: 1.25rem;}
	.cont__txtone--cont--cards--item--cInfo--link{font-size: .9rem;padding: 0.75rem 2rem;}
	.cont__txtone--cont--cards--item--cImg{height: 200px;}
	.cont__txtone--cont--CItems--item--title{flex: 18%;}
}
@media (min-width: 1400px){
  .cont__txtone--cont--title{font-size: 2.2rem;}
}