/*===================================================
=            MENSAJE DE ALERTA AL USUARIO            =
====================================================*/
#msgrecover-pass .cont-form-rec--form--alertmsg__success{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.4);
  min-height: 100vh;
  height: 100%;
  z-index: 99;
  overflow-y: auto;
}
#msgrecover-pass.active .cont-form-rec--form--alertmsg__success{
  display: none;
}
#msgrecover-pass2{
  display: none;
}
#btnupdatepass:disabled{
  background-color: #ccc;
}
#btnupdatepass:enabled{
  background-color: var(--hov-secondary-clr);
}
#msgrecover-pass2.active{
  display: block;
  color: green;
  font-weight: bold;
}
.cont-form-rec--form--alertmsg__success__contmsg{
  width: 55px;
  height: 55px;
  border: 4px solid transparent;
  border-left-color: #09f;
  border-radius: 50%;
  animation-name: rotatecirclechange;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotatecirclechange{
  0%{
    transform: rotate(0);
  }100%{
    transform: rotate(360deg);
  }
}
.cont-recover-password{
	max-width: var(--max-width-home);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cont-recover-password .cont-headertop-login{
	position: absolute;
	top: 0;
	left: 0;
}
.cont-form-rec{
	text-align: center;
}
.cont-form-rec--form--title{
	font-weight: 500;
  font-weight: bold;
  color: #003857;
}
.cont-form-rec--form{
	max-width: 560px;
	width: auto;
  border-radius: 1.5rem;
  padding: 1.5rem;
  background-color: var(--bgc-login);
  border-radius: 8px;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,.1);
  background-color: #fff;
  border: thin solid #e6e6e6;
}
.cont-form-rec--form--cBckLgg{
  padding: 0.5rem 0;
}
.cont-form-rec--form--cBckLgg--link{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #444;
}
.cont-form-rec--form--cBckLgg--link:hover{
  text-decoration: underline !important;
}
.cont-form-rec--form--cBckLgg--link svg{
  fill: #444;
  vertical-align: middle;
  position: relative;
  top: 3px;
}
.cont-form-rec--form--btnsendemail{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-clr);
  color: #fff;
  min-height: 40px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  transition: .1s;
  font-size: .8rem;
  font-family: var(--fuente-categorias_1);
  padding: 0.68rem;
  width: 100%;
  margin: 0;
}
.cont-form-rec--form--btnsendemail:hover,
.cont-form-rec--form--btnsendemail:active{
  background-color: var(--hov-secondary-clr);
}
.cont-form-rec--form--control{
	width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #fff;
  padding-left: 0.7rem;
  border-radius: .8rem;
  background-color: #dfe9f2;
  border: thin solid #8c9196;
  border-radius: 4px;
}
.cont-form-rec--form--control--conticon{
	width: 24px;
	height: 24px;
}
.cont-form-rec--form--control--conticon img{
	width: 100%;
	height: 100%;
}
.cont-form-rec--form--control--input{
	width: 100%;
  line-height: 2.5rem;
  border: none;
  outline: none !important;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: .6rem;
  padding-right: 0.65rem;
  margin-left: 0.6rem;
  border-radius: 0 .6rem .6rem 0;
  font-size: 0.75rem;
  border-radius: 0 .6rem .6rem 0;
  border-left: thin solid rgba(153,153,153,.4901960784);
}
#cont-msg-inputpass{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
#cont-msg-inputpass.disabled{
  display: none;
}
.cont-form-restore--form--control--icon-check{
  position: relative;
  /*right: 8px;*/
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .3rem;
}
.cont-form-restore--form--control--icon-check.disabled{
  display: none;
}
.cont-form-restore--form--control--icon-check svg{
  fill: #9DC92A;
}
@media (min-width: 768px){
	.cont-form-rec--form{padding: 2rem;}
	.cont-form-rec--form--control--input{font-size: 0.9rem;}
	.cont-form-rec--form--btnsendemail{font-size: 0.9rem;}
}
@media (min-width: 1024px){
	.cont-form-rec--form--control--input{
		line-height: 2.75rem;
	}
}

/*==================================================================
=                    STYLES INTO RESTORES PASSWORD                 =
===================================================================*/
#msgrestore-pass .cont-form-restore--form--alertmsg__success{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.4);
  min-height: 100vh;
  height: 100%;
  z-index: 99;
  overflow-y: auto;
}
#msgrestore-pass.show .cont-form-restore--form--alertmsg__success{
  display: none;
}
#msgrestore-pass2{
  display: none;
  font-weight: bold;
  margin: 0;
  position: relative;
  /*top: -10px;*/
}
#msgrestore-pass2.danger{display: block;color: red;}
#msgrestore-pass2.info{display: block;color: orange;}
#msgrestore-pass2.success{display: block;color: green;}

.cont-form-restore--form--alertmsg__success__contmsg{
  width: 55px;
  height: 55px;
  border: 4px solid transparent;
  border-left-color: #09f;
  border-radius: 50%;
  animation-name: rotatecirclechange;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotatecirclechange{
  0%{
    transform: rotate(0);
  }100%{
    transform: rotate(360deg);
  }
}
.cont-recover-password{
  max-width: var(--max-width-home);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-recover-password .cont-headertop-login{
  position: absolute;
  top: 0;
  left: 0;
}
.cont-form-restore{
  text-align: center;
}
.cont-form-restore--form--description{
  
}
.cont-form-restore--form--title{
  font-size: 1.4rem;
  font-weight: 500;
}
.cont-form-restore--form{
  max-width: 460px;
  width: auto;
  border-radius: 1.5rem;
  padding: 1.5rem;
  background-color: var(--bgc-login);
}
.cont-form-restore--form--btnsendemail{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-clr);
  color: #fff;
  min-height: 40px;
  border-radius: .8rem;
  font-weight: bold;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  transition: .1s;
  font-size: .8rem;
  font-family: var(--fuente-categorias_1);
  padding: 0.68rem;
  width: 100%;
  margin: 0;
}
.cont-form-restore--form--btnsendemail:hover,
.cont-form-restore--form--btnsendemail:active{
  background-color: var(--hov-secondary-clr);
}
.cont-form-restore--form--control{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #fff;
  padding-left: 0.7rem;
  border-radius: .8rem;
}
.cont-form-restore--form--control--conticon{
  width: 24px;
  height: 24px;
}
.cont-form-restore--form--control--conticon img{
  width: 100%;
  height: 100%;
}
.cont-form-restore--form--control--input{
  width: 100%;
  line-height: 2.5rem;
  border: none;
  outline: none !important;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: .6rem;
  padding-right: 0.65rem;
  margin-left: 0.6rem;
  border-radius: 0 .6rem .6rem 0;
  font-size: 0.75rem;
}
@media (min-width: 768px){
  .cont-form-restore--form{padding: 2rem;}
  .cont-form-restore--form--control--input{font-size: 0.9rem;}
  .cont-form-restore--form--btnsendemail{font-size: 0.9rem;}
}
@media (min-width: 1024px){
  .cont-form-restore--form--control--input{
    line-height: 2.75rem;
  }
}