/* MEDIA QUERIES - HOME.PHP */
@media (max-width: 1152px){
  .content-footer-policy-ttrk{max-width: 1000px !important;}
}
@media (max-width: 1151px){
  .header-trk > section{padding-left: 15px;padding-right: 15px;}
  .header-trk > section > .content-logo-trueque > #cont-logo--trk > a{width: 130px;height: 50px;}
  .content-b-bar-options-h .cont-opts-h{max-width: 1024px;}
  .content-footer-policy-ttrk > .content-footer-bottom > .content-left-footer > .content-bottom-footer-right > p{font-size: 0.9rem;}
}
@media (max-width: 1024px){
	.content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li, .content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul li{width: calc(100% * 1/3 - 16px);}
	.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li, .content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li{width: calc(100% * 1/3 - 16px);}	
  .content-b-bar-options-h .cont-opts-h{max-width: 960px;}
  .header-cont-opts-primary{max-width: 960px;margin: auto;padding:auto;}
  .header-trk > section{width: 95% !important;}
  .content-menu-trk{display: none !important;}
}
@media (max-width: 960px){
	.content-b-bar-options-h .cont-opts-h{max-width: 850px;}
}
@media (max-width: 850px){
  .content-b-bar-options-h .cont-opts-h{max-width: 850px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/3);}
}
@media (max-width: 800px){
  .content-b-bar-options-h .cont-opts-h{max-width: 800px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/3);}
}
@media (max-width: 768px){
  .content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li, .content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul li{width: calc(100% * 1/2 - 16px);}
	.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li, .content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li{width: calc(100% * 1/2 - 16px);}
  .content-b-bar-options-h .cont-opts-h ul a{display: flex;justify-content: center;}
  .content-b-bar-options-h .cont-opts-h ul a li{width: 90%;}
  .content-b-bar-options-h .cont-opts-h ul a:hover li{color: #fff;box-shadow: unset;background: dodgerblue;box-shadow: 0 2px 0 0 #fff inset;width: 90%;}
  .content-b-bar-options-h .cont-opts-h ul a.active li{color: #fff;box-shadow: unset;background: dodgerblue;box-shadow: 0 2px 0 0 #fff inset;width: 90%;}
  #contenedor-principal-home{height: 800px !important;}
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/3);}
 .content-header-trk{box-shadow: unset;}
 .header-trk > section{width: 95% !important;}
 .content-options-trk{width: 239px;}
}
@media (max-width: 752px){
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/3);}
}
@media (max-width: 751px){
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/3);}
  .content-footer-policy-ttrk > .content-footer-bottom{justify-content: center;flex-direction: column;text-align: center;}
  .content-footer-policy-ttrk > .content-footer-bottom > .content-left-footer{padding: 0;}
}
@media (max-width: 640px){
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/3);}
}
@media (max-width: 600px){
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/3);}
}
@media (max-width: 576px){
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/3);}
  .content-options-trk{display: flex;align-items: center;flex-direction: row;justify-content: flex-end;}
  .header-trk > section > .content-options-trk > a:nth-child(2){display: none !important;}
}
@media (max-width: 550px){
	.content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li, .content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul li{width: calc(75%);}
	.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li, .content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li{width: calc(75%);}
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/3);}
}
@media (max-width: 500px){
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/2);}
}
@media (max-width: 478px){
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/2);}
}
@media (max-width: 425px){
	.content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li, .content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul li{width: calc(85%);}
	.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li, .content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li{width: calc(85%);}
}
@media (max-width: 414px){
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/2);}
}
@media (max-width: 412px){
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/2);}
}
@media (max-width: 384px){
  #contenedor-principal-home{height: 850px !important;}
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/2);}
}
@media (max-width: 375px){
  .content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li, .content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul li{width: calc(90%);}
	.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li, .content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li{width: calc(90%);}
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/2);}
}
@media (max-width: 360px){
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/2);}
  .header-trk > section{width: 100% !important;}
}
@media (max-width: 350px){
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/2);}
}
@media (max-width: 320px){
 	.contn-info-preguntas-frecuentes > h1{margin: 0 0 2rem 0;}
  .content-tutorial-webapp-client .contain-webcli-tutorial .cont-steps-web ul li, .content-tutorial-webapp-client .contain-appcli-tutorial .cont-steps-app ul li{width: calc(100%);}
	.content-tutorial-webapp-seller .contain-websell-tutorial .cont-steps-web ul li, .content-tutorial-webapp-seller .contain-appsell-tutorial .cont-steps-app ul li{width: calc(100%);}
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/2);}
  .content-header-trk{box-shadow: unset;}
  .header-trk > section{width: 100% !important;}
  .content-options-trk{width: 239px;}
  .header-trk > section > .content-menu-trk{display: none !important;}
  .header-trk > section > .content-logo-trueque > #cont-logo--trk > a{width: 120px;height: 45px;}
  .header-trk > section > .content-options-trk > a{font-size: .65rem;padding: 0.65rem 1.3rem;font-weight: bold;}
}
@media (max-width: 300px){
  #contenedor-principal-home{height: 990px !important;}
}
@media (max-width: 280px){
  #contenedor-principal-home{height: 1000px !important;}
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/2);}
  .header-trk > section{width: 100%;padding-left: 5px;padding-right: 5px;}
}
@media (max-width: 240px){
  #contenedor-principal-home{height: 1000px !important;}
  .content-b-bar-options-h .cont-opts-h{max-width: 768px;height: auto;}
  .content-b-bar-options-h .cont-opts-h ul{flex-wrap: wrap;}
  .content-b-bar-options-h .cont-opts-h ul a{width: calc(100% * 1/2);}
  .content-total-text_b > section{max-width: 220px !important;}
  .content-total-text_b > section > .container-desc-txt-r, .content-total-text_b > section > .container-desc-txt-l{min-width: 200px !important;}
  .header-trk > section > .content-logo-trueque > #cont-logo--trk > a{width: 100px;height: 40px;}
  .header-trk > section{width: 100% !important;padding-left: 5px;padding-right: 5px;}
  .header-trk > section > .content-options-trk > a{font-size: .65rem;padding: 0.65rem 1.3rem;font-weight: bold;}
  .btn-register {width: 100%;font-size: 0.7rem;}
}


/* TAMAÑOS ARREGLADOS Y REALES */
@media (min-width: 244px){
	.cont-preg-frecuentes ul li h1{font-size: 1.35rem;}
  .c-bannerH__nav .container .cont-logo-ttrq-nav-tabs{margin: 0 !important;}
  .c-bannerH__nav .container .cont-logo-ttrq-nav-tabs img{width: 85px !important;}
  .c-bannerH__nav .container .content-options-trk-tabs a{font-size: 0.65rem;padding: 0.7rem 1rem;}
}
@media (min-width: 244px) and (max-width: 300px){
  #cont-b-init-home-ttrq{margin: 4.5rem 0 0 0 !important;}
  .c-bannerH__nav .container .content-options-trk-tabs a.ico-user-valid{padding: 0.7rem 0.65rem;}
  .c-bannerH__nav .container .content-options-trk-tabs a.ico-user-valid svg{width: 0.7rem;}
}
@media (min-width: 300px){
  .c-bannerH__nav .container .cont-logo-ttrq-nav-tabs img{width: 100px !important;}
}
@media (min-width: 480px){
  .c-bannerH__nav .container .cont-logo-ttrq-nav-tabs img{width: 145px !important;}
}
@media (min-width: 768px){
  .c-bannerH__nav .container .content-options-trk-tabs a{font-size: 0.7rem;}
  section > .container-desc-txt-r > .content-text-desc-trk > h2, section > .container-desc-txt-l > .content-text-desc-trk > h2{font-size: 1.7rem !important;}
}
@media (min-width: 1025px){
  .cont-preg-frecuentes ul li h1{font-size: 1.65rem;}
  .c-bannerH__nav .container .content-options-trk-tabs a{padding: 0.8rem 1.2rem;}
  section > .container-desc-txt-r > .content-text-desc-trk > h2, section > .container-desc-txt-l > .content-text-desc-trk > h2{font-size: 1.8rem !important;}
}
@media (min-width: 1200px){
  section > .container-desc-txt-r > .content-text-desc-trk > h2, section > .container-desc-txt-l > .content-text-desc-trk > h2{font-size: 1.95rem !important;}
}
@media (min-width: 1400px){
  .cont-preg-frecuentes ul li h1{font-size: 1.8rem;}
}