/* MEDIA QUERIES - INDEX.PHP */
@media (max-width: 1200px){ 
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: 1.15rem;font-weight: 500;}
}
@media (max-width: 1152px){
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: 1.15rem;font-weight: 500;}
}
@media (max-width: 1024px){
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: 1.15rem;font-weight: 500;}
}
@media (max-width: 991px){
  .cont-msg-any-products-cart{min-height: 78vh;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h{display: flex;align-items: center;justify-content: center;height: 195px;overflow: hidden;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products_admin > .desc-product-text_admin h1, #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products > .desc-product-text h1{min-height: unset !important;max-height: none !important;overflow: unset !important;}
  .targets_products > .photo_products{padding: 0 !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: 1.15rem;font-weight: 500;}
}
@media (max-width: 960px){
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products_admin > .desc-product-text_admin, #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products > .desc-product-text{overflow: hidden;width: 100%;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products > .stars_by_products, #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products_admin > .stars_by_products{display: none;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products_admin > .desc-product-text_admin h1, #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products > .desc-product-text h1{width: 100%;max-height: 34px !important;overflow: hidden;height: 100%;}
  #content-more-sells > #title-content-more-sells > #content-text-more-sells > h3{font-size: 1.6rem;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: 1.05rem;font-weight: 600;}
}
@media (max-width: 900px){
  header ul.top_tools{display: flex;align-items: center;justify-content: space-between;width: 100%;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .9rem;font-weight: 600;}
}
@media (max-width: 850px){
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .85rem;font-weight: 600;}
}
@media (max-width: 800px){
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 330px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .85rem;font-weight: 600;}
}
@media (max-width: 768px){
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .85rem;font-weight: 600;}
}
@media (max-width: 767px){
  header .main_nav{padding: 10px 0 0 0 !important;}
}
@media (max-width: 752px){
  .link-logo_official_ttrueque{width: 120px;height: 60px;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .85rem;font-weight: 600;}
}
@media (max-width: 751px){
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .85rem;font-weight: 600;}
}
@media (max-width: 640px){ 
  .link-logo_official_ttrueque{width: 100px;height: 60px;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){width:110px;font-size: .7rem;font-weight: 600;}
}
@media (max-width: 600px){ 
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;font-weight: 600;}
}
@media (max-width: 576px){
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{  margin-right: 6px;  max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{   height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;   font-weight: 600;}
}
@media (max-width: 550px){
  .link-logo_official_ttrueque{  width: 90px;  height: 55px;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){width: 105px;font-size: .7rem;font-weight: 700}
}
@media (max-width: 500px){
  .link-logo_official_ttrueque{   width: 90px;   height: 55px;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;font-weight: 600;}
}
@media (max-width: 478px){
  .list-all-categories-into-ttrq ul > li > .title-btn-categorias > .categories-title > span{border: 1px solid #fff;border-radius: 4px;padding: 0.2rem 0.3rem 0.2rem 0.2rem;display: flex;align-items: center;justify-content: center;}
  header ul.top_tools{margin: 0 !important;}
  .link-logo_official_ttrueque{width: 160px;height: 100%;}
  header .main_nav{padding: 0 !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;font-weight: 600;}
}
@media (max-width: 414px){
  .cont-msg-any-products-cart > h5{font-size: 1.2rem;}
  #caja_busqueda_primary{height: 35px;}
  .custom-search-input_buscador button[type="submit"]{top: .17rem;font-size: 1.05rem;right: .3rem;}
  .custom-search-input_buscador div label span{top: .46rem;}
  .link-logo_official_ttrueque{width: 90px;height: 55px;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;font-weight: 600;}
}
@media (max-width: 384px){
  .link-logo_official_ttrueque{width: 90px;height: 55px;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;font-weight: 600;}
}
@media (max-width: 375px){
  .container_cart_lis-ttrq .content-list_cart_hb_ttrq .contain-title-cart-sdleft_ttrq{padding: .8rem .8rem .5rem .8rem;}
  #cart-buy-list li .content-info-p-prods a span:last-child{font-size: 0.7rem;}
  #cart-buy-list li .content-price-s-prods{font-size: 0.7rem;}
  .link-logo_official_ttrueque{width: 90px;height: 55px;}
  #content-more-sells{max-width: 365px;min-width: 300px;padding: 0 0 0 0;margin: auto;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;font-weight: 600;}
}
@media (max-width: 360px){
  .contain-btn-go-to-cart_ttrq > a{font-size: 1.2rem !important;}
  #content-more-sells > #title-content-more-sells{  justify-content: center !important;  text-align: center;}
  .link-logo_official_ttrueque{  width: 90px;  height: 55px; }
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{  margin-right: 6px;  max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;font-weight: 600;}
}
@media (max-width: 350px){
  .link-logo_official_ttrueque{  width: 90px;  height: 55px; }
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{  margin-right: 6px;  max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;font-weight: 600;}
}
@media (max-width: 320px){
  .cont-msg-any-products-cart > h5{font-size: 1rem;font-weight: 600;}
  header ul.top_tools{  height: 100%;}
  .custom-search-input_buscador div label{  width: 98%;}
  #caja_busqueda_primary{  height: 35px;  width: 100%;}
  .custom-search-input_buscador button[type="submit"]{  top: .2rem;  font-size: 1.05rem;  right: .35rem;}
  .custom-search-input_buscador div label span{  top: 0.45rem;}
  .link-logo_official_ttrueque{  width: 90px;  height: 55px; }
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;font-weight: 500;}
  .custom-search-input_buscador div label .container-search{  position: absolute;  width: 100%;  padding: 0 0 0 0;  margin: 0;  border-radius: 0;  box-shadow: 0 10px 10px 3px rgba(0,0,0,.2);}
  header ul.top_tools li:first-child > div > a{font-size: .8rem;}
  header ul.top_tools li:first-child > div > a.access_link > p{margin-left: .3rem;}
  header ul.top_tools li:first-child > div > a.access_link:before{font-size: 1.22rem;}
  header ul.top_tools li:nth-child(2) > a:after{padding: 0 !important;font-size: 1.2rem;height: 36px;}
  li .language_icon_header_b-ttrq .icon-language_ttrq{position: absolute;top: 35px;left: -44px;background: #fff;border-radius: 0 0 10px 10px;transition: ease all 0.3s;border-top: 2px solid #004dda;}
  header ul.top_tools > li:nth-child(3){margin-left: .5rem !important;}
  header ul.top_tools li:nth-child(3) > a:before{font-size: 1.2rem;}
  header ul.top_tools li:nth-child(4) > a:before{font-size: 1.2rem;}
  header ul.top_tools li:nth-child(4) > a > span{width: 1rem;height: 1rem;left: .8rem;}
  .content-footer-policy-ttrk > .content-footer-bottom > .content-left-footer > .content-bottom-footer-right > p{padding-top: .5rem;}
  .list-all-categories-into-ttrq ul > li > #menu{top: 44px;left: 5px;}
}
@media (max-width: 280px){
  .custom-search-input_buscador button[type="submit"]{  top: .05rem;  font-size: 1.05rem;  right: .3rem;}
  .custom-search-input_buscador div label span{  top: 0.3rem;}
  .link-logo_official_ttrueque{  width: 90px;  height: 55px; }
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{   margin-right: 6px  ; max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;font-weight: 500;}
}
@media (max-width: 240px){
  #caja_busqueda_primary{  height: 35px;}
  .custom-search-input_buscador button[type="submit"]{  top: .15rem;  font-size: 1.05rem;  right: .15rem;}
  .custom-search-input_buscador div label span{  top: 0.45rem;}
  .link-logo_official_ttrueque{  width: 90px;  height: 55px; }
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-right-img-banner-publicity_ttrq{  width: 100%;  height: 50%;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq{width: 100%;display: flex;flex-direction: column;min-height: 235px;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item{margin-right: 6px;max-height: 345px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .targets_products > .photo_products > a > .content-img-best-sells-h > img{height: 200px !important;}
  .container-banner-pub_ttrq{max-width: 320px;flex-direction: column;height: 380px;}
  .container-banner-pub_ttrq > .content-b-pub_ttrq{display: flex;margin: 0;flex-direction: column;flex-flow: column-reverse;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq h4{font-size: 1.09rem;height: 100%;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-logo-offi-mrkt-b-ttrk{width: 130px;height: 130px;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:first-child{font-size: .9rem;font-weight: 700;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:nth-child(2){font-size: .7rem;font-weight: 500;}
}
/* ESTILOS REPARADOS - INDEX */
/* TAMAÑO - PREDETERMINADO(244px) */
@media (min-width: 244px){
  .nav-index-ttrq .container .menu-nav-burger-index{border: none;padding: .4rem 0 0 0;}
  .cont-logo-ttrq-nav{margin: 0 !important;}
  .cont-links-products-banners div div div div div .content-info-banner-top{text-align: center !important;}
  #carousel-home .owl-carousel .owl-stage-outer .owl-stage .owl-item .owl-slide div .container div div .slide-text h2{font-size: 1.5rem !important;}
  #carousel-home .owl-carousel .owl-stage-outer .owl-stage .owl-item .owl-slide div .container div div .slide-text p{font-size: 1rem !important;font-weight: 500;}
  .search-input-customs-header{width: 90% !important;margin-left: auto;margin-right: auto;}
  .con-t-profile-opts-link{padding-left: .3rem !important;margin-bottom: 0.5rem;}
  .con-t-categories-link{padding-left: .3rem !important;margin-bottom: 0.5rem;}
  .con-t-countries-link{padding-left: .3rem !important;margin-bottom: 0.5rem;}
  #contain-index-nav-ttrk .container .mobileMenu.open .navbar-nav .dropdown-menu{background-color: #fff;}
  #contain-index-nav-ttrk .container .mobileMenu.open .navbar-nav .dropdown-menu .dropdown-item{color: #000;}
  .cart_icon_header_b-ttrq{padding-right: 0.5rem;}
  .content-more-sells > #title-content-more-sells{display: flex;align-items: center;justify-content: center;}
  .content-more-sells > #title-content-more-sells > #content-text-more-sells{width: 100%;display: flex;justify-content: center;}
  .content-more-sells > #title-content-more-sells > #content-text-more-sells > h3{font-size: 1.2rem;padding: 0 1.2rem 0.5rem 1.2rem;margin: 0 !important;text-align: center;}
  #products-more-sells .owl-stage-outer .owl-stage{display: -webkit-box;box-sizing: border-box;padding-top: 0.6rem;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-right-img-banner-publicity_ttrq{width: 100%;height: 100%;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity{text-align: center;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity h1{font-size: 1.5rem;line-height: 1.2;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity h4{height: auto;font-size: 1rem;}
  .contenido-tiendas-off-header{display: flex;align-items: center;justify-content: center;}
  .contenido-tiendas-off-header > .content-title-tiendas{width: 100%;justify-content: center;}
  #content-more-sells > #title-content-more-sells > #content-text-more-sells > h3, .contenido-tiendas-off-header > .content-title-tiendas > h3{font-size: 1.2rem;padding: 0 1.2rem 0.5rem 1.2rem;margin: 0 !important;text-align: center;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk{display: flex;flex-direction: column;justify-content: center;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into{width: 100%;margin-bottom: 2rem;}
  .content-btn-more-brands-ttrk > .btn-brands-alls-ttrk > .btn-into-alls-ttrk{font-size: 0.9rem;padding: 0.8rem 2rem;}
  .container-list-opts-footer_ttrq > div > h3:first-child{font-size: 0.7rem !important;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-info-offi-mrkt-b-ttrk > p:first-child{font-size: 1.05rem;}
  #contain-index-nav-ttrk .container .cont-logo-ttrq-nav img{width: 115px;}
  #contain-index-nav-ttrk .container .mobileMenu.open{padding: 0 0 0 0 !important;top: 7px !important;width: 100% !important;}
  #contenedor-principal-home_2{margin-top: 3.45rem;}
  .content-more-sells{width: 90%;}
  ul.footer-selector li:last-child img{width: 100px;}
  .container-list-opts-footer_ttrq > div div .list-items-footer-opts li{font-size: 0.75rem;color: #fff;opacity: 1 !important;}
  .container-list-opts-footer_ttrq > div div .list-items-footer-opts li a{color: #fff;opacity: 1 !important;}
  .container-list-opts-footer_ttrq > div:last-child h5{color: #fff;opacity: 1 !important;}
  .container-list-opts-footer_ttrq > div:last-child #collapse_4 .follow_us ul{display: grid;grid-template-columns: repeat(4, 1fr);align-items: center;justify-content: space-between;text-align: center;grid-column-gap: .5rem;}
  .container-list-opts-footer_ttrq > div:last-child #collapse_4 .follow_us ul li{margin: 0;}
  .container-banner-pub_ttrq{flex-direction: column;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq{text-align: center;}
  .list-stores-officials-ttrk-c{width: 90%;margin-left: auto;margin-right: auto;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into > .item-cont-str-off > .cont-logo-offi-mrkt-b-ttrk{height: 120px;}
  #contain-foot-index .footer-pg-index .content-footer-policy-ttrk .content-footer-bottom .content-left-footer .content-bottom-footer-right p{font-size: 0.8rem;}
  #contain-foot-index .footer-pg-index .content-footer-policy-ttrk .content-footer-bottom .content-right-footer a{font-size: 0.8rem;}
  .cont-msg-any-products_sells svg{font-size: 2.5rem;}
  .cont-msg-any-products_sells p{font-size: 1rem;font-weight: bold;}
  .container_cart_lis-ttrq .content-list_cart_hb_ttrq .contain-title-cart-sdleft_ttrq h4{font-size: 0.95rem;font-weight: bold;}
  .cont-msg-any-products-cart{width: 90%;margin-left: auto;margin-right: auto;text-align: center;}
  .cont-msg-any-products-cart > h5{font-size: 0.95rem;font-weight: bold;}
  #cart-buy-list li{display: grid;grid-template-columns: 1fr;grid-template-rows: 75% auto;}
  #cart-buy-list li .content-info-p-prods{width: 100%;display: grid;grid-template-columns: 30% 67%;justify-content: space-between;}
  #cart-buy-list li .content-price-s-prods{justify-content: flex-end;}
  #cart-buy-list li .content-info-p-prods a{margin: 0;}
  .item-product-name_categ{width: 219.667px;}
  #contain-foot-index .footer-pg-index .content-footer-policy-ttrk .content-footer-bottom .content-left-footer .content-top-footer-left a{margin-left: auto;margin-right: auto;font-size: 0.8rem !important;}
  /* CARRUSEL DE PRODUCTOS - BEST SELLER */
  #products-more-sells .owl-stage-outer .owl-stage .owl-item{width: 219.667px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products > div > .watermark{width: 211px;}
  .contain-total-slider-banners{max-width: var(--max-width) !important;width: 90% !important;}
  /* SIDEBARLEFT PARA LOS PRODUCTOS EN EL CARRITO */
  .container_cart_lis-ttrq{width: 90% !important;}
}
/* TAMAÑO - PREDETERMINADO(300px) */
@media (min-width: 300px){
  .container-list-opts-footer_ttrq > div > h3:first-child{font-size: 0.8rem !important;}
  .container-list-opts-footer_ttrq > div:last-child h5{font-size: 0.8rem;}
  .container-list-opts-footer_ttrq > div div .list-items-footer-opts li{font-size: 0.8rem;margin-bottom: 1rem;}
  #contain-foot-index .footer-pg-index .content-footer-policy-ttrk .content-footer-bottom .content-left-footer .content-top-footer-left a{font-size: 0.95rem !important;}
  #contain-foot-index .footer-pg-index .content-footer-policy-ttrk .content-footer-bottom .content-left-footer .content-bottom-footer-right p{font-size: 0.9rem;}
  #contain-index-nav-ttrk .container .mobileMenu.open .navbar-nav{width: 95%;margin-left: auto;margin-right: auto;}
  #contain-index-nav-ttrk .container .mobileMenu.open .navbar-nav li > a{padding: 0 !important;}
  #contain-index-nav-ttrk .container .mobileMenu.open .navbar-nav .dropdown-menu{width: 95%;margin-left: auto;margin-right: auto;}
  #contain-index-nav-ttrk .container .mobileMenu.open .navbar-nav .dropdown-menu .dropdown-item{font-size: 0.85rem;}
  .content-btn-more-brands-ttrk > .btn-brands-alls-ttrk > .btn-into-alls-ttrk{font-size: 1rem;}
  /* SIDEBARLEFT PARA LOS PRODUCTOS EN EL CARRITO */
  .container_cart_lis-ttrq{width: 85% !important;}
}
/* TAMAÑO - MÓVIL PEQUEÑO */
@media (min-width: 360px){
  #contain-index-nav-ttrk .container .mobileMenu.open{padding: 0 1rem !important;}
  .search-input-customs-header{width: 100% !important;}
  #contain-index-nav-ttrk .container .mobileMenu.open .navbar-nav{width: 100%;}
  #contain-index-nav-ttrk .container .mobileMenu.open .navbar-nav li > a > span{margin: 0;}
  #contain-index-nav-ttrk .container .mobileMenu.open .navbar-nav .dropdown-menu{width: 100%;}
  .content-more-sells > #title-content-more-sells > #content-text-more-sells > h3{font-size: 1.35rem;}
  #content-more-sells > #title-content-more-sells > #content-text-more-sells > h3, .contenido-tiendas-off-header > .content-title-tiendas > h3{font-size: 1.35rem;}
  #contain-index-nav-ttrk .container .mobileMenu.open{width: 90% !important;}
  .container_cart_lis-ttrq .content-list_cart_hb_ttrq .contain-title-cart-sdleft_ttrq h4{font-size: 1.1rem;}
  #cart-buy-list li .content-info-p-prods{grid-template-columns: 20% 77%;}
  .content-btn-more-brands-ttrk > .btn-brands-alls-ttrk > .btn-into-alls-ttrk{font-size: 1.1rem;}
}
/* TAMAÑO - MÓVIL */
@media (min-width: 480px){
	.cont-msg-any-products-cart > svg{font-size: 3rem;}
	.cont-msg-any-products-cart > h5{font-size: 1.2rem;font-weight: bold;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item{width: 211.667px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products > div > .watermark{width: 203px;}
  #contain-index-nav-ttrk .container .mobileMenu.open .navbar-nav .dropdown-menu .dropdown-item{line-height: 2;}
  #contain-index-nav-ttrk .container .mobileMenu.open{width: 75% !important;}
  .container_cart_lis-ttrq .content-list_cart_hb_ttrq .contain-title-cart-sdleft_ttrq h4{font-size: 1.25rem;}
  #carousel-home .owl-carousel .owl-stage-outer .owl-stage .owl-item .owl-slide div .container div div .slide-text h2{font-size: 1.8rem !important;}
  #carousel-home .owl-carousel .owl-stage-outer .owl-stage .owl-item .owl-slide div .container div div .slide-text p{font-size: 1.05em !important;}
  .content-more-sells > #title-content-more-sells > #content-text-more-sells{justify-content: flex-start;}
  .contenido-tiendas-off-header > .content-title-tiendas{justify-content: flex-start;}
  .content-more-sells > #title-content-more-sells > #content-text-more-sells > h3{padding: 0 1.2rem 0.5rem 0;}
  #content-more-sells > #title-content-more-sells > #content-text-more-sells > h3, .contenido-tiendas-off-header > .content-title-tiendas > h3{padding: 0 1.2rem 0.5rem 0;}
  .list-stores-officials-ttrk-c{width: 100%;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk > .item-str-off-into{margin: 0;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk{display: grid;grid-template-columns: 1fr 1fr;grid-column-gap: 1rem;grid-row-gap: 1rem;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity h1{font-size: 1.65rem;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity h4{font-size: 1.2rem;}
  .cont-msg-any-products_sells svg{font-size: 3rem;}
  .cont-msg-any-products_sells p{font-size: 1.25rem;font-weight: 500;}
}
/* CUSTOMS MEDIA QUERIE - (244px to 768px) */
@media (min-width: 244px) and (max-width: 768px){
  .cont-info-product-name_categ-ttrk ul{width: 100%;height: auto;}
  .cont-info-product-name_categ-ttrk ul li{width: 100%;height: auto;}
  .list-all-products-name-categoria .items-products-name-categorias .cont-info-product-name_categ-ttrk ul li a{display: flex;position: relative;padding: 1.2rem;text-align: center;margin: 0.2rem auto .625rem auto;top: 0 !important;right: 0 !important;left: 0 !important;bottom: 0 !important;align-items: center;justify-content: center;}
  #contain-foot-index .max-footer-w_ttrq{padding-left: 1rem;padding-right: 1rem;}
  #cont-all-products_namecategories-in-ttrk{margin-top: 4.5rem;}
  .container_cart_lis-ttrq .content-list_cart_hb_ttrq .contain-title-cart-sdleft_ttrq h4 svg{display: none;}
  .list-all-products-name-categoria > .btn-l-name-categorias-products{left: -8px;}
  .list-all-products-name-categoria > .btn-r-name-categorias-products{right: -8px;}
  .list-all-products-name-categoria > .btn-l-name-categorias-products, .list-all-products-name-categoria > .btn-r-name-categorias-products{width: 38px;height: 38px;padding: 1.5rem 1.5rem;display: flex;align-items: center;justify-content: center;border-radius: 50%;top: 50%;transform: translateY(-50%);}
}
/* CUSTOMS MEDIA QUERIES */
@media (min-width: 576px){.search-input-customs-header > .container-search{width: 98%;}}
@media (min-width: 650px){.search-input-customs-header > .container-search{width: 98.4%;} }
/* TAMAÑO - TABLET */
@media (min-width: 768px){
  #contain-index-nav-ttrk .container .mobileMenu.open{width: 50% !important;}
  .search-input-customs-header > .container-search{width: 97.6%;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk{grid-template-columns: repeat(3, 1fr);}
  .container_cart_lis-ttrq .content-list_cart_hb_ttrq .contain-title-cart-sdleft_ttrq h4{font-size: 1.45rem;}
  #cart-buy-list li .content-price-s-prods{font-size: 1rem;padding-right: 1rem;}
  #carousel-home .owl-carousel .owl-stage-outer .owl-stage .owl-item .owl-slide div .container div div .slide-text h2{font-size: 2rem !important;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity h1{font-size: 1.8rem;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity h4{font-size: 1.25rem;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity{align-items: flex-start;text-align: left;width: 60%;}
  #cont-all-products_namecategories-in-ttrk{margin-top: 5rem;}
  .cont-msg-any-products-cart > svg{font-size: 3.5rem;}
  .cont-msg-any-products_sells svg{font-size: 3.5rem;}
  .cont-msg-any-products_sells p{font-size: 1.35rem;font-weight: 500;}
  #contain-foot-index .footer-pg-index .content-footer-policy-ttrk .content-footer-bottom .content-left-footer .content-top-footer-left a{margin: 0;}
  /* SIDEBARLEFT PARA LOS PRODUCTOS EN EL CARRITO */
  .container_cart_lis-ttrq{width: 75% !important;}
  #cart-buy-list li .content-info-p-prods{grid-template-columns: 15% 82%;}
}
/* CUSTOMS MEDIA QUERIES */
@media (min-width: 800px){.search-input-customs-header > .container-search{width: 97.9%;}}
@media (min-width: 900px){.search-input-customs-header > .container-search{width: 98.2%;}}
/* TAMAÑO - CUSTOM INPUT SEARCH */
@media (min-width: 993px){
  .search-input-customs-header{margin: 0 .5rem;}
  .search-input-customs-header > .container-search{width: 93.7%;}
  .cont-list-opts-profile > a.dropdown-item{font-size: 0.9rem;padding: 0.4rem 1rem !important;}
  .content-list-categories-naside > a.dropdown-item{font-size: 0.9rem;}
  .content-list-categories-naside > a.dropdown-item{color: #000;padding: 0.4rem 1.5rem;}
  #cart-buy-list li .content-info-p-prods{grid-template-columns: 17% 81%;}
  /* SIDEBARLEFT PARA LOS PRODUCTOS EN EL CARRITO */
  .container_cart_lis-ttrq{width: 55% !important;}
  #contenedor-principal-home_2{margin-top: 3.4rem;}
}
/* TAMAÑO - CUSTOM SLIDER PRODUCTS */
@media (min-width: 1024px){
  #products-more-sells .owl-stage-outer .owl-stage .owl-item{width: 222.8px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products > div > .watermark{width: 221px;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk{grid-template-columns: repeat(4, 1fr);}
  .cont-links-products-banners div div div div div .content-info-banner-top{text-align: left !important;}
  .cont-links-products-banners div div div div div .text-center{text-align: center !important;}
  .cont-links-products-banners div div div div div .text-right{text-align: right !important;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity{width: 40%;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity h1{font-size: 2.2rem;}
  .content-btn-more-brands-ttrk > .btn-brands-alls-ttrk > .btn-into-alls-ttrk{font-size: 1.2rem;font-weight: 800;}
  .container-list-opts-footer_ttrq > div > h3:first-child{font-size: 0.9rem !important;font-weight: 800;}
  .container-banner-pub_ttrq{height: 420px;}
  .cont-msg-any-products-cart > svg{font-size: 4rem;}
	.cont-msg-any-products-cart > h5{font-size: 1.3rem;}
  .cont-msg-any-products_sells svg{font-size: 4rem;}
  .cont-msg-any-products_sells p{font-size: 1.5rem;font-weight: 500;}
  #contain-index-nav-ttrk .container .cont-logo-ttrq-nav img{width: 145px;}
  .search-input-customs-header > .container-search{width: 93.9%;top: 30px;}
}
/* TAMAÑO - DESKTOP */
@media (min-width: 1025px){
  .cont-list-opts-profile > a.dropdown-item{padding: 0.5rem 1rem !important;}
  .content-list-categories-naside > a.dropdown-item{padding: 0.5rem 1.5rem;}
}
/* CUSTOMS MEDIA QUERIES */
@media (min-width: 1070px){.search-input-customs-header > .container-search{width: 94.4%;}}
@media (min-width: 1100px){.search-input-customs-header > .container-search{width: 94.8%;}}
@media (min-width: 1140px){.search-input-customs-header > .container-search{width: 95.2%;}}
@media (min-width: 1180px){.search-input-customs-header > .container-search{width: 95.5%;}}
@media (min-width: 1200px){.search-input-customs-header > .container-search{width: 95.7%;}}
@media (min-width: 1220px){.search-input-customs-header > .container-search{width: 95.9%;}}
@media (min-width: 1300px){.search-input-customs-header > .container-search{width: 96.1%;}}
/* TAMAÑO - DESKTOP HD */
@media (min-width: 1400px){
  .cont-list-opts-profile > a.dropdown-item{font-size: 0.95rem;}
  #carousel-home .owl-carousel .owl-stage-outer .owl-stage .owl-item .owl-slide div .container div div .slide-text h2{font-size: 2.4rem !important;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity h1{font-size: 2.5rem;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity h4{font-size: 1.4rem;}
  .content-more-sells > #title-content-more-sells > #content-text-more-sells > h3{font-size: 1.5rem;}
  #content-more-sells > #title-content-more-sells > #content-text-more-sells > h3, .contenido-tiendas-off-header > .content-title-tiendas > h3{font-size: 1.5rem;}
  #btn-filter-stores-index{margin: 5.5rem auto 3.75rem auto !important;}
  .content-btn-more-brands-ttrk > .btn-brands-alls-ttrk > .btn-into-alls-ttrk{font-size: 1.25rem;padding: 0.9rem 2.2rem;}
  .container-list-opts-footer_ttrq > div > h3:first-child{font-size: 1rem !important;}
  .content-list-categories-naside > a.dropdown-item{font-size: .95rem;}
  .search-input-customs-header > .container-search{width: 95.8%;}
  #cart-buy-list li .content-info-p-prods{grid-template-columns: 16% 81%;}
  .list-stores-officials-ttrk-c > .items-str-off-ttrk{grid-template-columns: repeat(6, 1fr);grid-column-gap: 2rem;}
.container-list-opts-footer_ttrq > div div .list-items-footer-opts li{font-size: 0.9rem;}
  .container-list-opts-footer_ttrq > div div .list-items-footer-opts li a{font-size: 0.9rem;}
  .container-list-opts-footer_ttrq > div:last-child h5{font-size: 0.9rem;}
  .container-banner-pub_ttrq .content-b-pub_ttrq .content-left-info-banner-publicity_ttrq .content-description-banner-publicity{width: 35%;}
  /* SIDEBARLEFT PARA LOS PRODUCTOS EN EL CARRITO */
  .container_cart_lis-ttrq{width: 45% !important;}
  /* CARRUSEL DE PRODUCTOS - BEST SELLER */
  #products-more-sells .owl-stage-outer .owl-stage .owl-item{width: 236.05px !important;}
  #products-more-sells .owl-stage-outer .owl-stage .owl-item .item .descriptions_products > div > .watermark{width: 234px;}
}