/* STYLES INTO STORES RADIO BUTTONS */
.cont-products-order-info-cli_ttrq{  display: flex;  width: 100%;  align-items: center;  justify-content: center;}
.cont-products-order-info-cli_ttrq .cont-wrap-radio-stores{  display: flex;  position: relative;  border-radius: 1rem;}
/* PROPIEDDADES CAROUSEL TINYSLIDER */
/*.tns-outer{  position: relative;  max-width: 900px;}
.tns-controls{  position: absolute;  width: 100%;  display: flex;  align-items: center;  justify-content: space-between;}
.tns-controls button{  z-index: 999;  border: none;  padding: .5rem .7rem;  display: flex;  align-items: center;  justify-content: center;  text-align: center;  background: #fff;  box-shadow: -1px 0 10px 1px rgba(0,0,0,.2);}
.tns-controls button:hover{  opacity: 100%;}
#cont-radio-stores-mw{  max-width: 900px;}
.tns-controls button[data-controls="prev"]{  left: 0;  border-radius: 1rem 0 0 1rem;}
.tns-controls button[data-controls="next"]{  right: 0;  border-radius: 0 1rem 1rem 0 ;}
.tns-nav{  display: none;}*/
/*  */
/* CAROUSEL TIENDAS  - CON VANILLA JS*/
.cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-btns-carousel-ttrk-checkstores .btntrackord{  position: absolute;  height: 100%;  width: 20px;  border: none; background-color: transparent;outline: none;  z-index: 99;color: var(--secondary-clr);font-weight: bold;font-size: 3.5rem;display: flex;align-items: center;justify-content: center;}
.cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-btns-carousel-ttrk-checkstores .btntrackord:active{  transform: scale(.95);}
.cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-btns-carousel-ttrk-checkstores .btn-sideleft{  left: 0;  border-radius: 50%;}
.cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-btns-carousel-ttrk-checkstores .btn-sideright{  right: 0;  border-radius: 50%;}
.cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-radio-stores{  display: flex;  margin: 0 .5rem;  align-items: center;  width: 200px;overflow: hidden;}
/*  */
.cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-radio-stores div{  max-width: 200px;  min-width: 200px;  box-sizing: border-box !important;  margin: 0 .5rem;}
.cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-radio-stores div label{  height: 100%;  display: block;  margin-left: .5rem !important;  font-size: 0.9rem;  border: 1px solid #ddd;  border-radius: 1.5rem;  padding: .4rem 1.5rem;  cursor: pointer;  max-width: 155px;width: 155px;font-weight: bold;margin-bottom: 0 !important;color: var(--primary-clr);transition: ease .2s;}
.cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-radio-stores div label:hover{background-color: var(--bgc-login);}
.cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-radio-stores div input{  display: none;}
.cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-radio-stores div input:checked + label{  background-color: var(--bgc-login);transform: scale(.95);  font-weight: bold;}
/*==========================0 */
.container_search_bar_ttrq{	position: relative;  margin-bottom: 60px;}
.container_search_bar_ttrq > label{	width: 100%;	position: relative;}
/* ESTADO REPOSO */
.container_search_bar_ttrq > label > span{  color: grey;  font-size: 1rem;  font-weight: 400;  position: absolute;  left: 1rem;  top: .8rem;}
/* ESTADO FOCUS */
.container_search_bar_ttrq > label > span.foco{  display: none;}
.container_search_bar_ttrq > label > .input-search_bar_ttrq{	border: 0;  height: 50px;  border-radius: 3px;  padding-left: 15px;  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.15);display: block;  font-size: 1rem;  font-weight: 400;  width: 100%;  padding: .375rem .75rem;  line-height: 1.5;  color: #495057;  background-color: #fff;  background-clip: padding-box;  border: 1px solid #ced4da;  border-radius: .25rem;  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.container_search_bar_ttrq > .button-search_bar_ttrq{	position: absolute;  right: -1px;  color: #fff;  font-weight: 600;  top: 0;  border: 0;  padding: 0 25px;  height: 50px;  cursor: pointer;  border-radius: 0 3px 3px 0;  background-color: #004dda;  transition: all .3s ease-in-out;}
/* ESTILOS DE TRACK PARA LOS PRODUCTOS */
#track_order .container-track-order_ttrq{  text-align: center;  max-width: var(--max-width);  min-height: 100vh;width: 90%;margin-left: auto;margin-right: auto;margin-top: 2rem;}
#track_order .container-track-order_ttrq .content-track-order_ttrq{  width: auto;  margin: auto;  height: 100%;font-family: var(--fuente-categorias_2);}
#track_order .container-track-order_ttrq .content-track-order_ttrq > h1{  font-size: 2.1rem;  margin: 0.5rem 0 !important;  color: var(--primary-clr);font-weight: 800;}
#track_order .container-track-order_ttrq .content-track-order_ttrq section{  width: 100%;  min-height: 255px;  border-radius: 1.5rem;  box-shadow: 0 5px 10px 5px rgba(0,0,0,.13);  display: flex !important;  margin-bottom: 5.2rem;}
#track_order .container-track-order_ttrq .content-track-order_ttrq section .cont-products-order-info-cli_ttrq{  width: 100%;  display: flex;  flex-direction: column;  padding: 1.1rem 2rem 1.1rem 2rem;  border-radius: 1.5rem;  background: #fff;  position: relative;overflow: hidden;border: 1px solid var(--color-border-content);}
/* INFOMMACIÓN DE LA TIENDA */
.cont-inf-store-trackord-ttrq{  display: flex;  width: 100%;  height: auto;  margin: 0 0 1.3rem 0;  flex-direction: row;}
.cont-inf-store-trackord-ttrq > h1{  font-size: 1.8rem !important;padding-bottom: 0 !important;  margin-bottom: 0 !important;font-weight: 800;color: var(--primary-clr);}
/* INFORMACIÓN DEL PEDIDO */
.cont-inf-prod-by-str-trackord{display: flex;align-items: flex-start;justify-content:space-between;width: 100%;text-align: left;gap: 1rem;  margin-top: 3rem;}
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord{  width: auto;width: 68%;}
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul{  list-style: none;  padding: 0 0 0 0 !important;  margin: 0 !important;}
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li{margin-bottom: 1rem;background-color: var(--bgc-login);padding: .5rem .5rem 0.15rem .5rem;border-radius: 1.5rem;}
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li:last-child{border: none;};
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord{  display: flex;align-items: flex-start;  justify-content: flex-start;  gap: 1rem;}
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-img-prod-trackord{ min-width: 100px; width: 100px;  height: 100px;  border: 1px solid #ddd;  border-radius: 10px;box-shadow: 0 4px 10px 3px rgba(0,0,0,.05);background-color: #fff;padding: .5rem 0;}
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-img-prod-trackord div{  width: 100%;  height: 100%;  background-position: center;  background-repeat: no-repeat;  background-size: contain;  border-radius: 10px;}
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-inf-prod-trackord{  display: flex;  flex-direction: column;  width: auto;  line-height: 1.43rem;  line-break: anywhere;}
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-inf-prod-trackord span:first-child{color: var(--color-info-prod-orders);}
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-inf-prod-trackord span:nth-child(2){font-size: 1.5rem;color: var(--primary-clr);font-weight: 800;}
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-inf-prod-trackord span:nth-child(3){  color: var(--secondary-clr);  font-weight: bold;}
.cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-inf-prod-trackord span:last-child{  color: var(--primary-clr);  font-weight: bold;}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track{  width: 315px;  height: 100%;}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form{  width: auto;  display: flex;  flex-direction: column;  align-items: flex-start;  justify-content: flex-start;  height: 100%;}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form #contmsgtrack{  width: 100%;}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form #contmsgtrack div{  width: 100%;}
/* BOTONES DE CAMBIO DE MENSAJES */
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track{  width: 100%;  display: grid;  grid-template-columns: 1fr 1fr;  justify-content: space-between; }
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track div{  margin-bottom: .5rem;  text-align: center; }
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track div input{  display: none;}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track div label{  cursor: pointer;  margin-bottom: 0 !important;  display: block;  border-radius: 5px;  width: 100%;  height: 100%;  padding: .5rem 0;  color: #fff;}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track div label:hover{  opacity: .7;}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track div label:active{  transform: scale(.95);}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track div:first-child label{  background: var(--primary-clr);}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track div:nth-child(2) label{  background: var(--bgc-title-content);}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track div:first-child input:checked + label{  background: #040E4C;  font-weight: bold;}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track div:nth-child(2) input:checked + label{  background: #0052AA;  font-weight: bold;}
.cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form #contmsgtrack div textarea{  width: 100%;  min-height: 130px;  border-radius: 10px 10px 0 10px;  outline: none;  padding: .5rem;  border: 1px solid #ccc;}
/* BOTÓN DE CONFIRMACIÓN */
.btn-confi-order-actions-track{  align-self: flex-end;  justify-self: flex-end;  width: 100%;}
.btn-confi-order-actions-track button{  border: none;  color: #fff;  padding: 0.5rem 1rem;  border-radius: 5px;  outline: none;  background: var(--secondary-clr);  align-self: flex-end;  justify-self: flex-end;  display: block;  width: 100%;  text-align: center;font-weight: 800;}
.btn-confi-order-actions-track button:hover{  opacity: .7;}
.btn-confi-order-actions-track button:active{  transform: scale(.95);}
/* MENSAJE DE PRODUCTOS EN RASTREO VACÍO */
.cont-products-order-info-cli_ttrq .content-msg-any-track-orders{  height: 100%;  display: flex;  width: 100%;  align-items: center;  justify-content: center;  line-height: 2.9rem;  background-color: var(--bgc-login);  min-height: 325px;border-radius: 1.5rem;}
.cont-products-order-info-cli_ttrq .content-msg-any-track-orders div{   width: 100%;}
.cont-products-order-info-cli_ttrq .content-msg-any-track-orders div img{width: 55px;height: 55px;margin-bottom: 1rem;}
.cont-products-order-info-cli_ttrq .content-msg-any-track-orders div svg{  color: rgba(0,0,0,.3);}
.cont-products-order-info-cli_ttrq .content-msg-any-track-orders div h1{margin: 0 0 0 0rem !important;color: var(--bgc-thead-car);font-size: 0.95rem;font-weight: bold;}
/* ESTILOS DE PRUEBA PARA EL LISTADO DE PEDIDOS POR TIENDA */
.prueba-track-contenedor{  width: 100%;  height: 100%;  list-style: none;  margin: 0;  padding: 0;}
.prueba-track-contenedor li{  display: flex;  align-items: center;  justify-content: center;} 
.prueba-track-contenedor li .prueba-track{  display: flex;  align-items: center;  justify-content: center;}
.prueba-track-contenedor li .prueba-track .prueba-track-img{  width: 100px;  height: 100px;}
.prueba-track-contenedor li .prueba-track .prueba-track-img div{  background-position: center;  background-size: contain;  background-repeat: no-repeat;  width: 100%;height: 100%;}
.prueba-track-contenedor li .prueba-track .prueba-track-desc{  display: flex;  flex-direction: column;}


/* MEDIA QUERIES */
@media (max-width: 900px){
  .cont-inf-prod-by-str-trackord{flex-direction: column;}
  #track_order .container-track-order_ttrq .content-track-order_ttrq section .cont-products-order-info-cli_ttrq{padding: 1.1rem 2rem 3rem 2rem;}
  .cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord{width: 100%;}
  .cont-inf-store-trackord-ttrq{text-align: center;justify-content: center;}
  .cont-inf-prod-by-str-trackord .cont-btns-actions-into-track{width: 100%;}
}
@media (max-width: 550px){
  #track_order .container-track-order_ttrq .content-track-order_ttrq > h1{font-size: 1.8rem;margin: .5rem 0 1.5rem 0 !important;}
  #track_order .container-track-order_ttrq .content-track-order_ttrq section .cont-products-order-info-cli_ttrq{padding: 1.1rem 1rem 3rem 1rem;}
  .cont-inf-store-trackord-ttrq > h1{font-size: 1.5rem !important;font-weight: bold;}
}
@media (max-width: 425px){
  #track_order .container-track-order_ttrq .content-track-order_ttrq section .cont-products-order-info-cli_ttrq{padding: 1rem;}
  .cont-products-order-info-cli_ttrq .content-msg-any-track-orders div{font-size: .55rem;}
  .cont-products-order-info-cli_ttrq .content-msg-any-track-orders div h1{font-size: 1rem;font-weight: bold;}
  .cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-img-prod-trackord{min-width: 90px;width: 90px;height: 90px;}
  .cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-inf-prod-trackord span:nth-child(2){font-size: 1rem;font-weight: bold;}
  .cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-inf-prod-trackord span:last-child{font-size: 0.8rem;}
}
@media (max-width: 375px){
  .cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track div label{font-size: .75rem;}
  .btn-confi-order-actions-track button{font-size: .75rem;}
  .cont-inf-store-trackord-ttrq > h1{font-size: 1.3rem !important;font-weight: bold;}
}
/* SOLUCIÓN DE BREAKPOINTS */
/* TAMAÑO - CUSTOMS(244px) */
@media (min-width: 244px){
  #track_order .container-track-order_ttrq .content-track-order_ttrq > h1{font-size: 1.5rem;}
  #cont-radio-stores-mw{max-width: 682px;}
  .cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord{flex-direction: column;}
  .cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-img-prod-trackord{margin-left: auto;margin-right: auto;margin-bottom: 0.5rem;}
  .cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-inf-prod-trackord{text-align: center;}
  .cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track{grid-template-columns: 1fr;grid-template-rows: 1fr 1fr;grid-row-gap: 0;}
}
/* TAMAÑO - MÓVIL(480px) */
@media (min-width: 480px){
  .cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord{display: grid;grid-template-columns: 100px auto;grid-column-gap: 1rem;}
  .cont-inf-prod-by-str-trackord .c-left-cont-inf-str-prod-trackord ul li .cont-left-inf-prod-into-trackord .cont-inf-prod-trackord{text-align: left;}
  .cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-radio-stores{width: 400px;}
  .cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-radio-stores div label{margin-left: 0 !important;}
  #track_order .container-track-order_ttrq .content-track-order_ttrq > h1{font-weight: 700;}
}
/* TAMAÑO - TABLET(768px) */
@media (min-width: 768px){
  .cont-products-order-info-cli_ttrq .cont-wrap-radio-stores .cont-radio-stores{width: 620px;}
  #track_order .container-track-order_ttrq .content-track-order_ttrq > h1{font-size: 1.8rem;margin-bottom: 2rem !important;}
}
/* TAMAÑO - PORTÁTIL(1024px) */
@media (min-width: 1024px){
  .cont-products-order-info-cli_ttrq .content-msg-any-track-orders div h1{font-size: 1.1rem;}
  .cont-products-order-info-cli_ttrq .content-msg-any-track-orders div img{width: 70px;height: 70px;}
}
/* TAMAÑO - DESKTOP HD(1400px) */
@media (min-width: 1400px){
  #track_order .container-track-order_ttrq .content-track-order_ttrq > h1{font-size: 2rem;}
  .cont-inf-prod-by-str-trackord .cont-btns-actions-into-track form .cont-btns-radio-track{grid-template-columns: 1fr 1fr;grid-template-rows: 1fr;grid-column-gap: .5rem;}
}