/*======== CONTENIDO - PRIMER FORMULARIO =========*/
.content-add-product {
  width: 80%;
  border-radius: 3px;
}
.product-content {
  padding: 0 0 0 0;
  margin-bottom: 1em;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 20px;
  box-shadow: 5px 15px 20px 0 rgba(0,0,0,.2);
}
.product-head {
  background: var(--head_contenedor);
  padding: 0.6em 1em;
  border-bottom: 1px solid var(--fondo);
  border-radius: 20px 20px 0 0;
}
.product-content:first-child > .form-content,
.product-content:nth-child(2) > .form-content,
.product-content:nth-child(3) > .form-content{
  padding: 1em;
  background: #fff;
}
.product-content:first-child > .form-content{
  border-radius: 0 0 20px 20px;
}
.product-content:nth-child(2) > .form-content{
  border-radius: 20px;
}
.product-content:nth-child(3) > .form-content{
  border-radius: 20px;
  height: 450px;
}
.product-controls {
  display: flex;
  flex-direction: row;
  margin: 0.7em 0;
  justify-content: space-between;
}
.label-product {
  width: 20%;
}
.product-controls:nth-child(2) {
  margin: 0 0;
}
.input-product {
  width: 75%;
  border: 1px solid var(--divisor);
  padding: 0.5em 0.6em;
}
.input-product.unidad {
  width: 20%;
}
.input-product.tipounidad {
  width: 50%;
}
/* APARTADO AGREGAR IMÁGENRES DEL PRODUCTO */
.product-controls-imgs {
  display: flex;
  flex-direction: row;
  margin: 0.7em 0;
  align-items: center;
  justify-content: space-between;
}
/*  IMÁGEN PRINCIPAL */
.product-controls-imgs .content-principal-img_product{
    width: 60%; 
}
.product-controls-imgs .content-principal-img_product .add-img-primary {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}
.product-controls-imgs .content-principal-img_product .add-img-primary .input-product-img:first-child{
  width: 100%;
  border: 1px solid var(--divisor);
  padding: 0.5em 0.6em;
}
.product-controls-imgs .content-principal-img_product .add-imgs-primary {
  margin-top: 0.5rem; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.product-controls-imgs .content-principal-img_product .add-imgs-primary .input-product-imgs:first-child{
  width: 100%;
  border: 1px solid var(--divisor);
  padding: 0.5em 0.6em;
  overflow: hidden;
}
/*  IMÁGENES SECUNDARIAS */
.product-controls-imgs .content-secondary-imgs_product{
    width: 35%; 
}
.product-controls-imgs .content-secondary-imgs_product .add-imgs-secondary{
  margin-top: 0.5rem;
}
.product-controls-imgs .content-secondary-imgs_product .add-imgs-secondary select{
  width: 100%;
  border: 1px solid var(--divisor);
  padding: 0.5em 0.6em;
}
/* AGREGAR MÁS IMÁGENES */
.content-add-more-imgs{
  width: 100%;
  border: 1px solid #ddd;
  padding: .4rem;
  height: 100px;   
}
/* PRECIO PRODUCTO */
.product-controls-precio {
  display: flex;
  flex-direction: row;
  margin: 0.7em 0;
  justify-content: space-between;
}
.label-product-precio {
  width: 20%;
}
.input-product-precio {
  width: 75%;
  border: 1px solid var(--divisor);
  padding: 0.5em 0.6em;
}
.product-controls-desc {
  display: flex;
  flex-direction: column;
  margin: 0.7em 0;
  height: 100%;
}
.product-controls-desc > p{
  margin-bottom: .5rem;
  font-weight: bold;
  font-size: .9rem;
}
.label-product-desc {
  width: 20%;
  margin-bottom: .5rem;
}
#cke_ckeditor {
  width: 100%;
}
.cke_contents.cke_reset{
  height: 250px !important;
}
/*======== BOTÓN AGREGAR PRODUCTO =================*/
.btn-add-product,
.btn-update-product,
.btn-delete-product {
  border: none;
  color: #fff;
  padding: 0.6em 2em;
  float: right;
  text-decoration: none !important;
  outline: none;
}
.btn-add-product:hover,
.btn-update-product:hover,
.btn-delete-product:hover{
  color: #fff;
}
/* AGREGAR */
.btn-add-product{
  background: var(--boton-saldo);
}
/* EDITAR */
.btn-update-product {
  background: var(--btn-update);
  border-radius: 20px;
}
#btn-product-update{
  margin-bottom: 20px;
  width: 30%;
}
/* ELIMINAR */
.btn-delete-product {
  background: var(--btn-delete);
  border-radius: 20px;
}
.btn-add-product:hover,
.btn-update-product:hover,
.btn-delete-product:hover  {
  cursor: pointer;
}
.btn-add-product:hover{
  opacity: .7;
}
.btn-update-product:hover{
  background:#0156B0 ;
}
.btn-delete-product:hover{
  background:#A02834;
}
.btn-add-product:active,
.btn-update-product:active,
.btn-delete-product:active {
  transform: scale(0.95);
}
.btn-add-product.add_cli-prods-ttrk{
  margin-bottom: 20px;
  width: 30%;
}
/* UPDATE PRODUCT */
#imgSrc{
  display: flex;
  margin: .7rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#imgSrc img{
  width: 100px;
  height: 100px;
  border:1px solid #ddd;
}
