.loader-cli{
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-cli > img{
  width: 550px;
}
.loader-cli.hidden{
  animation: Desva 1.2s;
  animation-fill-mode: forwards;
}
@keyframes Desva{
  100%{
      opacity: 0;
      visibility: hidden;
  }
}
@media (min-width: 1280px){
  .loader-cli > img{
    width: 700px;
  }  
}