.content-memb-ttrk > main > .content-memb-titles{
  color: #fff;
  margin: 1rem 0;
}
.content-memb-ttrk > main > .content-memb-titles h3{
  font-size: 1.4rem;
}
.content-memb-ttrk > header{
  height: auto;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}
.content-memb-ttrk > main > .content-memb-targets > .card-memb-item{
  background: #fff;
  border-radius: 0.25rem;
  padding: 1rem 1rem 2rem 1rem;
  max-width: 315px;
  width: 100%;
  line-height: 1.875rem;
  box-sizing: border-box;
  transition: ease .3s;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,.1);
  border: thin solid #e6e6e6;
}
.container-ttlp-memb{
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
      var(--principal-color) 30%,
      #fff 30%
      );
}
.content-memb-ttrk > main > .content-memb-targets{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 2rem;
}
.content-memb-ttrk > main > .content-memb-targets > .card-memb-item > h1{
  margin: 0.625rem 0;
  color: #F33B85;
  font-weight: 500;
  font-size: 2.2rem;
}
.content-memb-ttrk > main > .content-memb-targets > .card-memb-item > .cont-list-benefits{
  text-align: initial;
}
/************************** ESTILOS PARA EL HTML DESDE BASE DE DATOS **************************/
.cont-list-benefits ul,
.cont-list-benefits li{
  list-style: none;
}
.cont-list-benefits li{
  line-height: 1.35;
  margin-bottom: 0.4rem;
  position: relative;
}
.cont-list-benefits li:before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/icon-success-check-01.svg);
  position: absolute;
  left: -1.9rem;
  top: 0;
}
.cont-list-benefits p{
  line-height: 1.35;
  margin-bottom: 0.35rem;
  position: relative;
  left: -1.7rem;
}
.content-memb-ttrk > main > .content-memb-targets > .card-memb-item > h4{
  margin: 0 0 0.313rem 0;
  font-weight:600;
  font-size: 1.5rem;
  font-family: felix-titling;
  letter-spacing: .8rem;
}
.cont-cheaderMembership--c--m,
.contValid-cheaderMembership--c--m{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.cont-cheaderMembership--c--m--item,
.contValid-cheaderMembership--c--m--item{
  margin-right: auto; 
}
.cont-cheaderMembership--c--m--item:nth-child(2){
  margin-right: 1.5rem;
}
.contValid-cheaderMembership--c--m--item:nth-child(2){
  margin-right: auto;
  padding-right: 3rem;
}
.cont-cheaderMembership--c--m--item a,
.contValid-cheaderMembership--c--m--item a{
  display: table;
  max-width: 100px;
  width: auto;
  height: auto;
}
.cont-cheaderMembership--c--m--item:first-child a,
.contValid-cheaderMembership--c--m--item:first-child a{
  display: inline-block !important;
  width: 42px;
  height: 38px;
  margin-right: 1rem;
  box-shadow: 0 0 0 1px #fff;
  border-radius: .4rem;
  padding: .1rem;
  text-align: center;
  transition: ease-in-out .2s !important;
}
.cont-cheaderMembership--c--m--item:first-child a svg,
.contValid-cheaderMembership--c--m--item:first-child a svg{
  fill: #fff;
  position: relative;
  top: -3px;
}
.cont-cheaderMembership--c--m--item:first-child a:hover,
.contValid-cheaderMembership--c--m--item:first-child a:hover{
  background-color: #fff;
}
.cont-cheaderMembership--c--m--item:first-child a:hover svg,
.contValid-cheaderMembership--c--m--item:first-child a:hover svg{
  fill: var(--principal-color);
}
.cont-cheaderMembership--c--m--item a img,
.contValid-cheaderMembership--c--m--item a img{
  width: 100%;
  height: auto;
}
.cont-cheaderMembership--c--m--item:nth-child(3),
.contValid-cheaderMembership--c--m--item:nth-child(3){
  margin-left: auto;
  margin-right: unset;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cont-cheaderMembership--c--m--item:nth-child(3) a,
.contValid-cheaderMembership--c--m--item:nth-child(3) a{
  display: flex !important;
  align-items: center;
  text-align: center;
  color: #fff;
  max-width: unset;
  width: auto;
}
.cont-cheaderMembership--c--m--item:nth-child(3) a div,
.contValid-cheaderMembership--c--m--item:nth-child(3) a div{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.cont-cheaderMembership--c--m--item:nth-child(3) a div svg,
.contValid-cheaderMembership--c--m--item:nth-child(3) a div svg{
  fill: #fff;
}
.cont-cheaderMembership--c--m--item:nth-child(3) a span,
.contValid-cheaderMembership--c--m--item:nth-child(3) a span{
  display: none;
}
.cont-cheaderMembership--c--m--item:nth-child(3) a:hover div,
.contValid-cheaderMembership--c--m--item:nth-child(3) a:hover div{
  box-shadow: 0 0 10px 1px rgb(255 255 255);
}
.cont-cheaderMembership--c--m--item:nth-child(3) a:hover span,
.contValid-cheaderMembership--c--m--item:nth-child(3) a:hover span{
  text-shadow: 0 0 15px #fff;
}
/*=================================
=            NUEVO CSS            =
=================================*/
/*===================================
=            ANTIGUO CSS            =
===================================*/
.container-membership-ttrk{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: var(--background-color);
}
.content-memb-ttrk{
    max-width: 1199px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    margin: auto;
    position: relative;
    border-radius: 0.4rem;
}
.content-top-memb > .cont-memb-logo-ttrk > a{
    width: 100%;
    height: 100%;
}
.content-top-memb > .cont-memb-logo-ttrk > a > img{
    width: 100%;
    height: 100%;
}
/* TITULO DE LA TABLA DE MEMBRESÍAS */
.content-memb-ttrk > main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.content-memb-ttrk > main > .content-memb-targets > .card-memb-item > .cont-img-memb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 115px;
    margin: .5rem 0;
}
.content-memb-ttrk > main > .content-memb-targets > .card-memb-item > .cont-img-memb > .img-memb-itm{
    width: 50%;
    height: 100%;
}

.content-memb-ttrk > main > .content-memb-targets > .card-memb-item > a{
    color: #F04587;
    padding: 0.5rem 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    margin-top:auto;
    border-radius: 1.25rem;
    box-shadow: 0 0 0 2px #F04587 inset;
}
.content-memb-ttrk > main > .content-memb-targets > .card-memb-item > a:hover{
    background: #F04587;
    color: #fff;
}
.content-memb-ttrk > main > .content-memb-targets > .card-memb-item > a:active{
    transform: scale(.95);
}
/* MEDIAQUERIES - TABLA DE MEMBRESÍAS */
@media screen and(max-width: 1024px){
    .content-memb-ttrk > main > .content-memb-targets > .card-memb-item{
        width: 45%;
    }
}

/*===========================================================
=            MEDIA QUERIES INTO THIS STYLESSHEET            =
===========================================================*/
@media (min-width: 600px){
  .content-memb-ttrk > main > .content-memb-targets{
    grid-column-gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  } 
  .container-ttlp-memb{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(
        var(--principal-color) 30%,
        #fff 30%
        );
  }
}
@media (min-width: 1024px){
  .container-ttlp-memb{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(
        var(--principal-color) 40%,
        #fff 40%
        );
  }
}

@media (min-width: 1280px){
  .cont-cheaderMembership--c--m--item,
  .contValid-cheaderMembership--c--m--item{
    margin-right: unset;
    padding-left: 0.2rem;
  }
  .cont-cheaderMembership--c--m--item:nth-child(2),
  .contValid-cheaderMembership--c--m--item:nth-child(2){
    margin-left: .5rem;
    margin-right: auto;
    padding-right: 0;
  }
  .content-memb-ttrk{
    max-width: 1199px;
    width: 100%;
    padding: 1rem 3.75rem 0 3.75rem;
    text-align: center;
    margin: auto;
    position: relative;
    border-radius: 0.4rem;
  }
  .content-memb-ttrk > header{
    position: absolute;
    z-index: 999999;
    width: 100%;
  }
  .cont-cheaderMembership--c--m{
    justify-content: space-between;
  }
  .content-memb-ttrk > main > .content-memb-targets{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: ease all .5s;
    margin: 0 0 40px 0;
  }
  .content-memb-ttrk > main > .content-memb-targets > .card-memb-item > h1{
    margin: 0.625rem 0;
    color: #F33B85;
    font-weight: 500;
  }
	.content-memb-ttrk > main > .content-memb-targets > .card-memb-item > h4{
    margin: 0 0 0.313rem 0;
    font-weight:600;
	}
  .content-memb-ttrk > main{
    margin-top: 1rem;
  }
  .cont-cheaderMembership :last-child{
    margin-left: unset;
  }
  .cont-cheaderMembership--c--m--item:nth-child(3) a span{
    display: block;
  }
}