/************************** NUEVOS ESTILOS (INICIO) **************************/
#contProducts-Btnstop .bcontent-btns-top--m{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
}
#contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link{
  max-width: 340px;
  flex: 0 0 50%;
  margin-bottom: 1rem;
  border: thin solid transparent;
  border-radius: .5rem;
  transition: .15s ease-in-out;
}
#contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:hover{
  border: thin solid var(--boton-saldo);
}
#contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:first-child:hover li .bcontent-btns-top--m--item--cDesc .bcontent-btns-top--m--item--cDesc--conttotal{
  color: var(--boton-saldo);
}
#contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:nth-child(2):hover li .bcontent-btns-top--m--item--cDesc .bcontent-btns-top--m--item--cDesc--desc{
  color: var(--boton-saldo);
}
#contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item{
  color: #222;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #fff;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 12px 15px 1px rgb(0 0 0 / 10%);
}
#contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item .bcontent-btns-top--m--item--cImg{
  width: 140px;
  height: 140px;  
}
#contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item .bcontent-btns-top--m--item--cImg img{
  max-width: 100%;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item .bcontent-btns-top--m--item--cDesc{
  padding: 1rem;
}
#contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item .bcontent-btns-top--m--item--cDesc--cIcon{
  background-color: #ccc;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto .3rem auto;
}
#contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item .bcontent-btns-top--m--item--cDesc--cIcon i{
  color: #fff;
}
@media (min-width: 768px){
  #contProducts-Btnstop .bcontent-btns-top--m{
    flex-direction: row;
  }
  #contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:first-child{
    margin-right: 0.4rem;
  }
  #contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:nth-child(2){
    margin-left: 0.4rem;
  }
}
@media (min-width: 1024px){
  #contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:first-child{
    margin-right: 0.7rem;
  }
  #contProducts-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:nth-child(2){
    margin-left: 0.7rem;
  } 
}

/************************** NUEVOS ESTILOS (FIN) **************************/
.content-list-products-ad_cli-ttrk{
    overflow-y: scroll;
    display: flex;
    max-height: 380px;
    box-shadow: 5px 15px 20px 0 rgba(0,0,0,.2);
    border-radius: 20px;
    background: #fff;
    margin-bottom: 1rem;
}
.content-list-products-ad_cli-ttrk > .list-products{
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    border-radius: 15px;
}
.content-list-products-ad_cli-ttrk > .list-products > .thead-products > tr,
.content-list-products-ad_cli-ttrk > .list-products > .thead-products > td{
    text-align: left;
}
.content-list-products-ad_cli-ttrk > .list-products > thead > tr > th{
    padding: 1em;
}
.content-list-products-ad_cli-ttrk > .list-products > thead > tr > th:first-child{
    padding: 0 0 0 1em;
}
.content-list-products-ad_cli-ttrk > .list-products > tbody.tbody-products > tr > td{
    padding: 6px;
    border-top: 1px solid var(--divisor);
}
.content-list-products-ad_cli-ttrk > .list-products > tbody.tbody-products > tr > td:nth-child(4){
    min-width: 160px;
}
.content-list-products-ad_cli-ttrk > .list-products > tbody.tbody-products > tr > td:nth-child(5) p{
    margin-bottom: 0 !important;
}
.content-list-products-ad_cli-ttrk > .list-products > tbody.tbody-products > tr > td:nth-child(6),
.content-list-products-ad_cli-ttrk > .list-products > tbody.tbody-products > tr > td:nth-child(7),
.content-list-products-ad_cli-ttrk > .list-products > tbody.tbody-products > tr > td:nth-child(8){
    text-align: center;
}
.content-list-products-ad_cli-ttrk > .list-products > tbody.tbody-products > tr > td:nth-child(8){
    margin: 0;
    padding: 2px 0;
    width: 50px;
    height: 50px;
}
.content-list-products-ad_cli-ttrk > .list-products > tbody.tbody-products > tr > td:nth-child(8) > a > .img-list_adcli{
    width: 52px;
    height: 52px;
    border: 1px solid #ddd;
}
.content-list-products-ad_cli-ttrk > .list-products > tbody.tbody-products > tr:hover > td{
    background: var(--fondo);
}