/* IMPORTS ALL OF shop */
@import url(add-store.css);
@import url(add-to-wallet.css);
@import url(admin-profile.css);
@import url(cart-products.css);
@import url(chat-clients.css);
@import url(check-payment.css);
@import url(customs.css);
@import url(history-shippings.css);
@import url(membresias.css);
@import url(menu-sidebar-left.css);
@import url(orders.css);
@import url(products_v.css);
@import url(request_refund.css);
@import url(review-products_v.css);
@import url(sales_report.css);
@import url(sidebar-left.css);
@import url(tablero.css);
@import url(track-products.css);
@import url(trademarks_and_categories.css);
@import url(verify_m.css);
@import url(view-order.css);
@import url(wallet-detail.css);
@import url(whis-list.css);
@import url(media-queries-shop.css);


/* INCLUIR FUENTE EXTERNA EN FORMATO TTF */
@font-face
{
  font-family: “belleza”;
  src: url(“../fonts/felix-titling-mt.eot”);
  src: url(“../fonts/felix-titling-mt.eot”) format(“embedded-opentype”),
  url(“../fonts/felix-titling-mt.woff”) format(“woff”),
  url(“../fonts/felix-titling-mt.ttf”) format(“truetype”),
  url(“../fonts/felix-titling-mt.svg”) format(“svg”);
}

/* VARIABLES GLOBALES - shop */
:root {
  --fondo: #f3f3f3;
  --sidebar-nav: #fcfcfc;
  --borde-img: #eeeeee;
  --head_contenedor: #f8f8f8;
  --contenedor: #fff;
  --boton1: #0acf97;
  --boton1_icono: #54ddb6;
  --boton2: #fa5c7c;
  --boton2_icono: #fc8da4;
  --boton3: #ffbc00;
  --boton3_icono: #ffd04d;
  --boton4: #20b2aa;
  --boton4_icono: #6acbc6;
  --boton5: #3b4d9a;
  --boton5_icono: #7c88bb;
  --boton-saldo: #e62e04;
  --boton-saldo_hover: #ee7357;
  --boton-saldo_hover1: #991e02;
  --fuente: sans-serif;
  --fuente-payment: Arial, Helvetica, sans-serif;
  --editar: #507bff;
  --enlaces: #8b9199;
  --divisor: #ddd;
  --estado_pagado: #4cd964;
  --estado_nopagado: #ff3b30;
  --title-wallet: #303730;
  --check_icono: #008000;
  --boton-mercado: #3b4d9a;
  --boton-mercado_hover: #7c88bb;
  --state-color: #86ba85;
  --btn-update: #027cfd;
  --btn-delete: #d93747;
  --background-color:rgba(0,0,0,.01);
  --principal-color: #003857;
  --fuente-menbresia: "belleza";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente);
  background-color: #e6e6e6;
}
a{
  text-decoration: none !important; 
}
li {
  list-style: none;
}

@keyframes deslizarizquierda{
  0%{grid-template-columns: 98px auto;}
  10%{grid-template-columns: 105px auto;}
  20%{grid-template-columns: 130px auto;}
  30%{grid-template-columns: 150px auto;}
  40%{grid-template-columns: 180px auto;}
  50%{grid-template-columns: 200px auto;}
  60%{grid-template-columns: 220px auto;}
  70%{grid-template-columns: 240px auto;}
  80%{grid-template-columns: 260px auto;}
  90%{grid-template-columns: 280px auto;}
  100%{grid-template-columns: 315px auto;}
}

@keyframes deslizarderecha{
  0%{grid-template-columns: 315px auto;}
  10%{grid-template-columns: 280px auto;}
  20%{grid-template-columns: 260px auto;}
  30%{grid-template-columns: 240px auto;}
  40%{grid-template-columns: 220px auto;}
  50%{grid-template-columns: 200px auto;}
  60%{grid-template-columns: 180px auto;}
  70%{grid-template-columns: 150px auto;}
  80%{grid-template-columns: 130px auto;}
  90%{grid-template-columns: 105px auto;}
  100%{grid-template-columns: 98px auto;}
}

/*=======================================
=            UTILITIES CLASS            =
=======================================*/
.noimportant-mb{
  margin-bottom: unset !important;
}




/*===============================================================
=            OCULTAR EL SCROLLBAR DE LOS MODALES GUÍA            =
================================================================*/
/************************** CONTAINER  **************************/
/* ANCHO DE LA BARRA DE SCROLL */
.contmodal-guide::-webkit-scrollbar { width: 0;}
/* Estilos barra (thumb) de scroll */
.contmodal-guide::-webkit-scrollbar-thumb {background: transparent;}
.contmodal-guide::-webkit-scrollbar-thumb:active {background-color: #999999;}
.contmodal-guide::-webkit-scrollbar-thumb:hover {background: #b3b3b3;box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);}
/* Estilos track de scroll */
.contmodal-guide::-webkit-scrollbar-track {background: #e1e1e1;border-radius: 4px;}
.contmodal-guide::-webkit-scrollbar-track:hover, .contmodal-guide::-webkit-scrollbar-track:active {background: #d4d4d4;}
/* scrollling */
/* ANCHO DEL SCROLLING */
.contmodal-guide::-webkit-scrollbar {width: 0;}
.contmodal-guide::-webkit-scrollbar-thumb {background: #cccc;border-radius: 4px;}
.contmodal-guide::-webkit-scrollbar-thumb:active {background: #999999;}
.contmodal-guide::-webkit-scrollbar-thumb:hover {background: #b3b3b3;box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);}
.contmodal-guide::-webkit-scrollbar-track {background: #e1e1e1;}
.contmodal-guide::-webkit-scrollbar-track:active, .contmodal-guide::-webkit-scrollbar-track:hover {background: #d4d4d4;}
/*===========================================
=            CONTENIDO DEL MODAL            =
===========================================*/
#close-modal-guide,
#close-modal-guide-stepthre{
  display: none;
}
#close-icon-modal-guide,
#close-icon-modal-guide-stepthree{
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -8px;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 0 2px #fff;
}
#close-modal-guide + label,
#close-modal-guide-stepthre + label{
  animation-name: modalguidettrk;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
}
.contmodal-guide{
  position: fixed !important;
  z-index: 999 !important;
  background-color: rgba(0,0,0,.6) !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
  animation-name: modalguidettrk;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
}
#close-modal-guide:checked + label, 
#close-modal-guide:checked ~ .contmodal-guide,
#close-modal-guide-stepthre:checked + label,
#close-modal-guide-stepthre:checked ~ .contmodal-guide{
  display: none;
}
@keyframes modalguidettrk{
  100%{
    visibility: visible;
    opacity: 1;
  }
}

.contmodal-guide__content{
  background-color: #fff;
  max-width: 400px;
  width: 90%;
  height: auto;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
}
.contmodal-guide__content--tabtitles{
  margin-bottom: 0.5rem;
}
.contmodal-guide__content--tabtitles h2{
  text-transform: uppercase;
  font-size: 1.2rem;
}
.contmodal-guide__content--tabtitles .contmodal-guide__content--tabtitles__cont{
  position: relative;
  display: table;
  margin: auto;
}
.contmodal-guide__content--tabtitles .contmodal-guide__content--tabtitles__cont .contmodal-guide__content--tabtitles__cont--item{
  display: none;
  float: left;
}
.contmodal-guide__content--tabtitles .contmodal-guide__content--tabtitles__cont .contmodal-guide__content--tabtitles__cont--item.active{
  display: block;
}
.contmodal-guide__content--tablinks{
  background-color: #eee;
  border-radius: 10px;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.contmodal-guide__content--tablinks__link{
  display: table;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.contmodal-guide__content--tablinks__link span{
  background-color: #ddd;
  padding: 0.5rem .8rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 0 0 0 3px #ddd;
}
.contmodal-guide__content--tablinks__link.active span{
  background-color: #FB7904;
}
.contmodal-guide__content--tabcontent{
  position: relative;
  display: table;
  padding: 0.5rem;
}
.contmodal-guide__content--tabcontent__cont{
  float: left;
  background-color: #fff;
  display: none;
  text-align: left;
  line-height: 1.3;
}
.contmodal-guide__content--tabcontent__cont strong{
  font-weight: bold;
}
.contmodal-guide__content--tabcontent__cont.active{
  display: block;
}
.contmodal-guide__content--tabcontent__cont--continue{
  cursor: pointer !important;
  text-decoration: none;
  background-color: #FC3646;
  display: block;
  text-align: center;
  padding: .6rem;
  color: #fff !important;
  font-weight: 600;
}
.contmodal-guide__content--tabcontent__cont--continue:hover,
.contmodal-guide__content--tabcontent__cont--continue:active{
  background-color: #FD7983;
  color: #fff;
}
.contmodal-guide__content--tabcontent__cont--beforecomplete{
  text-decoration: none;
  background-color: #7092C0;
  display: block;
  text-align: center;
  padding: .6rem;
  color: #fff;
  font-weight: 600;
  margin-top: 0.5rem;
}

.contmodal-guide__content--tabcontent__cont--beforecomplete:hover,
.contmodal-guide__content--tabcontent__cont--beforecomplete:active{
   background-color: #9FB6D5;
}

/* MEDIA QUERIES INTO STYLES OF THE MODAL GUIDE */
@media (min-width: 768px){
  .contmodal-guide__content{
    padding: 1.5rem;
  }
  .contmodal-guide__content--tabtitles h2{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .contmodal-guide__content--tabtitles .contmodal-guide__content--tabtitles__cont .contmodal-guide__content--tabtitles__cont--item span{
    font-size: 1rem;
    font-weight: bold;
  }
  .contmodal-guide__content--tabcontent__cont{
    line-height: unset;
  }
  .contmodal-guide__content--tabcontent__cont p{
    font-size: 1rem;
  }
}
@media (min-width: 992px){
  .contmodal-guide{
    top: 0 !important;
  }
}
@media (min-width: 1200px){
  .contmodal-guide__content--tabcontent__cont--beforecomplete,
  .contmodal-guide__content--tabcontent__cont--continue{
    padding: 1rem;
  }
  .contmodal-guide__content--tabcontent__cont p{
    font-size: 1.05rem;
  }
}




.container-total #content-list-products-ad_cli-ttrk {
  width: 100%;
}
/* OCULTAR LA PRIMERA OPCIÓN DENTRO DEL SELECT */
.select-onehidden > option:first-child {
  display: none;
}

/* MENSAJES PARA REGISTROS VACÍOS*/
.content-any-data-wallet,
.content-any-data-hs,
.content-any-data-sr,
.content-any-data-rrfund,
.content-any-data-orders,
.content-any-data-reviewprods,
.content-any-data-products,
.content-any-data-marcas,
.content-any-data-categorias,
.content-any-data-sales-report{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.content-any-data-wallet > i,
.content-any-data-hs > i,
.content-any-data-sr > i,
.content-any-data-rrfund > i,
.content-any-data-orders > i,
.content-any-data-reviewprods > i,
.content-any-data-products > i,
.content-any-data-marcas > i,
.content-any-data-categorias > i,
.content-any-data-sales-report > i{
  font-size: 2.5rem;
  color: rgba(0,0,0,.3) !important;
  margin-bottom: 0.5rem;
}
.content-any-data-wallet > h1,
.content-any-data-hs > h1,
.content-any-data-sr > h1,
.content-any-data-rrfund > h1,
.content-any-data-orders > h1,
.content-any-data-reviewprods > h1,
.content-any-data-products > h1,
.content-any-data-marcas > h1,
.content-any-data-categorias > h1,
.content-any-data-sales-report> h1{
  color: rgba(0,0,0,.3) !important;
  font-size: 1rem !important;
}

/*===========================================================
=            MEDIA QUERIES INTO THIS STYLESSHEET            =
===========================================================*/
@media (min-width: 300px){

}

@media (min-width: 320px){
  
}

@media (min-width: 360px){
  
}

@media (min-width: 480px){
  
}

@media (min-width: 768px){
  
}

@media (min-width: 1024px){
  
}

@media (min-width: 1280px){
  .content-any-data-wallet > h1,
  .content-any-data-hs > h1,
  .content-any-data-sr > h1,
  .content-any-data-rrfund > h1,
  .content-any-data-orders > h1,
  .content-any-data-reviewprods > h1,
  .content-any-data-products > h1,
  .content-any-data-marcas > h1,
  .content-any-data-categorias > h1,
  .content-any-data-sales-report> h1{
    color: rgba(0,0,0,.3) !important;
    font-size: 1.5rem !important;
  }  
}

@media (min-width: 1400px){
  
}