.content-track{
    display: grid;
    grid-template-rows: 5.7% auto;
    grid-template-areas: "contenido-top"
                         "contenido bottom";   
}

.content-tracking{
    border-radius: 3px;
    padding: .8em;
    max-width: 990px;
    border-radius: 20px;
}
.track-info{
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 1fr;
    grid-template-areas: "top-track"
                         "bottom-track";
    border: 1px solid var(--divisor);
    padding: 1em 1em  0 1em;
    margin-bottom: 1em;
    background:#fff;
    box-shadow: -1px 8px 10px -1px rgba(0,0,0,.12);
    border-radius: 20px;
}
.top-track{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-bottom: 1em;
}
.bottom-track{
    display: grid;
    grid-template-columns:10% 50% 20% 15% 5%;
    grid-template-rows: 1;
}
.title-state{
    font-size: 1.4em;
    color: var(--state-color);
}
.subtitle-track-date{
    font-size: .8em;
}
.track-envío{
    text-decoration: none;
    color: #fff;
    background: var(--boton-mercado);
    padding: .5em 1em;
    border-radius: 3px;
    box-shadow: -2px 3px 5px -2px #000;
    font-weight: bold;
    font-size: .9em;
}
.track-envío:hover{
    opacity: .7;
}
.track-envío:active{
    transform:scale(.95) ;
}
.track-name-product{
    text-decoration: none;
    font-size: 1em;
}
.track-price-product{
    font-size: .8em;
}
.track-talla-product{
    font-size: .7em;
}
.enterprise-to-the-product,
.track-telephone-enterprise,
.track-email-enterprise{
    font-size:.85em;
}
.track-send-message{
    text-decoration: none;
}
.track-view-detail{
    font-size: .85em;
    text-decoration: none;
    text-align: right;
}
.track-options{
    text-decoration: none;
    font-size: .8em;
    text-align: center;
}