/************************** NUEVOS ESTILOS (INICIO) **************************/
#contWallet-Btnstop .bcontent-btns-top--m{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
}
#contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link{
  max-width: 340px;
  width: 100%;
  flex: 0 0 50%;
  margin-bottom: 1rem;
  border: thin solid transparent;
  border-radius: .5rem;
  transition: .15s ease-in-out;
}
#contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:hover{
  border: thin solid var(--boton-saldo);
}
#contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:first-child:hover li .bcontent-btns-top--m--item--cDesc .bcontent-btns-top--m--item--cDesc--text{
  color: var(--boton-saldo);
}
#contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:nth-child(2):hover li .bcontent-btns-top--m--item--cDesc .bcontent-btns-top--m--item--cDesc--desc{
  color: var(--boton-saldo);
}
#contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item{
  color: #222;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #fff;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 12px 15px 1px rgb(0 0 0 / 10%);
}
#contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item .bcontent-btns-top--m--item--cImg{
  width: 140px;
  height: 140px;  
}
#contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item .bcontent-btns-top--m--item--cImg img{
  max-width: 100%;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: 20% 10%;
}
#contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item .bcontent-btns-top--m--item--cDesc{
  padding: 1rem;
}
#contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item .bcontent-btns-top--m--item--cDesc--cIcon{
  background-color: #ccc;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto .3rem auto;
}
#contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item .bcontent-btns-top--m--item--cDesc--cIcon i{
  color: #fff;
}
#contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--item .bcontent-btns-top--m--item--cDesc--text{
  margin-bottom: 0.5rem;
  font-weight: bold;
}
@media (min-width: 768px){
  #contWallet-Btnstop .bcontent-btns-top--m{
    flex-direction: row;
  }
  #contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:first-child{
    margin-right: 0.4rem;
  }
  #contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:nth-child(2){
    margin-left: 0.4rem;
  }
}
@media (min-width: 1024px){
  #contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:first-child{
    margin-right: 0.7rem;
  }
  #contWallet-Btnstop .bcontent-btns-top--m .bcontent-btns-top--m--link:nth-child(2){
    margin-left: 0.7rem;
  } 
}
/************************** NUEVOS ESTILOS (FIN) **************************/

/*=================================
=            NUEVO CSS            =
=================================*/
.btns-options-wallet{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 2em;
}
/*=================================
=            NUEVO CSS            =
=================================*/
/*===================================
=            ANTIGUO CSS            =
===================================*/
.btns-options-wallet__links{
    display: grid;
}
.btns-options-wallet__links:nth-child(2){
  position: relative;
}
.text-desc-rechargewallet{
    color: #000;
}
.text-desc-addtowallet{
    color: steelblue !important;
    padding: 0 !important;
    background: transparent !important;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.btns-options-wallet a{
    color: #fff;
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;
}
.btns-options-wallet a:nth-child(2){
  background-color: #fff;
}
.btns-options-wallet a:hover{
    color: #fff;
}
.btns-options-wallet a i{
    margin-bottom: 1em;
}
.btns-options-wallet a.wallet-detail li div:nth-child(2) h4{
    margin-bottom: 0 !important;
}
/*//////////// BOTONES DE DETALLE DE BILLETERA ///////////  */
.wallet-detail {
    background: var(--boton1);
}
.wallet-detail li {
    font-weight: bold;
}
.wallet-detail li p{
    font-weight: lighter;
    font-size: .7em;
    margin-bottom: 0 !important;
}
.wallet-detail i{
    background: var(--boton1_icono);
    padding: .8em;
    border-radius: 50%;
    transition:ease all .4s;
}
/*//////////// BOTONES DE AGREGAR A BILLETERA ///////////  */
.add-to-wallet{
    background: #fff;
    height: 100%;
    transition: ease all .3s;
}
.add-to-wallet i{
    color: #fff;
    background: var(--divisor);
    border-radius: 50%;
    padding: .8em;
    transition:ease all .4s;
}
.add-to-wallet li{
    color: red;
}
/*//////////// TABLA DE HISTORIAL DE RECARGAR D BILLETERA ///////////  */
.content-list-history-wallet-ad_cli-ttrk{
    box-shadow: 5px 15px 20px 0 rgba(0,0,0,.2);
    overflow: hidden;
    margin-bottom: 1rem;
}
.content-list-history-wallet-ad_cli-ttrk > .content-wallet{
    background: var(--head_contenedor);
    border-radius: 20px 20px 0 0;
}
.content-list-history-wallet-ad_cli-ttrk > .content-wallet > .content-history-wallet > .cabecera-wallet{
    padding: 1em 1.5em;     
    border-bottom: 1px solid #ddd;
}
.cont-tablelist-wallet{
  background-color: #fff;
  overflow-x: auto;
  box-shadow: 5px 12px 20px 0 rgba(0,0,0,.2);
  border-radius: 0 0 20px 20px;
}
.wallet-table{
    background: #fff;
    width: 100%;
    text-align: left;
    font-size: .9em;
    border-collapse: collapse;
}
.wallet-table > thead > tr > th{
    padding:1em 1em;
}
.wallet-table > tbody > tr > td{
    padding:1em 1em;
    border-top: 1px solid var(--fondo);
}
.wallet-table > tbody > tr:hover{
    background: var(--fondo);
}
.wallet-table > tbody > tr > td:first-child{
    color: red;
}
.wallet-table > tbody > tr > td:nth-child(2),
.wallet-table > tbody > tr > td:nth-child(5){
  min-width: 160px;
}
.wallet-table > thead > tr > th:first-child{
    width: 20px;
}

/*===========================================================
=            MEDIA QUERIES INTO THIS STYLESSHEET            =
===========================================================*/
@media (min-width: 300px){

}

@media (min-width: 320px){
  
}

@media (min-width: 360px){
  
}

@media (min-width: 480px){
  
}

@media (min-width: 600px){
 .btns-options-wallet{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
 } 
}

@media (min-width: 768px){
  .btns-options-wallet{
    display: flex;
    gap: 1rem;
 }
 .btns-options-wallet a{
    width: 330px;
 }
}

@media (min-width: 1024px){
  
}

@media (min-width: 1280px){
  .btns-options-wallet{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 2em;
  }
}

@media (min-width: 1400px){
  
}